<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/bluedevil-5.6.95.tar.xz">bluedevil-5.6.95</a></td>
   <td align="right">133kB</td>
   <td><tt>a9330cb4828fbc49ac6ff4ec04b8e7e33b221d533ed7aff280bea4d1ccb1ff75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/breeze-5.6.95.tar.xz">breeze-5.6.95</a></td>
   <td align="right">11MB</td>
   <td><tt>6708f5a7dd353da0e10e08d66635cb023b7afd4f4f0d6bb5377fc0070cbe66df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/breeze-grub-5.6.95.tar.xz">breeze-grub-5.6.95</a></td>
   <td align="right">150kB</td>
   <td><tt>76a5bc6fc1fc3d0b947aa52ebdae779a513cf887b0c55a3346e01aa03f9f328c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/breeze-gtk-5.6.95.tar.xz">breeze-gtk-5.6.95</a></td>
   <td align="right">205kB</td>
   <td><tt>f70f1ed16cd135702d3ee3e536a9bd4ea22e67ba1f27aa5c239a4e3e5f4e14a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/breeze-plymouth-5.6.95.tar.xz">breeze-plymouth-5.6.95</a></td>
   <td align="right">55kB</td>
   <td><tt>879ca35e59633f7cc69374b3293bbfb925fae289a9e85d82072ef3a4bb1d369c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/discover-5.6.95.tar.xz">discover-5.6.95</a></td>
   <td align="right">789kB</td>
   <td><tt>a53de558be80ab0595b7230f07d807d18610e7f4f3ea10db9e8799f747119d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kactivitymanagerd-5.6.95.tar.xz">kactivitymanagerd-5.6.95</a></td>
   <td align="right">77kB</td>
   <td><tt>621cd7af4bfbdb57082ca80f4628c2a65ba49b5e6c3e63383d9068e12e2d3648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kde-cli-tools-5.6.95.tar.xz">kde-cli-tools-5.6.95</a></td>
   <td align="right">473kB</td>
   <td><tt>5406946163a31ff1f1844a08091ad6a8c3dc34a2e6dbd3e1c4e1cb8d910e267f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kdecoration-5.6.95.tar.xz">kdecoration-5.6.95</a></td>
   <td align="right">33kB</td>
   <td><tt>ea6749b157717a12e6c80513956963bb06785ce8dca87a803838ec5f030ed79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kde-gtk-config-5.6.95.tar.xz">kde-gtk-config-5.6.95</a></td>
   <td align="right">143kB</td>
   <td><tt>8c6567d860476c7dffa961d12f1fdcc64e87b1998bcfec74f4e56563755c9255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kdeplasma-addons-5.6.95.tar.xz">kdeplasma-addons-5.6.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>07d55709cbb805c15a33968a5433188564df2cf1e1540cf7b76ae3e3fb0bf140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kgamma5-5.6.95.tar.xz">kgamma5-5.6.95</a></td>
   <td align="right">58kB</td>
   <td><tt>7ec04855dc1eb03412470dae66e5cae84fdcee01130ce64f8e8640a22747d9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/khotkeys-5.6.95.tar.xz">khotkeys-5.6.95</a></td>
   <td align="right">587kB</td>
   <td><tt>2468ff38afbe911633b0a864494dd7948515d9ee377f3d34f84b31d3cc15d132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kinfocenter-5.6.95.tar.xz">kinfocenter-5.6.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>65f160bd04101160b65010bd7f94ad0503ba21cafa367a34d741cfa775161c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kmenuedit-5.6.95.tar.xz">kmenuedit-5.6.95</a></td>
   <td align="right">428kB</td>
   <td><tt>4364e20a08af35fbe39c4ceda59e08a054ada38e65214a892d97f9657ab10c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kscreen-5.6.95.tar.xz">kscreen-5.6.95</a></td>
   <td align="right">105kB</td>
   <td><tt>4115340091656973f53777f39e202d3393f3a26beb9130a5f0ac49216045d48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kscreenlocker-5.6.95.tar.xz">kscreenlocker-5.6.95</a></td>
   <td align="right">98kB</td>
   <td><tt>cdc5a75aec24651e0cb753d648812190455f48e535d3f298c116dc2d276469ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/ksshaskpass-5.6.95.tar.xz">ksshaskpass-5.6.95</a></td>
   <td align="right">18kB</td>
   <td><tt>00b7b72f92b17d81bdea9fb60df5f25c1e74bc2434067fa9bca2f9f5ea27edf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/ksysguard-5.6.95.tar.xz">ksysguard-5.6.95</a></td>
   <td align="right">473kB</td>
   <td><tt>29bc6ee34f821ce9533e136690459d1f402bdae1b46015774b908afe967a5464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kwallet-pam-5.6.95.tar.xz">kwallet-pam-5.6.95</a></td>
   <td align="right">17kB</td>
   <td><tt>7ef27016e2d39d83fc1fe54e8ed26d52462cd3eaf62b164ae84ced3131fe36cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kwayland-integration-5.6.95.tar.xz">kwayland-integration-5.6.95</a></td>
   <td align="right">17kB</td>
   <td><tt>aefbc09d4fe58762e8092fd9b3352a44e3af47affbaec7f4e07e8461f1d1a7a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kwin-5.6.95.tar.xz">kwin-5.6.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>e89714549386617ea14676a877635796c3601968ded3548c807f3ba291054c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/kwrited-5.6.95.tar.xz">kwrited-5.6.95</a></td>
   <td align="right">19kB</td>
   <td><tt>32b33994ac5b2bf737b3850e852459a2506b9840f29b6935c3846c073c0c24bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/libkscreen-5.6.95.tar.xz">libkscreen-5.6.95</a></td>
   <td align="right">87kB</td>
   <td><tt>545d4e509582e518881338675bb3c580b07a4f9eb70a2c42380a04ad3a6e242e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/libksysguard-5.6.95.tar.xz">libksysguard-5.6.95</a></td>
   <td align="right">552kB</td>
   <td><tt>61cc53d28217adba84586d90fcb2d0d094fb67669c2b9bc7b9a56b04dac41edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/milou-5.6.95.tar.xz">milou-5.6.95</a></td>
   <td align="right">52kB</td>
   <td><tt>a6c437dc530ce344eb3bb3ce72f1c6f184dc31b994f928aa2ce1a2e5ed71815b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/oxygen-5.6.95.tar.xz">oxygen-5.6.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>03a21bde1c5b699a435f795ba32c4bca732fc74d9aae0be9ea34f4efaf9d6e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-desktop-5.6.95.tar.xz">plasma-desktop-5.6.95</a></td>
   <td align="right">5.8MB</td>
   <td><tt>dcb45bca8c17eb6e2d73497ee45eca3bcf9f5e9c6c30cc2a82aaf08f3b7c9af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-integration-5.6.95.tar.xz">plasma-integration-5.6.95</a></td>
   <td align="right">46kB</td>
   <td><tt>64fd68e7cdf22743e467a62f52431c39f82f81513d3dc0f8685a0e38a67622ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-mediacenter-5.6.95.tar.xz">plasma-mediacenter-5.6.95</a></td>
   <td align="right">156kB</td>
   <td><tt>583e6e746b4020dca2ce90da1a56550a9cd4afa85f920e525039e18f70435501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-nm-5.6.95.tar.xz">plasma-nm-5.6.95</a></td>
   <td align="right">600kB</td>
   <td><tt>e206a05826398141b7ed5f04cceac8af50748e90e69e165fc3130c8da0e0c58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-pa-5.6.95.tar.xz">plasma-pa-5.6.95</a></td>
   <td align="right">55kB</td>
   <td><tt>933f426b43bfa3baf867ad0e657290a675b94f6345a7d794f63d8f406fcea4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-sdk-5.6.95.tar.xz">plasma-sdk-5.6.95</a></td>
   <td align="right">675kB</td>
   <td><tt>67339c0301e7cf721355f02da289c7204137a82da78b440513d1f44d67f7d8df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-workspace-5.6.95.tar.xz">plasma-workspace-5.6.95</a></td>
   <td align="right">6.4MB</td>
   <td><tt>308003ebdc18a3cfe63335340c7651cacab67cd99c06ca0148b220affc4b75de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/plasma-workspace-wallpapers-5.6.95.tar.xz">plasma-workspace-wallpapers-5.6.95</a></td>
   <td align="right">43MB</td>
   <td><tt>a4e43a5584ca17800dcecb3e47b7f8de051fde9966f3d66fe4307f84cc471187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/polkit-kde-agent-1-5.6.95.tar.xz">polkit-kde-agent-1-5.6.95</a></td>
   <td align="right">38kB</td>
   <td><tt>12d5f0d597ba96110d3e3acf65d0bb560e2133ddd513b78991295ff60aa83b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/powerdevil-5.6.95.tar.xz">powerdevil-5.6.95</a></td>
   <td align="right">346kB</td>
   <td><tt>001843ba3df8211b7bbe4b21132e959231471c074c81fde4aa606d0a23c45091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/sddm-kcm-5.6.95.tar.xz">sddm-kcm-5.6.95</a></td>
   <td align="right">46kB</td>
   <td><tt>8d473da0fefb8a6cc8b618bcf7186b0d3d304d74633b46c7957549d43573b33b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/systemsettings-5.6.95.tar.xz">systemsettings-5.6.95</a></td>
   <td align="right">152kB</td>
   <td><tt>7b5dd19d1388f060c86b3d6c863f59c6bc9de38eafaa994c007e9999044b2ed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.6.95/user-manager-5.6.95.tar.xz">user-manager-5.6.95</a></td>
   <td align="right">271kB</td>
   <td><tt>f36acab94c95a380350a6f1d739c43a83c640778cec8d8c77f36255d95d6449c</tt></td>
</tr>

</table>
