<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/bluedevil-5.25.1.tar.xz">bluedevil-5.25.1</a></td>
   <td align="right">169kB</td>
   <td><tt>6f844bced6ea7ebc84d9db4a6c81abd1dd08dd85326be0ccdd7a9049c5efabb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/breeze-5.25.1.tar.xz">breeze-5.25.1</a></td>
   <td align="right">29MB</td>
   <td><tt>502b88efa1c220639d940bd1e397ee83d82c041e2367e5ece978b8dad6ee1c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/breeze-grub-5.25.1.tar.xz">breeze-grub-5.25.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>306753e6fc2e71d8204688f094a8e8a77a644aeb22ffb9f89442bfed241b2c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/breeze-gtk-5.25.1.tar.xz">breeze-gtk-5.25.1</a></td>
   <td align="right">44kB</td>
   <td><tt>d09be1abb2dee7a0c9627daeb232818461bf1cdecbfce9e03da3f088333df053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/breeze-plymouth-5.25.1.tar.xz">breeze-plymouth-5.25.1</a></td>
   <td align="right">108kB</td>
   <td><tt>9ea6b68b86056f493795a6889c6bd36ce1d23ba773df236c6d427fbd0095f976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/discover-5.25.1.tar.xz">discover-5.25.1</a></td>
   <td align="right">7.9MB</td>
   <td><tt>3a716ef8273a456fa1d38d7a17b64303204c89ec5356858bdcf9d2ee3089f5b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/drkonqi-5.25.1.tar.xz">drkonqi-5.25.1</a></td>
   <td align="right">473kB</td>
   <td><tt>c0b7e1d7949d629617abdde9aafd6704ddb2b66a253cceaa07ab45a055ffea90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kactivitymanagerd-5.25.1.tar.xz">kactivitymanagerd-5.25.1</a></td>
   <td align="right">103kB</td>
   <td><tt>60726c7f4176cc99adca5f924f7d465f7a983e274e7de9b52853417413f04bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kde-cli-tools-5.25.1.tar.xz">kde-cli-tools-5.25.1</a></td>
   <td align="right">616kB</td>
   <td><tt>28859ea6adc48b8b934edbaef4ef526644d7403b9cfd83245653728f88e6670f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kdecoration-5.25.1.tar.xz">kdecoration-5.25.1</a></td>
   <td align="right">48kB</td>
   <td><tt>632c410dc46f28d507aeea73665e11cf4abdfaba63cbd36a160e9c019898f195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kde-gtk-config-5.25.1.tar.xz">kde-gtk-config-5.25.1</a></td>
   <td align="right">70kB</td>
   <td><tt>d2a724923a06cbd14f120f6f1dee985a687085e97a206a60ecc3eaf2a5fd589f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kdeplasma-addons-5.25.1.tar.xz">kdeplasma-addons-5.25.1</a></td>
   <td align="right">642kB</td>
   <td><tt>0dc5e9622380d10a1ae1e01ccf780e4950aa6a87def64f3ccaf16be5ef4ce692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kgamma5-5.25.1.tar.xz">kgamma5-5.25.1</a></td>
   <td align="right">82kB</td>
   <td><tt>e2ad96f6ae2e809121f2b085a4fa07c1648df01a81e93cd2c2312439fa5288dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/khotkeys-5.25.1.tar.xz">khotkeys-5.25.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0fa2bf702b1e5bfe7a3f0025e9acb479747074549a5ebd3c53be1627715b2992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kinfocenter-5.25.1.tar.xz">kinfocenter-5.25.1</a></td>
   <td align="right">713kB</td>
   <td><tt>d8d57620777c955f0aa2e25ce9205be052cdbb962d166effbec1a3ff01ced15f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kmenuedit-5.25.1.tar.xz">kmenuedit-5.25.1</a></td>
   <td align="right">883kB</td>
   <td><tt>b3d604b7588f7284a24dea8f0ba1a9cc7c10762556563ae56a8f7aae584bf36c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kscreen-5.25.1.tar.xz">kscreen-5.25.1</a></td>
   <td align="right">139kB</td>
   <td><tt>4a417c55d9c97e617484b699553a68f7acd86b5843149b72993c00a09652d4b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kscreenlocker-5.25.1.tar.xz">kscreenlocker-5.25.1</a></td>
   <td align="right">110kB</td>
   <td><tt>a7567a8266b5120db8b319e96e29f6cb2fb27490f33b83998f227f28834214ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/ksshaskpass-5.25.1.tar.xz">ksshaskpass-5.25.1</a></td>
   <td align="right">24kB</td>
   <td><tt>35a4ef31bcc03ccda69b60dfca74f56fe72bc6b4497afc34b17832966f94b5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/ksystemstats-5.25.1.tar.xz">ksystemstats-5.25.1</a></td>
   <td align="right">96kB</td>
   <td><tt>16c51896b906e58a2ed7ffb2ccf7f5b9c956b62a7d2b1f65845e3c22bc86e632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kwallet-pam-5.25.1.tar.xz">kwallet-pam-5.25.1</a></td>
   <td align="right">20kB</td>
   <td><tt>9df3fec557e063208c1cbc1494e9bde76012144f57c3712e0c05505235b52bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kwayland-integration-5.25.1.tar.xz">kwayland-integration-5.25.1</a></td>
   <td align="right">23kB</td>
   <td><tt>412c470210593e0d3624370edf8d17f5a58145bafd3b7a2e8f5377e48ecc00e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kwin-5.25.1.tar.xz">kwin-5.25.1</a></td>
   <td align="right">6.3MB</td>
   <td><tt>1d39953c907c71411eb870ce2039501abb84ce202e8c226b6372227e436f3ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/kwrited-5.25.1.tar.xz">kwrited-5.25.1</a></td>
   <td align="right">20kB</td>
   <td><tt>1feebec258096c8d88a4b7108c585f2ab4a792e35c1acc98b0606ffe67a2f83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/layer-shell-qt-5.25.1.tar.xz">layer-shell-qt-5.25.1</a></td>
   <td align="right">17kB</td>
   <td><tt>aca4b73393015a6d96c124ac87126e28d4ffdbad8bf5d601616622f0836f0152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/libkscreen-5.25.1.tar.xz">libkscreen-5.25.1</a></td>
   <td align="right">97kB</td>
   <td><tt>af0887cf01b3954268d9a51791f78f485896e04d295f86e6d49fd955995a6dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/libksysguard-5.25.1.tar.xz">libksysguard-5.25.1</a></td>
   <td align="right">753kB</td>
   <td><tt>c6fa1dc61132ac41d15501328f86f62de73b3d845bc264d831fdbd041929c4f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/milou-5.25.1.tar.xz">milou-5.25.1</a></td>
   <td align="right">47kB</td>
   <td><tt>09cc5c0184e1c8e37a3b0e7ba8073dff065615ae8f8c7b469f439ab48c68862a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/oxygen-5.25.1.tar.xz">oxygen-5.25.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1b90802f4da526be4d5fd83c8a401971598d0edb4547a9540296d25f0fdfa0ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/oxygen-sounds-5.25.1.tar.xz">oxygen-sounds-5.25.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>07070a2629c45baa57e3c4f5302fe2b1d92ce3eb40d48581f7926f86bf1fe293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-browser-integration-5.25.1.tar.xz">plasma-browser-integration-5.25.1</a></td>
   <td align="right">218kB</td>
   <td><tt>d15cec441ac36daa8f27fc805907dcd66a0c8325f000123e8b1274bd1a391290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-desktop-5.25.1.tar.xz">plasma-desktop-5.25.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>a50c672e72f1688c41e7707286d7a4fe34f0cb3790919ff665cedba689042dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-disks-5.25.1.tar.xz">plasma-disks-5.25.1</a></td>
   <td align="right">88kB</td>
   <td><tt>da9c41e049fd645c3107e612e57c8ed61a8341b4d67f6cdbf2647e33ea7c24ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-firewall-5.25.1.tar.xz">plasma-firewall-5.25.1</a></td>
   <td align="right">346kB</td>
   <td><tt>6358e9c76dc0bed81ce01e715834eef775aba3dc67eb0471cd0f1804f609376e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-integration-5.25.1.tar.xz">plasma-integration-5.25.1</a></td>
   <td align="right">84kB</td>
   <td><tt>f2b132b0374e21eb5c49c4871336d85f1c5ed3fcf36b8bf4960b8959ae5cb727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-mobile-5.25.1.tar.xz">plasma-mobile-5.25.1</a></td>
   <td align="right">142kB</td>
   <td><tt>9eed352e4549b3d0eb905f23463e07f226871e64811a07d04bef27f97d37af11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-nano-5.25.1.tar.xz">plasma-nano-5.25.1</a></td>
   <td align="right">66kB</td>
   <td><tt>dec13e02b67f20bec8291843a724f8fe27a45155064cfa9ce699cc8931fa8d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-nm-5.25.1.tar.xz">plasma-nm-5.25.1</a></td>
   <td align="right">914kB</td>
   <td><tt>8973526de047563e7c93185b143606d897a644c694ec9d96f05b52114c233104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-pa-5.25.1.tar.xz">plasma-pa-5.25.1</a></td>
   <td align="right">132kB</td>
   <td><tt>a1a55baa64ce00214087d312294ed4b673a80509a77abfe2683ac826dce03adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-sdk-5.25.1.tar.xz">plasma-sdk-5.25.1</a></td>
   <td align="right">257kB</td>
   <td><tt>e73d5a0ac7ef87d5643867a8676e5a818daef7894af86ba9b712776f2061c9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-systemmonitor-5.25.1.tar.xz">plasma-systemmonitor-5.25.1</a></td>
   <td align="right">152kB</td>
   <td><tt>be9bca58fdc53eabf52d87eb6f7b347b3922f1314513b12b10d99489ad2cd5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-tests-5.25.1.tar.xz">plasma-tests-5.25.1</a></td>
   <td align="right">1kB</td>
   <td><tt>8fb085e7bacbc3a0d748300c767e7e2ea7a9911d6d26d9ea39bb8f3273f4bbed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-thunderbolt-5.25.1.tar.xz">plasma-thunderbolt-5.25.1</a></td>
   <td align="right">66kB</td>
   <td><tt>80971643f1fbf05f93603b240e2eb0f313d66e988e345839279be0ab74d192a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-vault-5.25.1.tar.xz">plasma-vault-5.25.1</a></td>
   <td align="right">174kB</td>
   <td><tt>c85c7151ce12130e33df5241642811a703fbc314687e50a725df389a2e69ea96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-workspace-5.25.1.tar.xz">plasma-workspace-5.25.1</a></td>
   <td align="right">17MB</td>
   <td><tt>1368df30e17edb7f58418e9822b21e68748d4251d66d069c4aa383af474f36de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plasma-workspace-wallpapers-5.25.1.tar.xz">plasma-workspace-wallpapers-5.25.1</a></td>
   <td align="right">67MB</td>
   <td><tt>71de4da481362535f73216229347da2e73be1d396906a795f54aaf5cc87df832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/plymouth-kcm-5.25.1.tar.xz">plymouth-kcm-5.25.1</a></td>
   <td align="right">39kB</td>
   <td><tt>23c56b70af72dadcccfa22a53e0102def7b7c8ab83bf199254ce35ed44324e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/polkit-kde-agent-1-5.25.1.tar.xz">polkit-kde-agent-1-5.25.1</a></td>
   <td align="right">47kB</td>
   <td><tt>8435a445f5ef270925ffcdd585381872a7b03728f2bdd4f8b12e069a00565c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/powerdevil-5.25.1.tar.xz">powerdevil-5.25.1</a></td>
   <td align="right">621kB</td>
   <td><tt>c41ecd197a8def2a7b4231e5d8a642c8b858c940d529d22a1b3bd273caada754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/qqc2-breeze-style-5.25.1.tar.xz">qqc2-breeze-style-5.25.1</a></td>
   <td align="right">64kB</td>
   <td><tt>9434b72d157093ef5612ee8d889b872379292fad383864d32b22c09e223b3202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/sddm-kcm-5.25.1.tar.xz">sddm-kcm-5.25.1</a></td>
   <td align="right">79kB</td>
   <td><tt>66e88d8c55c3bb2933c4f8fb15662c3f33dfdf025f2e647da7c38923710b67d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/systemsettings-5.25.1.tar.xz">systemsettings-5.25.1</a></td>
   <td align="right">202kB</td>
   <td><tt>438e656ff819916c9de35cb69830b299cf25d5b88db0f8699d235b5de1822cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.1/xdg-desktop-portal-kde-5.25.1.tar.xz">xdg-desktop-portal-kde-5.25.1</a></td>
   <td align="right">101kB</td>
   <td><tt>1ac0d78db205abe5d0b68f5f230f264b77940cfb2c019cec8d8c62da54e66995</tt></td>
</tr>

</table>
