<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-22.03.90.tar.xz">akonadi-22.03.90</a></td>
   <td align="right">1574kB</td>
   <td><tt>2a0e119bc7d778599eeb1e2f6cd86908fcd65ea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-calendar-22.03.90.tar.xz">akonadi-calendar-22.03.90</a></td>
   <td align="right">356kB</td>
   <td><tt>0cec53cb4566d22d7c5a501ddbda280e9f8bfd2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-calendar-tools-22.03.90.tar.xz">akonadi-calendar-tools-22.03.90</a></td>
   <td align="right">231kB</td>
   <td><tt>b0d44ede65d97fdd058bb83c57e07c0aca25c205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadiconsole-22.03.90.tar.xz">akonadiconsole-22.03.90</a></td>
   <td align="right">196kB</td>
   <td><tt>4ab9dd5405ce0700c587290a26bb6c3c584795d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-contacts-22.03.90.tar.xz">akonadi-contacts-22.03.90</a></td>
   <td align="right">415kB</td>
   <td><tt>9a47066248067151551a4a999fedcc5ed3c60552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-import-wizard-22.03.90.tar.xz">akonadi-import-wizard-22.03.90</a></td>
   <td align="right">499kB</td>
   <td><tt>3471b2fb90c65e0b229138b0ee8ddc42245cfab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-mime-22.03.90.tar.xz">akonadi-mime-22.03.90</a></td>
   <td align="right">141kB</td>
   <td><tt>46b6682d0f193a86b33c3d614f2329add805f107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-notes-22.03.90.tar.xz">akonadi-notes-22.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>df81920cc1a9ca577b72196796600c0dc0ba6810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akonadi-search-22.03.90.tar.xz">akonadi-search-22.03.90</a></td>
   <td align="right">97kB</td>
   <td><tt>ddc3829a3e4333f0160a257509e1eac5331ae135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/akregator-22.03.90.tar.xz">akregator-22.03.90</a></td>
   <td align="right">2199kB</td>
   <td><tt>cddbaedfc95afb3ab423c71a303462cdf356b96e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/analitza-22.03.90.tar.xz">analitza-22.03.90</a></td>
   <td align="right">341kB</td>
   <td><tt>d205b697de608bde093be5fb536c45f2f380bc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ark-22.03.90.tar.xz">ark-22.03.90</a></td>
   <td align="right">2712kB</td>
   <td><tt>c72c2d5aa6bf1893b42fc8347146517ec52979ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/artikulate-22.03.90.tar.xz">artikulate-22.03.90</a></td>
   <td align="right">1068kB</td>
   <td><tt>5d46a90e31bc5f3d3834bf62fa5fb6881221697e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/audiocd-kio-22.03.90.tar.xz">audiocd-kio-22.03.90</a></td>
   <td align="right">511kB</td>
   <td><tt>01ce5b320fba1cff97b5aa6f15881d2846bbfb2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/baloo-widgets-22.03.90.tar.xz">baloo-widgets-22.03.90</a></td>
   <td align="right">264kB</td>
   <td><tt>294a77b7ecac8e7e0472dbbf31204bb360537503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/blinken-22.03.90.tar.xz">blinken-22.03.90</a></td>
   <td align="right">2651kB</td>
   <td><tt>c2a9f1fcc5da727a396adf8eed966528fd66a39f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/bomber-22.03.90.tar.xz">bomber-22.03.90</a></td>
   <td align="right">815kB</td>
   <td><tt>e53a1ba37c9f4f38b64fb8df95620e61fab3d489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/bovo-22.03.90.tar.xz">bovo-22.03.90</a></td>
   <td align="right">205kB</td>
   <td><tt>a5d1d6af7c7635b0bd64bb11bc28d103d2db9bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/calendarsupport-22.03.90.tar.xz">calendarsupport-22.03.90</a></td>
   <td align="right">748kB</td>
   <td><tt>c26fc1fe362fc0c880e1a4ea65a9d8d00d722fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/cantor-22.03.90.tar.xz">cantor-22.03.90</a></td>
   <td align="right">8979kB</td>
   <td><tt>5393920f74ae81947d2a052d2c7fe18654f456d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/cervisia-22.03.90.tar.xz">cervisia-22.03.90</a></td>
   <td align="right">1868kB</td>
   <td><tt>2a02c197180c7b5b67ee5ca7d7079c91052ebebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/dolphin-22.03.90.tar.xz">dolphin-22.03.90</a></td>
   <td align="right">5203kB</td>
   <td><tt>2d5e53346db52ef32f6fe9c7e98f6dc4aa8867ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/dolphin-plugins-22.03.90.tar.xz">dolphin-plugins-22.03.90</a></td>
   <td align="right">250kB</td>
   <td><tt>ed3a8b624025a8e21bcfd98972bc0f4b9108b3db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/dragon-22.03.90.tar.xz">dragon-22.03.90</a></td>
   <td align="right">1627kB</td>
   <td><tt>2fd85f5071249c55afbd33ff08d690498ab8fee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/elisa-22.03.90.tar.xz">elisa-22.03.90</a></td>
   <td align="right">1706kB</td>
   <td><tt>26e916b081fad811a11772e36f5e29632d1a7ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/eventviews-22.03.90.tar.xz">eventviews-22.03.90</a></td>
   <td align="right">445kB</td>
   <td><tt>cfc559f421bc0bea5958f49337e0b214f4d6bfdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/falkon-22.03.90.tar.xz">falkon-22.03.90</a></td>
   <td align="right">2433kB</td>
   <td><tt>a74b475b3f5250cd6d410a97f938a618e7295eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ffmpegthumbs-22.03.90.tar.xz">ffmpegthumbs-22.03.90</a></td>
   <td align="right">29kB</td>
   <td><tt>b5f135dfde91d4782f2ded8626ccdaf7a7ef4482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/filelight-22.03.90.tar.xz">filelight-22.03.90</a></td>
   <td align="right">671kB</td>
   <td><tt>2d7c95bff49977e364bbe8cbe1f490d5b8555102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/granatier-22.03.90.tar.xz">granatier-22.03.90</a></td>
   <td align="right">2053kB</td>
   <td><tt>d865f22717f396ceb2b48c057d904b366946ed7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/grantlee-editor-22.03.90.tar.xz">grantlee-editor-22.03.90</a></td>
   <td align="right">109kB</td>
   <td><tt>442862a03d7b1e6ed39c2e3a2a6b0952e172cabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/grantleetheme-22.03.90.tar.xz">grantleetheme-22.03.90</a></td>
   <td align="right">59kB</td>
   <td><tt>b6fa27da12bf694c400734a63c6a765f09f23ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/gwenview-22.03.90.tar.xz">gwenview-22.03.90</a></td>
   <td align="right">6656kB</td>
   <td><tt>094f15e44658cdb80cae129683e4a68c850078c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/incidenceeditor-22.03.90.tar.xz">incidenceeditor-22.03.90</a></td>
   <td align="right">535kB</td>
   <td><tt>902795862f250f062e817adf54e88e8c7a7d5d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/itinerary-22.03.90.tar.xz">itinerary-22.03.90</a></td>
   <td align="right">486kB</td>
   <td><tt>1d80249818e347cac6b0296c6953ac6816c09d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/juk-22.03.90.tar.xz">juk-22.03.90</a></td>
   <td align="right">1967kB</td>
   <td><tt>a625b2475b5d78e6982d94ae650dde6cb9075a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/k3b-22.03.90.tar.xz">k3b-22.03.90</a></td>
   <td align="right">10491kB</td>
   <td><tt>210e673f8b68856835db07aea0211bae47d6a28a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kaccounts-integration-22.03.90.tar.xz">kaccounts-integration-22.03.90</a></td>
   <td align="right">85kB</td>
   <td><tt>c6efc8e7d2530c562712e8fb45e49f0427853dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kaccounts-providers-22.03.90.tar.xz">kaccounts-providers-22.03.90</a></td>
   <td align="right">62kB</td>
   <td><tt>7086643a3986037bfce4eca50d281ea4d28bf65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kaddressbook-22.03.90.tar.xz">kaddressbook-22.03.90</a></td>
   <td align="right">3271kB</td>
   <td><tt>343a07123367ef124fd946e863155012bd34ea86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kajongg-22.03.90.tar.xz">kajongg-22.03.90</a></td>
   <td align="right">4459kB</td>
   <td><tt>a0ca75aa0a290596283f609461800561bd2e373a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kalarm-22.03.90.tar.xz">kalarm-22.03.90</a></td>
   <td align="right">2262kB</td>
   <td><tt>985f701f2ff61578e0560965e279f5e75fb744be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kalendar-22.03.90.tar.xz">kalendar-22.03.90</a></td>
   <td align="right">248kB</td>
   <td><tt>8571ff030c6756662bb1b9c39efb48cd6e763514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kalgebra-22.03.90.tar.xz">kalgebra-22.03.90</a></td>
   <td align="right">1008kB</td>
   <td><tt>fd84863d7a1ed731aacd065d556543a16061534d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kalzium-22.03.90.tar.xz">kalzium-22.03.90</a></td>
   <td align="right">23899kB</td>
   <td><tt>6cb4a7a058e26f291fa7eb49d744c798458161fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kamera-22.03.90.tar.xz">kamera-22.03.90</a></td>
   <td align="right">116kB</td>
   <td><tt>9836f5465bed36db54ae06fc6c812030382d63b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kamoso-22.03.90.tar.xz">kamoso-22.03.90</a></td>
   <td align="right">220kB</td>
   <td><tt>2152a5f245102074af139f2638be33735c3b90da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kanagram-22.03.90.tar.xz">kanagram-22.03.90</a></td>
   <td align="right">7857kB</td>
   <td><tt>3fa35a598c89433e5b1b91c5c41a61f5ce357595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kapman-22.03.90.tar.xz">kapman-22.03.90</a></td>
   <td align="right">2417kB</td>
   <td><tt>0e1c533d5de88bc7490479a88689bdd0cd1dd3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kapptemplate-22.03.90.tar.xz">kapptemplate-22.03.90</a></td>
   <td align="right">326kB</td>
   <td><tt>ead050b57bbe0c26b0580c8c034420210787fb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kate-22.03.90.tar.xz">kate-22.03.90</a></td>
   <td align="right">7396kB</td>
   <td><tt>6a37ca449fa3e730712c89d616d09d1caf1abd56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/katomic-22.03.90.tar.xz">katomic-22.03.90</a></td>
   <td align="right">1404kB</td>
   <td><tt>3e5eea286e48b43199af1211859a7f471e4acdb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kbackup-22.03.90.tar.xz">kbackup-22.03.90</a></td>
   <td align="right">380kB</td>
   <td><tt>4f5ccbf3076c65482c9a62a29d1c28d2d4827005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kblackbox-22.03.90.tar.xz">kblackbox-22.03.90</a></td>
   <td align="right">515kB</td>
   <td><tt>0500a6795626b1da2e4e393a7ab6db41f2274555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kblocks-22.03.90.tar.xz">kblocks-22.03.90</a></td>
   <td align="right">2053kB</td>
   <td><tt>8f796c9171dff70eb4ed0a4889e59d75592950aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kbounce-22.03.90.tar.xz">kbounce-22.03.90</a></td>
   <td align="right">3448kB</td>
   <td><tt>fc51f32d26e255abcb701ededafc55ace5ccb9e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kbreakout-22.03.90.tar.xz">kbreakout-22.03.90</a></td>
   <td align="right">2499kB</td>
   <td><tt>2372bb4e2044ee74cdcc6c30da71429c7c50ab6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kbruch-22.03.90.tar.xz">kbruch-22.03.90</a></td>
   <td align="right">5501kB</td>
   <td><tt>cff8c6231e04eaa2894c52657a365f19fd2f3616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kcachegrind-22.03.90.tar.xz">kcachegrind-22.03.90</a></td>
   <td align="right">846kB</td>
   <td><tt>0ea29622865090e596993010705d69c30adf43c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kcalc-22.03.90.tar.xz">kcalc-22.03.90</a></td>
   <td align="right">379kB</td>
   <td><tt>9fb201b4d915c83d4eb55db2aa0da5c17fdd2c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kcalutils-22.03.90.tar.xz">kcalutils-22.03.90</a></td>
   <td align="right">332kB</td>
   <td><tt>6df76d6df9d5fec96217e84447fc7760892e3a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kcharselect-22.03.90.tar.xz">kcharselect-22.03.90</a></td>
   <td align="right">365kB</td>
   <td><tt>e3646b6ffc2dc1debe2c8da61ddab34e370683ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kcolorchooser-22.03.90.tar.xz">kcolorchooser-22.03.90</a></td>
   <td align="right">29kB</td>
   <td><tt>3054cad01b45ccdc5519c8915f43f07d9420cfbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kcron-22.03.90.tar.xz">kcron-22.03.90</a></td>
   <td align="right">894kB</td>
   <td><tt>d08cc66832ff9ea536c4b449b4cceaf6f5a9707c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdebugsettings-22.03.90.tar.xz">kdebugsettings-22.03.90</a></td>
   <td align="right">90kB</td>
   <td><tt>021df9780ce8d7b89eac29e895748348f601b052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdeconnect-kde-22.03.90.tar.xz">kdeconnect-kde-22.03.90</a></td>
   <td align="right">593kB</td>
   <td><tt>7e4cd307a21e0b80ee74b9fc2dd209002902c378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kde-dev-scripts-22.03.90.tar.xz">kde-dev-scripts-22.03.90</a></td>
   <td align="right">357kB</td>
   <td><tt>856c8849a0c250a047dc2052a0be34a920e152b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kde-dev-utils-22.03.90.tar.xz">kde-dev-utils-22.03.90</a></td>
   <td align="right">66kB</td>
   <td><tt>326c1842728d06c75da4e4b780266f88db7adaab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdeedu-data-22.03.90.tar.xz">kdeedu-data-22.03.90</a></td>
   <td align="right">328kB</td>
   <td><tt>9153a0ad44a3cd8a0a40259df5d104eda64ff7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdegraphics-mobipocket-22.03.90.tar.xz">kdegraphics-mobipocket-22.03.90</a></td>
   <td align="right">12kB</td>
   <td><tt>55046e70ea2458f32aabc2cf3bbabdc49dcef0b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdegraphics-thumbnailers-22.03.90.tar.xz">kdegraphics-thumbnailers-22.03.90</a></td>
   <td align="right">47kB</td>
   <td><tt>612007c790bb36901caaa2f4e46697992668ad26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdenetwork-filesharing-22.03.90.tar.xz">kdenetwork-filesharing-22.03.90</a></td>
   <td align="right">373kB</td>
   <td><tt>c84687198ba31a9fae2885a7aa005ee902d623a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdenlive-22.03.90.tar.xz">kdenlive-22.03.90</a></td>
   <td align="right">12123kB</td>
   <td><tt>a669267c56c02fc3ac5174146d418659ac6e422b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdepim-addons-22.03.90.tar.xz">kdepim-addons-22.03.90</a></td>
   <td align="right">2256kB</td>
   <td><tt>aef27988f9ea32b0c43815b525b16a942f527182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdepim-runtime-22.03.90.tar.xz">kdepim-runtime-22.03.90</a></td>
   <td align="right">1729kB</td>
   <td><tt>1595debeeca3e76182009e97cfac4f7fdbe0b4d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdesdk-kioslaves-22.03.90.tar.xz">kdesdk-kioslaves-22.03.90</a></td>
   <td align="right">38kB</td>
   <td><tt>87c85d4aca48c780ddf9089d815859543110efe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdesdk-thumbnailers-22.03.90.tar.xz">kdesdk-thumbnailers-22.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>c9633f8a91310a814aee2482d1e0622c8067e66b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdevelop-22.03.90.tar.xz">kdevelop-22.03.90</a></td>
   <td align="right">8224kB</td>
   <td><tt>2401f4b192de545a7ce51afd9cb0c25b19346755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdev-php-22.03.90.tar.xz">kdev-php-22.03.90</a></td>
   <td align="right">1055kB</td>
   <td><tt>c9eb31be8d3ae4b633b14d80cfb2207051c220c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdev-python-22.03.90.tar.xz">kdev-python-22.03.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>d30387afc3f0f89ec19ae6743917b7343ca42142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdf-22.03.90.tar.xz">kdf-22.03.90</a></td>
   <td align="right">465kB</td>
   <td><tt>840b9fe1ff32e7cde67044e8f1acfb57f1daf632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdialog-22.03.90.tar.xz">kdialog-22.03.90</a></td>
   <td align="right">113kB</td>
   <td><tt>564853c1653355e9e85e9a97f3ea996a8f209dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kdiamond-22.03.90.tar.xz">kdiamond-22.03.90</a></td>
   <td align="right">4593kB</td>
   <td><tt>20aaaef440450e8fb0b5997642b7ee08509df15c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/keditbookmarks-22.03.90.tar.xz">keditbookmarks-22.03.90</a></td>
   <td align="right">198kB</td>
   <td><tt>79aa288d3b8594305a135e98fc5f3f162e6cf8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kfind-22.03.90.tar.xz">kfind-22.03.90</a></td>
   <td align="right">280kB</td>
   <td><tt>502f492154a1a9b5cb3630b63f747342d35e54b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kfloppy-22.03.90.tar.xz">kfloppy-22.03.90</a></td>
   <td align="right">209kB</td>
   <td><tt>287e642bc6dafc22953bca71096c63ee875ba065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kfourinline-22.03.90.tar.xz">kfourinline-22.03.90</a></td>
   <td align="right">705kB</td>
   <td><tt>cb120d4167283be196e3aa04d749248f11ca2890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kgeography-22.03.90.tar.xz">kgeography-22.03.90</a></td>
   <td align="right">10827kB</td>
   <td><tt>71770740e20ae778c4eab56ad377cc23f18c9dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kget-22.03.90.tar.xz">kget-22.03.90</a></td>
   <td align="right">5305kB</td>
   <td><tt>05e20bd16bf6581d3355198b0e258751705330d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kgoldrunner-22.03.90.tar.xz">kgoldrunner-22.03.90</a></td>
   <td align="right">4671kB</td>
   <td><tt>b4d587afdb2dad901a8c85b6b08fcae453f2f3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kgpg-22.03.90.tar.xz">kgpg-22.03.90</a></td>
   <td align="right">2886kB</td>
   <td><tt>6dc7273b05ba2c88494b37d254fab4edfa73076c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/khangman-22.03.90.tar.xz">khangman-22.03.90</a></td>
   <td align="right">7259kB</td>
   <td><tt>42a2c2ec347548705e7e225c3109e6113a4a2d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/khelpcenter-22.03.90.tar.xz">khelpcenter-22.03.90</a></td>
   <td align="right">4192kB</td>
   <td><tt>47b2ddfe18337e714b66274964dad64b81317e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kidentitymanagement-22.03.90.tar.xz">kidentitymanagement-22.03.90</a></td>
   <td align="right">155kB</td>
   <td><tt>63108d602b89e6bd38617c331f887e38d818512e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kig-22.03.90.tar.xz">kig-22.03.90</a></td>
   <td align="right">3110kB</td>
   <td><tt>fef910d3af0cac0f7cda21707f0009dbc32e7050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kigo-22.03.90.tar.xz">kigo-22.03.90</a></td>
   <td align="right">5131kB</td>
   <td><tt>af30010fa191d781cda30e9bf78ea3db7cf11042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/killbots-22.03.90.tar.xz">killbots-22.03.90</a></td>
   <td align="right">1169kB</td>
   <td><tt>2c2e3380485217ea72580865606c8ac2c7ef35a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kimagemapeditor-22.03.90.tar.xz">kimagemapeditor-22.03.90</a></td>
   <td align="right">1063kB</td>
   <td><tt>dfae27e5ca111b40677aef6125a0758ac76c2c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kimap-22.03.90.tar.xz">kimap-22.03.90</a></td>
   <td align="right">127kB</td>
   <td><tt>5544e7dc45e5bfcb1b6800b3cc56dc4f2c06eaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kio-extras-22.03.90.tar.xz">kio-extras-22.03.90</a></td>
   <td align="right">626kB</td>
   <td><tt>57b3f8644ee4ac8ab914d4d98cb9861b96b399cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kio-gdrive-22.03.90.tar.xz">kio-gdrive-22.03.90</a></td>
   <td align="right">70kB</td>
   <td><tt>24ceb63506c7e45f88cc9f84ffe5d2bad788a82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kipi-plugins-22.03.90.tar.xz">kipi-plugins-22.03.90</a></td>
   <td align="right">1487kB</td>
   <td><tt>6dd4b68fb459a1712af25cf9e5c3729e2aeeed99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kirigami-gallery-22.03.90.tar.xz">kirigami-gallery-22.03.90</a></td>
   <td align="right">330kB</td>
   <td><tt>e86d76014e79339b88859673654b541d575704b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kiriki-22.03.90.tar.xz">kiriki-22.03.90</a></td>
   <td align="right">357kB</td>
   <td><tt>8ec9031188ce2de30bc4ddf68dd8a3d80a492d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kiten-22.03.90.tar.xz">kiten-22.03.90</a></td>
   <td align="right">11052kB</td>
   <td><tt>d5cdcf8168d599794ad22849bd406487ecda03eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kitinerary-22.03.90.tar.xz">kitinerary-22.03.90</a></td>
   <td align="right">1492kB</td>
   <td><tt>11f0519b5b5245c13419cb4a349fd1014313b014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kjumpingcube-22.03.90.tar.xz">kjumpingcube-22.03.90</a></td>
   <td align="right">318kB</td>
   <td><tt>c1c318e30faf27aa7a550f186f7b18e110d00484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kldap-22.03.90.tar.xz">kldap-22.03.90</a></td>
   <td align="right">168kB</td>
   <td><tt>38817a7e307ba88417d74a251aa89d7ac9c5bc85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kleopatra-22.03.90.tar.xz">kleopatra-22.03.90</a></td>
   <td align="right">2180kB</td>
   <td><tt>806181ca0203f098020d542ada7eee84e2e6b736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/klettres-22.03.90.tar.xz">klettres-22.03.90</a></td>
   <td align="right">46035kB</td>
   <td><tt>bad25fda8c119454427d77307b44d6a1bd8a771f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/klickety-22.03.90.tar.xz">klickety-22.03.90</a></td>
   <td align="right">1460kB</td>
   <td><tt>835302a3e231e781f5634713ef8dc621af02624e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/klines-22.03.90.tar.xz">klines-22.03.90</a></td>
   <td align="right">1687kB</td>
   <td><tt>90f3772ac994defb12dc282e20fcf17dd1ede7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmag-22.03.90.tar.xz">kmag-22.03.90</a></td>
   <td align="right">691kB</td>
   <td><tt>24d5bf4ebca8786bb906f3a29476aecdb0e8815b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmahjongg-22.03.90.tar.xz">kmahjongg-22.03.90</a></td>
   <td align="right">3975kB</td>
   <td><tt>33696742dcd295fc3fb866aed6ecd47a60c06d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmail-22.03.90.tar.xz">kmail-22.03.90</a></td>
   <td align="right">6981kB</td>
   <td><tt>2a0e36ace27febf89475cc9d5e2d4af84cf8d2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmail-account-wizard-22.03.90.tar.xz">kmail-account-wizard-22.03.90</a></td>
   <td align="right">167kB</td>
   <td><tt>dee26820bf3194939752ac03ffd0b8c6d3cae9b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmailtransport-22.03.90.tar.xz">kmailtransport-22.03.90</a></td>
   <td align="right">170kB</td>
   <td><tt>e8f89323921a25165168b797c3e91cc77f3ff3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmbox-22.03.90.tar.xz">kmbox-22.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>999f0b2f61f7939fb4131024378dc0e833fad652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmime-22.03.90.tar.xz">kmime-22.03.90</a></td>
   <td align="right">152kB</td>
   <td><tt>ff6a099bd99fb5947160c231e0c185e0b574b1fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmines-22.03.90.tar.xz">kmines-22.03.90</a></td>
   <td align="right">971kB</td>
   <td><tt>5c665814668505ccd69e5a9a2f30335a78d7272c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmix-22.03.90.tar.xz">kmix-22.03.90</a></td>
   <td align="right">1135kB</td>
   <td><tt>80854536fa6c3d66dcdf8fa499c05625a8194be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmousetool-22.03.90.tar.xz">kmousetool-22.03.90</a></td>
   <td align="right">118kB</td>
   <td><tt>0636e7c3088e5f9b31eb130e4400b2f9d7370ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmouth-22.03.90.tar.xz">kmouth-22.03.90</a></td>
   <td align="right">2054kB</td>
   <td><tt>a1d1ce0035d103ee41d4287dff109ec1fce58eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kmplot-22.03.90.tar.xz">kmplot-22.03.90</a></td>
   <td align="right">2972kB</td>
   <td><tt>31aed28b22460601f804ceacf6c1ae924e9ecdef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/knavalbattle-22.03.90.tar.xz">knavalbattle-22.03.90</a></td>
   <td align="right">1347kB</td>
   <td><tt>b15f804b67920059affea07db2fef869a59dc47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/knetwalk-22.03.90.tar.xz">knetwalk-22.03.90</a></td>
   <td align="right">1069kB</td>
   <td><tt>31afc73853ad7a8ac5b5cc315bc4ba751f6b9018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/knights-22.03.90.tar.xz">knights-22.03.90</a></td>
   <td align="right">3245kB</td>
   <td><tt>149541cc037c62775f93d83bacf019e508935a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/knotes-22.03.90.tar.xz">knotes-22.03.90</a></td>
   <td align="right">332kB</td>
   <td><tt>2f5a1b8447b5f99fb8523b895423f8367b71feb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kolf-22.03.90.tar.xz">kolf-22.03.90</a></td>
   <td align="right">1027kB</td>
   <td><tt>c3788165f1739d34f2d2803c09bad497582fe39f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kollision-22.03.90.tar.xz">kollision-22.03.90</a></td>
   <td align="right">295kB</td>
   <td><tt>153acbe87946b081c9252746563140fd1473e202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kolourpaint-22.03.90.tar.xz">kolourpaint-22.03.90</a></td>
   <td align="right">5582kB</td>
   <td><tt>a19b5613a353e43885560bc6cd37887758706c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kompare-22.03.90.tar.xz">kompare-22.03.90</a></td>
   <td align="right">921kB</td>
   <td><tt>c35053e0df10af5e0b94327024b5e01fec8a3b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/konqueror-22.03.90.tar.xz">konqueror-22.03.90</a></td>
   <td align="right">7501kB</td>
   <td><tt>81556ba006f1dc95e60d83a0d5c0919c3c3f6638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/konquest-22.03.90.tar.xz">konquest-22.03.90</a></td>
   <td align="right">843kB</td>
   <td><tt>6fafd21fc45ded52cb4b1313c4c14c8ddb3ed91d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/konsole-22.03.90.tar.xz">konsole-22.03.90</a></td>
   <td align="right">1429kB</td>
   <td><tt>a8d68fb1d1f194572da5868ee97a5e55d61f73e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kontact-22.03.90.tar.xz">kontact-22.03.90</a></td>
   <td align="right">806kB</td>
   <td><tt>a4f03c96716e6f6b8ddaff1ecbf9b38e15dcff28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kontactinterface-22.03.90.tar.xz">kontactinterface-22.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>37e3f364b33441e872d3199a54211be2770e9d1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kontrast-22.03.90.tar.xz">kontrast-22.03.90</a></td>
   <td align="right">122kB</td>
   <td><tt>50bb7168133ab072d604b7c70a109a47ab1f160b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/konversation-22.03.90.tar.xz">konversation-22.03.90</a></td>
   <td align="right">4186kB</td>
   <td><tt>c6f8bcb3cb8de1e5c7dea2354d2e5cfee1788c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kopeninghours-22.03.90.tar.xz">kopeninghours-22.03.90</a></td>
   <td align="right">67kB</td>
   <td><tt>4d43d2d9ec651b685d1a3f6821465619bd850b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kopete-22.03.90.tar.xz">kopete-22.03.90</a></td>
   <td align="right">9442kB</td>
   <td><tt>22e191ad86de181f99ac3eb6a8f1f8bae17eeb25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/korganizer-22.03.90.tar.xz">korganizer-22.03.90</a></td>
   <td align="right">2254kB</td>
   <td><tt>13bc2cba5ceafd7fb7aa5b6839f2de945c6de85b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kosmindoormap-22.03.90.tar.xz">kosmindoormap-22.03.90</a></td>
   <td align="right">342kB</td>
   <td><tt>9a3994eec9876fdd9c59da7af9fb918fb33794ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kpat-22.03.90.tar.xz">kpat-22.03.90</a></td>
   <td align="right">3643kB</td>
   <td><tt>e6b4b74a7f6848256c74ea2ae93a676feeb87d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kpimtextedit-22.03.90.tar.xz">kpimtextedit-22.03.90</a></td>
   <td align="right">210kB</td>
   <td><tt>9cec6b8be255077bf9a7c54954c5b527f62d567d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kpkpass-22.03.90.tar.xz">kpkpass-22.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>e5ec1bf7905e1cd00939cd201e8b51371ca589bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kpmcore-22.03.90.tar.xz">kpmcore-22.03.90</a></td>
   <td align="right">584kB</td>
   <td><tt>a4dfa2f708a4bb644bd1f8d5974aadfdd102ef19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kpublictransport-22.03.90.tar.xz">kpublictransport-22.03.90</a></td>
   <td align="right">473kB</td>
   <td><tt>7d1ee0a81f8b76edc3aba28130b6932365412929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kqtquickcharts-22.03.90.tar.xz">kqtquickcharts-22.03.90</a></td>
   <td align="right">29kB</td>
   <td><tt>4636e6d057c20589676d44a7e3a6188011bc8a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/krdc-22.03.90.tar.xz">krdc-22.03.90</a></td>
   <td align="right">1547kB</td>
   <td><tt>61e88ba1ee5f2bf30adfe50e9d73dffda47c7027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kreversi-22.03.90.tar.xz">kreversi-22.03.90</a></td>
   <td align="right">1039kB</td>
   <td><tt>e54d5f4d3edc1989f3777f1984087db3105716f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/krfb-22.03.90.tar.xz">krfb-22.03.90</a></td>
   <td align="right">1272kB</td>
   <td><tt>0dbd3433cb2f124ba41b4b0e5857072c030691d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kross-interpreters-22.03.90.tar.xz">kross-interpreters-22.03.90</a></td>
   <td align="right">148kB</td>
   <td><tt>406c492db4dcf5e1ccd33d7073a7e531694375f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kruler-22.03.90.tar.xz">kruler-22.03.90</a></td>
   <td align="right">270kB</td>
   <td><tt>24bf10d687a8fbfa1f194c08cd4e59413a444d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kshisen-22.03.90.tar.xz">kshisen-22.03.90</a></td>
   <td align="right">969kB</td>
   <td><tt>a113d8d7803fcfb3053c5b803a7a3e086612e484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ksirk-22.03.90.tar.xz">ksirk-22.03.90</a></td>
   <td align="right">6841kB</td>
   <td><tt>11f1d49a38b78163c39178c1ce443c897deb8105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ksmtp-22.03.90.tar.xz">ksmtp-22.03.90</a></td>
   <td align="right">47kB</td>
   <td><tt>ffeba2a337965f8da2fc08a3b0954c862b17ef70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ksnakeduel-22.03.90.tar.xz">ksnakeduel-22.03.90</a></td>
   <td align="right">593kB</td>
   <td><tt>4bd58918554ed6ce83e8994043d0150b66437225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kspaceduel-22.03.90.tar.xz">kspaceduel-22.03.90</a></td>
   <td align="right">636kB</td>
   <td><tt>d59b823584f51b24bfbd9ebea38fe327faffe8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ksquares-22.03.90.tar.xz">ksquares-22.03.90</a></td>
   <td align="right">300kB</td>
   <td><tt>f3a1770daa411bf90f5a08bb0dc2fbc706050764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ksudoku-22.03.90.tar.xz">ksudoku-22.03.90</a></td>
   <td align="right">1650kB</td>
   <td><tt>0e3efde63d8f106b8c985781f2fa0aa5fca5a61d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ksystemlog-22.03.90.tar.xz">ksystemlog-22.03.90</a></td>
   <td align="right">1921kB</td>
   <td><tt>2593b350e87469c6920a35ae4c6914a0fc71390b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kteatime-22.03.90.tar.xz">kteatime-22.03.90</a></td>
   <td align="right">294kB</td>
   <td><tt>b54ab7e6e458da0c09cb3690dadd8141fb840297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktimer-22.03.90.tar.xz">ktimer-22.03.90</a></td>
   <td align="right">384kB</td>
   <td><tt>ecc354aa9a48f6d8f9f23c1e125d131a668bdde5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktnef-22.03.90.tar.xz">ktnef-22.03.90</a></td>
   <td align="right">296kB</td>
   <td><tt>ea95d52282ff979496ea12fd41413b4c67dc73d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktorrent-22.03.90.tar.xz">ktorrent-22.03.90</a></td>
   <td align="right">2007kB</td>
   <td><tt>b143aae6a3a1bb01a97817f71de5df12811469fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktouch-22.03.90.tar.xz">ktouch-22.03.90</a></td>
   <td align="right">4865kB</td>
   <td><tt>e526e8aaf4e2103984516ca7e680fe38c73fe204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-accounts-kcm-22.03.90.tar.xz">ktp-accounts-kcm-22.03.90</a></td>
   <td align="right">260kB</td>
   <td><tt>dd458e58e261db4d3aeba6d12341c76b073d1372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-approver-22.03.90.tar.xz">ktp-approver-22.03.90</a></td>
   <td align="right">37kB</td>
   <td><tt>5300a83566b162ea6d09a828fcca0245aeb15c8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-auth-handler-22.03.90.tar.xz">ktp-auth-handler-22.03.90</a></td>
   <td align="right">46kB</td>
   <td><tt>4bf873282ae5a95c239874f46e98ab4838e4e0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-call-ui-22.03.90.tar.xz">ktp-call-ui-22.03.90</a></td>
   <td align="right">96kB</td>
   <td><tt>0e615ba51876e688b00c37703d20cf3292d3cf0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-common-internals-22.03.90.tar.xz">ktp-common-internals-22.03.90</a></td>
   <td align="right">440kB</td>
   <td><tt>4774dccfb4a744e8041689430c3e19dcb2d930b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-contact-list-22.03.90.tar.xz">ktp-contact-list-22.03.90</a></td>
   <td align="right">151kB</td>
   <td><tt>3f8584db3aaff674b585ca74d01daa4a8f78e8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-contact-runner-22.03.90.tar.xz">ktp-contact-runner-22.03.90</a></td>
   <td align="right">43kB</td>
   <td><tt>43984d144b0cb6bdec36e9d173d3d25961c7f5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-desktop-applets-22.03.90.tar.xz">ktp-desktop-applets-22.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>4125d35e521f83fdc3c1541eb47f20c4d6115990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-filetransfer-handler-22.03.90.tar.xz">ktp-filetransfer-handler-22.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>54cbda005de2eb13889447d4d75da40e0898d231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-kded-module-22.03.90.tar.xz">ktp-kded-module-22.03.90</a></td>
   <td align="right">97kB</td>
   <td><tt>2a8050327652eb99164e30e94d779b1c2bdab709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-send-file-22.03.90.tar.xz">ktp-send-file-22.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>a3e5561bebd0d3a1d43acc837a7266e1a0de4034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktp-text-ui-22.03.90.tar.xz">ktp-text-ui-22.03.90</a></td>
   <td align="right">463kB</td>
   <td><tt>45f702de5653a9440b9de0c42cf2f489a5cb2eeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/ktuberling-22.03.90.tar.xz">ktuberling-22.03.90</a></td>
   <td align="right">69169kB</td>
   <td><tt>01ca6433a0beee56b0037212ac7698c3553e4e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kturtle-22.03.90.tar.xz">kturtle-22.03.90</a></td>
   <td align="right">1927kB</td>
   <td><tt>014ad81c7b4dded7d67a557a8fad050d6e8494c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kubrick-22.03.90.tar.xz">kubrick-22.03.90</a></td>
   <td align="right">335kB</td>
   <td><tt>c4f883fa046133b3831179d3af0940981789caef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kwalletmanager-22.03.90.tar.xz">kwalletmanager-22.03.90</a></td>
   <td align="right">782kB</td>
   <td><tt>ee77a40940e2171c82c19f538679dee2c7eb6fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kwave-22.03.90.tar.xz">kwave-22.03.90</a></td>
   <td align="right">6763kB</td>
   <td><tt>f0d6def10c61dbc63e6b844557380d316ee117d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/kwordquiz-22.03.90.tar.xz">kwordquiz-22.03.90</a></td>
   <td align="right">4109kB</td>
   <td><tt>6ca0b478212cae80575d37b568acdb2642b45394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libgravatar-22.03.90.tar.xz">libgravatar-22.03.90</a></td>
   <td align="right">34kB</td>
   <td><tt>9ef229c560f0c87ecb8256d09b3377b814b32f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkcddb-22.03.90.tar.xz">libkcddb-22.03.90</a></td>
   <td align="right">426kB</td>
   <td><tt>5e264513c6dcdd5cdd018b5fde9326d5e08d6159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkcompactdisc-22.03.90.tar.xz">libkcompactdisc-22.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>78d746e23721c2931e77a309f5bd94139c012f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkdcraw-22.03.90.tar.xz">libkdcraw-22.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>fd577e3345e9124fe02354354116173734a454a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkdegames-22.03.90.tar.xz">libkdegames-22.03.90</a></td>
   <td align="right">5850kB</td>
   <td><tt>698740964d2b900252648283f7b77e714dc23d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkdepim-22.03.90.tar.xz">libkdepim-22.03.90</a></td>
   <td align="right">248kB</td>
   <td><tt>dd930e70219d82640c6c9897a1acb9b1ba7f6a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkeduvocdocument-22.03.90.tar.xz">libkeduvocdocument-22.03.90</a></td>
   <td align="right">209kB</td>
   <td><tt>21a4c17c7f8db4df814a40ea513b1cad0f4bc161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkexiv2-22.03.90.tar.xz">libkexiv2-22.03.90</a></td>
   <td align="right">58kB</td>
   <td><tt>01b77cba9e05d360069f1da856e91d3f0471c284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkgapi-22.03.90.tar.xz">libkgapi-22.03.90</a></td>
   <td align="right">239kB</td>
   <td><tt>d1bd3ea4d0ecf1fa848639b5b74811570f7400cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkipi-22.03.90.tar.xz">libkipi-22.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>ccd44e5c1e08c5a3c835599296884b398a94fd94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkleo-22.03.90.tar.xz">libkleo-22.03.90</a></td>
   <td align="right">457kB</td>
   <td><tt>3495e08dc6eea1083b181a85848a17449182f6cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkmahjongg-22.03.90.tar.xz">libkmahjongg-22.03.90</a></td>
   <td align="right">1646kB</td>
   <td><tt>ff3b75514b1be97350950d17dd98a12e66d9afdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libkomparediff2-22.03.90.tar.xz">libkomparediff2-22.03.90</a></td>
   <td align="right">168kB</td>
   <td><tt>1def1400a09b474554c3d83f3ad1d9f4ad2a2d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libksane-22.03.90.tar.xz">libksane-22.03.90</a></td>
   <td align="right">161kB</td>
   <td><tt>391b00d47cf86f9f19312ed92f84e39f85b5871d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libksieve-22.03.90.tar.xz">libksieve-22.03.90</a></td>
   <td align="right">562kB</td>
   <td><tt>b92c7b1d2487c7d5895e88b32ff4bd068ab99076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/libktorrent-22.03.90.tar.xz">libktorrent-22.03.90</a></td>
   <td align="right">591kB</td>
   <td><tt>615ed8904c3b77c9fb89ea8ad926fe9fec4b329a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/lokalize-22.03.90.tar.xz">lokalize-22.03.90</a></td>
   <td align="right">2015kB</td>
   <td><tt>9d5a32ee23996c5cc05427dbd8c264ef761ddd04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/lskat-22.03.90.tar.xz">lskat-22.03.90</a></td>
   <td align="right">1206kB</td>
   <td><tt>6b8ffd299ef2cc8d6e967cb005b6c1ea40fbfda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/mailcommon-22.03.90.tar.xz">mailcommon-22.03.90</a></td>
   <td align="right">721kB</td>
   <td><tt>bb601d91385a7d07843f93843e6b614bb344deda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/mailimporter-22.03.90.tar.xz">mailimporter-22.03.90</a></td>
   <td align="right">546kB</td>
   <td><tt>2dbb83cdc2d72b18dac240deef3941b26c76eef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/marble-22.03.90.tar.xz">marble-22.03.90</a></td>
   <td align="right">52415kB</td>
   <td><tt>eaf30b4e4ff55e930c9b7c5f97834a404d121288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/markdownpart-22.03.90.tar.xz">markdownpart-22.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>2d53cc7ed139f9a85b09b700052eba4f82932e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/mbox-importer-22.03.90.tar.xz">mbox-importer-22.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>2549af5a75d5a7b8fe4dd7d3004ce7f734ad2daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/messagelib-22.03.90.tar.xz">messagelib-22.03.90</a></td>
   <td align="right">10626kB</td>
   <td><tt>118561c105a8a1f52a6f0aed36808c480d6c6f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/minuet-22.03.90.tar.xz">minuet-22.03.90</a></td>
   <td align="right">27023kB</td>
   <td><tt>5108157c5012eee3c57c5ee23290ec4627bd7e43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/okular-22.03.90.tar.xz">okular-22.03.90</a></td>
   <td align="right">7985kB</td>
   <td><tt>4366c8dada90e1f33398390f9c0d36a2675d6521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/palapeli-22.03.90.tar.xz">palapeli-22.03.90</a></td>
   <td align="right">2048kB</td>
   <td><tt>9e5d2816df2c70b3271974c34761dd549644f793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/parley-22.03.90.tar.xz">parley-22.03.90</a></td>
   <td align="right">8301kB</td>
   <td><tt>2dd8fcd135414fb87f9b867673b097b87f3998b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/partitionmanager-22.03.90.tar.xz">partitionmanager-22.03.90</a></td>
   <td align="right">2058kB</td>
   <td><tt>de72189ae8dc6120368402c20305351be6c33585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/picmi-22.03.90.tar.xz">picmi-22.03.90</a></td>
   <td align="right">1502kB</td>
   <td><tt>14cf181e63ff847efedc6523f1819b5be56cad9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/pimcommon-22.03.90.tar.xz">pimcommon-22.03.90</a></td>
   <td align="right">365kB</td>
   <td><tt>b475ece89e3d52212afc1e14e554ed64e593d27d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/pim-data-exporter-22.03.90.tar.xz">pim-data-exporter-22.03.90</a></td>
   <td align="right">395kB</td>
   <td><tt>98110322ff55cbb6ad5dc6e712f87c9e5d11dd40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/pim-sieve-editor-22.03.90.tar.xz">pim-sieve-editor-22.03.90</a></td>
   <td align="right">442kB</td>
   <td><tt>b84e66cb0ff6a3afcfba1f221129d90ae7ec0804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/poxml-22.03.90.tar.xz">poxml-22.03.90</a></td>
   <td align="right">43kB</td>
   <td><tt>a31dfa930eab7348136b93578561436b2427cf74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/print-manager-22.03.90.tar.xz">print-manager-22.03.90</a></td>
   <td align="right">265kB</td>
   <td><tt>7b7ac6caee9c6f3544d3f1bf9b5133a257618088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/rocs-22.03.90.tar.xz">rocs-22.03.90</a></td>
   <td align="right">1518kB</td>
   <td><tt>540a44fcb84962461938ec4d3c709697e531ef9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/signon-kwallet-extension-22.03.90.tar.xz">signon-kwallet-extension-22.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>7458c8552de61782226cd31f267b62f5f19e3224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/skanlite-22.03.90.tar.xz">skanlite-22.03.90</a></td>
   <td align="right">2383kB</td>
   <td><tt>9057a7ee50540e7c7a99381683c26e9708f4dc15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/skanpage-22.03.90.tar.xz">skanpage-22.03.90</a></td>
   <td align="right">380kB</td>
   <td><tt>df664160c849c568a9247912b9a51bf3ed7acc89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/spectacle-22.03.90.tar.xz">spectacle-22.03.90</a></td>
   <td align="right">1230kB</td>
   <td><tt>6743a15c3e19e40161f13d18c135655c28911b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/step-22.03.90.tar.xz">step-22.03.90</a></td>
   <td align="right">915kB</td>
   <td><tt>693b82e2ea79111dae57e1b802dab16dc24648da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/svgpart-22.03.90.tar.xz">svgpart-22.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>fc292d17f972bdfef1f066f0e755455314c02e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/sweeper-22.03.90.tar.xz">sweeper-22.03.90</a></td>
   <td align="right">368kB</td>
   <td><tt>819f6332b0310c252eb19c6b1ccaa34fedee1af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/umbrello-22.03.90.tar.xz">umbrello-22.03.90</a></td>
   <td align="right">5543kB</td>
   <td><tt>a7beeb19c652554779c7770cfcc4485b6e13677c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/yakuake-22.03.90.tar.xz">yakuake-22.03.90</a></td>
   <td align="right">393kB</td>
   <td><tt>1c9d3c1420f52c101bc1cf483a0870d759c8df2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/zanshin-22.03.90.tar.xz">zanshin-22.03.90</a></td>
   <td align="right">345kB</td>
   <td><tt>22d5b61de020b669c1694171d6b1718b054b497b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.90/src/zeroconf-ioslave-22.03.90.tar.xz">zeroconf-ioslave-22.03.90</a></td>
   <td align="right">38kB</td>
   <td><tt>6f833e35086fb299844b96b6c1312230ab8324de</tt></td>
</tr>

</table>
