<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/aura-browser-5.26.1.tar.xz">aura-browser-5.26.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>78ccb7c1e6c17d7725066efb2a7233fd102c2b8e6bd0448ae33ea95e76e2f09a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/bluedevil-5.26.1.tar.xz">bluedevil-5.26.1</a></td>
   <td align="right">307kB</td>
   <td><tt>c4505b13c8ccdd2527a89a9bf700fcd23bfe57e19d32a5f0f1777f07b039f268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/breeze-5.26.1.tar.xz">breeze-5.26.1</a></td>
   <td align="right">55MB</td>
   <td><tt>9b0fec55aba4cf32256f41d13a365f42280c34a22659f47c1c2afdfaa4e76850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/breeze-grub-5.26.1.tar.xz">breeze-grub-5.26.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c0edb24164ee2dd9e0a18947b69f60d5f74e8bd063ec7dbdc25bf38b9e788018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/breeze-gtk-5.26.1.tar.xz">breeze-gtk-5.26.1</a></td>
   <td align="right">39kB</td>
   <td><tt>c6dbe6ecd538d7ff8b97cfbeac2f0063aa209ffa22d4381a17ffd714a5b9fbde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/breeze-plymouth-5.26.1.tar.xz">breeze-plymouth-5.26.1</a></td>
   <td align="right">108kB</td>
   <td><tt>970fc493aaa7c6967d7312bb8a96dd65be414e16df370d0bb2e65a2c49c2e231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/discover-5.26.1.tar.xz">discover-5.26.1</a></td>
   <td align="right">637kB</td>
   <td><tt>4aa07a12bab336b157483feb8e0bf3a4dc341828231b129d3e032f00ba7f1a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/drkonqi-5.26.1.tar.xz">drkonqi-5.26.1</a></td>
   <td align="right">493kB</td>
   <td><tt>3a76163ba01a53219efbc04487fa4b591e2811133bda51af18ef0a850a4903f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kactivitymanagerd-5.26.1.tar.xz">kactivitymanagerd-5.26.1</a></td>
   <td align="right">106kB</td>
   <td><tt>b88a019f2201fa60803b6d3349deba3bb3b5c0923792941703ed87c7a2c257a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kde-cli-tools-5.26.1.tar.xz">kde-cli-tools-5.26.1</a></td>
   <td align="right">615kB</td>
   <td><tt>5a66087e2d0e49e760c9b832a59a9b410c5da497e993cb6a16734af44efc0d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kdecoration-5.26.1.tar.xz">kdecoration-5.26.1</a></td>
   <td align="right">50kB</td>
   <td><tt>81cc121f8105a2ea6bbd17047b2f795f1f79c1ee25006290ccf1c69da8ee854b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kde-gtk-config-5.26.1.tar.xz">kde-gtk-config-5.26.1</a></td>
   <td align="right">72kB</td>
   <td><tt>965e5f07c32c6077833a13bb171b106696ff06ed7bed0915f8a9d5f95d6bc0ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kdeplasma-addons-5.26.1.tar.xz">kdeplasma-addons-5.26.1</a></td>
   <td align="right">665kB</td>
   <td><tt>56851037c2d102450cfc9283d8c16f9e0f6a9b803dc6f4766c779b4c21d00988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kgamma5-5.26.1.tar.xz">kgamma5-5.26.1</a></td>
   <td align="right">84kB</td>
   <td><tt>3ddee0474910d888bf074ef93691b3f4f7daaae2dbc37d983d3983ffe3807fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/khotkeys-5.26.1.tar.xz">khotkeys-5.26.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f6c118dafd6aa600e3803a5f3e8c0022abdf45383cf34a644b2fc495e5caf27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kinfocenter-5.26.1.tar.xz">kinfocenter-5.26.1</a></td>
   <td align="right">712kB</td>
   <td><tt>c0c3d2e5bba5601b2db7f369a601bf4992ed32e107c169fd08cadab1d237345f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kmenuedit-5.26.1.tar.xz">kmenuedit-5.26.1</a></td>
   <td align="right">884kB</td>
   <td><tt>38371f47bdfef7566ce25cd482e1d105396d47a0d1faf8d29783881b0d583af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kpipewire-5.26.1.tar.xz">kpipewire-5.26.1</a></td>
   <td align="right">51kB</td>
   <td><tt>27cae5bcc217f47165db801b1a081281da7a2dfa24119b1853cd06ae1cce11d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kscreen-5.26.1.tar.xz">kscreen-5.26.1</a></td>
   <td align="right">148kB</td>
   <td><tt>51d08dfbdf191a81c41a81df87b468889bd559cfb7daf0d17afd466c86ddbdee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kscreenlocker-5.26.1.tar.xz">kscreenlocker-5.26.1</a></td>
   <td align="right">112kB</td>
   <td><tt>de315b9cdf0309b1e1ea0b57a79aa30b42493742604f17ae003e7d8f4f76867d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/ksshaskpass-5.26.1.tar.xz">ksshaskpass-5.26.1</a></td>
   <td align="right">26kB</td>
   <td><tt>b3f5f1a4221a343cc885570efab26d7a40cc09cd47f78ae0da4c0ab0d82da257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/ksystemstats-5.26.1.tar.xz">ksystemstats-5.26.1</a></td>
   <td align="right">102kB</td>
   <td><tt>27fb535f4410b6232636ad3c2b671057cbefd0f785c77940146ba5958ff0adcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kwallet-pam-5.26.1.tar.xz">kwallet-pam-5.26.1</a></td>
   <td align="right">22kB</td>
   <td><tt>95291d719e1455705f52c9ccb604d8bdf28340deb3af8d29681ea0830fdf7330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kwayland-integration-5.26.1.tar.xz">kwayland-integration-5.26.1</a></td>
   <td align="right">26kB</td>
   <td><tt>740710b4f8d160ea83e4f2fa3080726fd37a6672f78665443834c38849708025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kwin-5.26.1.tar.xz">kwin-5.26.1</a></td>
   <td align="right">6.3MB</td>
   <td><tt>c3acc4b7ada4191780ea64f03ed9fa249a0c17af0040c0fc29d6bd6aeb8f7fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/kwrited-5.26.1.tar.xz">kwrited-5.26.1</a></td>
   <td align="right">22kB</td>
   <td><tt>073a140fb2cc7ad6974ef9a67842037115e58dd238d1d871ab222517af12549d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/layer-shell-qt-5.26.1.tar.xz">layer-shell-qt-5.26.1</a></td>
   <td align="right">17kB</td>
   <td><tt>48298edaf24275fe1eb1183cd25bdcabf8ff6525d5b850749c70bc2eb14db494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/libkscreen-5.26.1.tar.xz">libkscreen-5.26.1</a></td>
   <td align="right">100kB</td>
   <td><tt>da4f7bb427b0e2529ada474c4b112224b0cefcc03fa4a7e6e04dd3112ac72526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/libksysguard-5.26.1.tar.xz">libksysguard-5.26.1</a></td>
   <td align="right">777kB</td>
   <td><tt>1775e1b0321b3486554a1bb49b6aa836608fb40361e3242c9281e81dac6a1fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/milou-5.26.1.tar.xz">milou-5.26.1</a></td>
   <td align="right">49kB</td>
   <td><tt>77106e1a1f293997f9521bea2c912dfe001ae974ca31363a9d33cdc53872bcdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/oxygen-5.26.1.tar.xz">oxygen-5.26.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ba78c976edc4472d91952236c4c9bb4b5530226f4faf83c6c7fb609a10585b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/oxygen-sounds-5.26.1.tar.xz">oxygen-sounds-5.26.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>830eb6edcb2f5b7c90fa8376d0a4f9008ea7e8b20e14cd356d218799be6ed0b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plank-player-5.26.1.tar.xz">plank-player-5.26.1</a></td>
   <td align="right">152kB</td>
   <td><tt>be5ae1c7813f427fde914e4cf1e79f78ef4414f2105262276fe36f3a9fbee0e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-bigscreen-5.26.1.tar.xz">plasma-bigscreen-5.26.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5e9cf0834d49d1d185c82a7d94e8a8f1e81b59517dfac4e6dd84e5e2904089c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-browser-integration-5.26.1.tar.xz">plasma-browser-integration-5.26.1</a></td>
   <td align="right">230kB</td>
   <td><tt>9641da13d617288b31dfcca0996f6ceabb8e596bf7de6b75317169896be0e863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-desktop-5.26.1.tar.xz">plasma-desktop-5.26.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5e69fc5279d353b830316621e90b46596581910eb59eb65d826354888f732a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-disks-5.26.1.tar.xz">plasma-disks-5.26.1</a></td>
   <td align="right">90kB</td>
   <td><tt>88bac24ece8c8c6880f184f48d61fbe2100fe5a76861c1298b3ae23508344e29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-firewall-5.26.1.tar.xz">plasma-firewall-5.26.1</a></td>
   <td align="right">349kB</td>
   <td><tt>48c3552b2873f883f9eda1b72fa35b6686d95bd14e63a422d5a428b7ca81122a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-integration-5.26.1.tar.xz">plasma-integration-5.26.1</a></td>
   <td align="right">86kB</td>
   <td><tt>1d773c48827875c609a2c500dc4a0bb2993682f5218ec0edebc74c810adcf20b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-mobile-5.26.1.tar.xz">plasma-mobile-5.26.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>43f48d4138b3cdbaec63e03836df1ea3f3c953385faf8505d93a9b3a5cf78bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-nano-5.26.1.tar.xz">plasma-nano-5.26.1</a></td>
   <td align="right">70kB</td>
   <td><tt>88e87e0e6c61976f6f85e30b1023c57fd2c996c9a07217256b6bbc5ee5332cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-nm-5.26.1.tar.xz">plasma-nm-5.26.1</a></td>
   <td align="right">947kB</td>
   <td><tt>519876cdebdc0f1c45368e02c102297591192b49186926299ba0b61f1d6ab8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-pa-5.26.1.tar.xz">plasma-pa-5.26.1</a></td>
   <td align="right">139kB</td>
   <td><tt>8af4f1f4e8d0b3b2e40e6b4feca93930fecbb1da44702cd9a2a632a341a4fb42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-remotecontrollers-5.26.1.tar.xz">plasma-remotecontrollers-5.26.1</a></td>
   <td align="right">67kB</td>
   <td><tt>85e0ef21624aae549922e8991ee03784e3dacc7f6e2a499e216b6fb68755f0a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-sdk-5.26.1.tar.xz">plasma-sdk-5.26.1</a></td>
   <td align="right">263kB</td>
   <td><tt>9189678c69c766aa3e3e7c1c492229458c2e8bc1dd7de99e02971b1573617042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-systemmonitor-5.26.1.tar.xz">plasma-systemmonitor-5.26.1</a></td>
   <td align="right">164kB</td>
   <td><tt>46920a4068fb0986d3fe2a2f4467eb37b3938a1b921e618835d4dc8065cddcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-tests-5.26.1.tar.xz">plasma-tests-5.26.1</a></td>
   <td align="right">1kB</td>
   <td><tt>c91c7ba00ec6036a392069d0823def42615101bf2fa5a5dfda278d92563ca950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-thunderbolt-5.26.1.tar.xz">plasma-thunderbolt-5.26.1</a></td>
   <td align="right">70kB</td>
   <td><tt>6e3c796fec74026736d29547aad928128329291da57876bf2deee8f457367c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-vault-5.26.1.tar.xz">plasma-vault-5.26.1</a></td>
   <td align="right">181kB</td>
   <td><tt>2ef204765820c8c43b22c72ff61e1b22c122c9472920622bd80c3ee1ba2ca163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-workspace-5.26.1.tar.xz">plasma-workspace-5.26.1</a></td>
   <td align="right">16MB</td>
   <td><tt>dc0709d9e99784e46e921b2b5e213b919887512ac1d8e0be46f77f8ba00a8f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plasma-workspace-wallpapers-5.26.1.tar.xz">plasma-workspace-wallpapers-5.26.1</a></td>
   <td align="right">80MB</td>
   <td><tt>e24dcdfd61e09b1b2df84e5db9f5326db73971683c12a0303d759c59de608ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/plymouth-kcm-5.26.1.tar.xz">plymouth-kcm-5.26.1</a></td>
   <td align="right">42kB</td>
   <td><tt>48cf17f9b6dfe1467f1dce2651192e2c8340ec0a28bc0d2fd1a9a12c555a7924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/polkit-kde-agent-1-5.26.1.tar.xz">polkit-kde-agent-1-5.26.1</a></td>
   <td align="right">48kB</td>
   <td><tt>86a6453448beed5219d4b723e9c0a1f6e91d68c47882bf0861522b29a3a8f25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/powerdevil-5.26.1.tar.xz">powerdevil-5.26.1</a></td>
   <td align="right">627kB</td>
   <td><tt>946c47e589d5f0a30a85ef2abbb4bc34c432dc26916c6301430350902160a563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/qqc2-breeze-style-5.26.1.tar.xz">qqc2-breeze-style-5.26.1</a></td>
   <td align="right">64kB</td>
   <td><tt>3a77b144c031439abeef9aca1e2c94645f2608bf50a233e9ad9d968675ce20fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/sddm-kcm-5.26.1.tar.xz">sddm-kcm-5.26.1</a></td>
   <td align="right">80kB</td>
   <td><tt>a495cc034c1dff008fdde3569dc614e3ef51d2111f35e29f101c7702525ac53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/systemsettings-5.26.1.tar.xz">systemsettings-5.26.1</a></td>
   <td align="right">200kB</td>
   <td><tt>57a8a26feabbe7e6f5f170de8cd84af534add6a18622adc7cb8de3dc6d142a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.1/xdg-desktop-portal-kde-5.26.1.tar.xz">xdg-desktop-portal-kde-5.26.1</a></td>
   <td align="right">106kB</td>
   <td><tt>aaa086821c55c4732b7af472979b32fd2147ac833f843208c3194475c6dc3258</tt></td>
</tr>

</table>
