
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/attica-5.97.0.tar.xz">attica-5.97.0</a></td>
   <td align="right">68kB</td>
   <td><tt>81ebcd1bf9506a23c94744bf479f5575db8a11f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/baloo-5.97.0.tar.xz">baloo-5.97.0</a></td>
   <td align="right">283kB</td>
   <td><tt>7828e090426893a84b3dcdf296c318516895a1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/bluez-qt-5.97.0.tar.xz">bluez-qt-5.97.0</a></td>
   <td align="right">111kB</td>
   <td><tt>9a4e3960c805fe6a4c241583670b3b894faa2364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/breeze-icons-5.97.0.tar.xz">breeze-icons-5.97.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1c74dc62f7bc8cf5cc42d73523934be9bac425ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/extra-cmake-modules-5.97.0.tar.xz">extra-cmake-modules-5.97.0</a></td>
   <td align="right">323kB</td>
   <td><tt>e13ffad1f1e67ddd191be9f47280a5df3493e668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/frameworkintegration-5.97.0.tar.xz">frameworkintegration-5.97.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7b4881f9c77be4506210527c4de09f731d76196e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kactivities-5.97.0.tar.xz">kactivities-5.97.0</a></td>
   <td align="right">71kB</td>
   <td><tt>a56ce05aae83579964e351d3d7097a17de39a082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kactivities-stats-5.97.0.tar.xz">kactivities-stats-5.97.0</a></td>
   <td align="right">82kB</td>
   <td><tt>3b680ff658bf06fbaf86e32fd3efb7adc2da29ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kapidox-5.97.0.tar.xz">kapidox-5.97.0</a></td>
   <td align="right">193kB</td>
   <td><tt>9b63f994c4e7775c974e903bb342003e458098b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/karchive-5.97.0.tar.xz">karchive-5.97.0</a></td>
   <td align="right">963kB</td>
   <td><tt>11616163020a873a30971c46001946a147cc2526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kauth-5.97.0.tar.xz">kauth-5.97.0</a></td>
   <td align="right">88kB</td>
   <td><tt>8a461b93bc51f2c8c6a8ff7ad22c5baf6e80a2a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kbookmarks-5.97.0.tar.xz">kbookmarks-5.97.0</a></td>
   <td align="right">126kB</td>
   <td><tt>83cfa4f26674fac68898957c6fc4c0632bc2a5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcalendarcore-5.97.0.tar.xz">kcalendarcore-5.97.0</a></td>
   <td align="right">260kB</td>
   <td><tt>8d64297583c7100686d1648ef045254c5f416fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcmutils-5.97.0.tar.xz">kcmutils-5.97.0</a></td>
   <td align="right">184kB</td>
   <td><tt>e574adf5822c8d22d0d1fc7ebbb670a834cc0b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcodecs-5.97.0.tar.xz">kcodecs-5.97.0</a></td>
   <td align="right">231kB</td>
   <td><tt>8484b2c9724f08d3d908de486af28b42f9e8d2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcompletion-5.97.0.tar.xz">kcompletion-5.97.0</a></td>
   <td align="right">121kB</td>
   <td><tt>2e09a69283e98c5559e103b07054005ea852ed61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kconfig-5.97.0.tar.xz">kconfig-5.97.0</a></td>
   <td align="right">276kB</td>
   <td><tt>385472f51df0d40ea50a25179aef18530d53cf48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kconfigwidgets-5.97.0.tar.xz">kconfigwidgets-5.97.0</a></td>
   <td align="right">408kB</td>
   <td><tt>662a205f68d9b5de363ccd56d161683433c3b58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcontacts-5.97.0.tar.xz">kcontacts-5.97.0</a></td>
   <td align="right">189kB</td>
   <td><tt>0a82a802ab5b711b77bee98d6ad6af06eea7a1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcoreaddons-5.97.0.tar.xz">kcoreaddons-5.97.0</a></td>
   <td align="right">456kB</td>
   <td><tt>3e0a604107794334b529b547a262738d23ae623e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kcrash-5.97.0.tar.xz">kcrash-5.97.0</a></td>
   <td align="right">27kB</td>
   <td><tt>e912a6a08938d0b503d35e27106434ed3d93a93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kdav-5.97.0.tar.xz">kdav-5.97.0</a></td>
   <td align="right">64kB</td>
   <td><tt>3b0ca019b13b7ac5ee05f5fe9b733bd35d4ffc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kdbusaddons-5.97.0.tar.xz">kdbusaddons-5.97.0</a></td>
   <td align="right">47kB</td>
   <td><tt>702cf750537003731bb89a84452ce489b50c2c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kdeclarative-5.97.0.tar.xz">kdeclarative-5.97.0</a></td>
   <td align="right">202kB</td>
   <td><tt>9f8194fb50e16ca965dcaeb221269d03cc421b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kded-5.97.0.tar.xz">kded-5.97.0</a></td>
   <td align="right">38kB</td>
   <td><tt>52d69a9d275c81769651532d98dd330aa29d5ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kdesu-5.97.0.tar.xz">kdesu-5.97.0</a></td>
   <td align="right">54kB</td>
   <td><tt>ff6711d66885a7f8f6a43b971a9bc7ffc5ceae0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kdnssd-5.97.0.tar.xz">kdnssd-5.97.0</a></td>
   <td align="right">59kB</td>
   <td><tt>d248e143e23c8ab1a219be8677b893872ba9c432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kdoctools-5.97.0.tar.xz">kdoctools-5.97.0</a></td>
   <td align="right">430kB</td>
   <td><tt>1ba9c0ded5d90b247e840ab6722875d98d90320e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kemoticons-5.97.0.tar.xz">kemoticons-5.97.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3f631522699a7ead11d60fc30c80c40c79c10851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kfilemetadata-5.97.0.tar.xz">kfilemetadata-5.97.0</a></td>
   <td align="right">427kB</td>
   <td><tt>7bf2edf02e8667864f49309786c971fbe20f2847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kglobalaccel-5.97.0.tar.xz">kglobalaccel-5.97.0</a></td>
   <td align="right">94kB</td>
   <td><tt>1795ac904319561fe9b9b4db9fe43b28d0dd6b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kguiaddons-5.97.0.tar.xz">kguiaddons-5.97.0</a></td>
   <td align="right">71kB</td>
   <td><tt>bbd51a52b81d0f8b151d9f27ff0d8ede8ed25fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kholidays-5.97.0.tar.xz">kholidays-5.97.0</a></td>
   <td align="right">234kB</td>
   <td><tt>7a59db0a6f61e15fe27e1f187bf9114800639555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/ki18n-5.97.0.tar.xz">ki18n-5.97.0</a></td>
   <td align="right">933kB</td>
   <td><tt>6203f62abd6ec25ad8abaceb51579b5f1091932a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kiconthemes-5.97.0.tar.xz">kiconthemes-5.97.0</a></td>
   <td align="right">221kB</td>
   <td><tt>dd61a3fa7a03ac9d1e7a3e0df45ed08976e84e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kidletime-5.97.0.tar.xz">kidletime-5.97.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6088c7f66b725b97eddc1365807a0c829d0b0acb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kimageformats-5.97.0.tar.xz">kimageformats-5.97.0</a></td>
   <td align="right">5.0MB</td>
   <td><tt>3272711f13fd30b1025333baf2a05ba26bb074f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kinit-5.97.0.tar.xz">kinit-5.97.0</a></td>
   <td align="right">116kB</td>
   <td><tt>3c7e46dcf6a0b5744223c535399ad8895507f98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kio-5.97.0.tar.xz">kio-5.97.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e1d6639bf4d0ec0f93d233dd4b8d7cbd9756f7ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kirigami2-5.97.0.tar.xz">kirigami2-5.97.0</a></td>
   <td align="right">351kB</td>
   <td><tt>6ac043856c3403e3513a703f9cbec80e2d346a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kitemmodels-5.97.0.tar.xz">kitemmodels-5.97.0</a></td>
   <td align="right">397kB</td>
   <td><tt>a8f2437821f8b17fdcd3793cd85375d666571206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kitemviews-5.97.0.tar.xz">kitemviews-5.97.0</a></td>
   <td align="right">75kB</td>
   <td><tt>2410308c99eddfd02f6caaec7b38113f83bbe401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kjobwidgets-5.97.0.tar.xz">kjobwidgets-5.97.0</a></td>
   <td align="right">99kB</td>
   <td><tt>c2a3f5c3e47f5564fea2d694c0c7c415772b1e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/knewstuff-5.97.0.tar.xz">knewstuff-5.97.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7097bbf3a41cb2114f0a1d6a7d87a44be4bd816f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/knotifications-5.97.0.tar.xz">knotifications-5.97.0</a></td>
   <td align="right">129kB</td>
   <td><tt>e2de0ee4160986ad8d575ed118f8aeb6d7bbece3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/knotifyconfig-5.97.0.tar.xz">knotifyconfig-5.97.0</a></td>
   <td align="right">85kB</td>
   <td><tt>ad8cf92c331239c70cc9bb9069d0a7f6ea3ea45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kpackage-5.97.0.tar.xz">kpackage-5.97.0</a></td>
   <td align="right">137kB</td>
   <td><tt>daeffc5bfeb926111dc56e95407fca27a9424d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kparts-5.97.0.tar.xz">kparts-5.97.0</a></td>
   <td align="right">192kB</td>
   <td><tt>8e721de5e3aedc96c3421dbde61222aa96edb530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kpeople-5.97.0.tar.xz">kpeople-5.97.0</a></td>
   <td align="right">58kB</td>
   <td><tt>b11889555be82dff6b5cb9baa4842bec1b87b0b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kplotting-5.97.0.tar.xz">kplotting-5.97.0</a></td>
   <td align="right">32kB</td>
   <td><tt>937fffcd28f29cfdb49872abfe1efd7fef17d1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kpty-5.97.0.tar.xz">kpty-5.97.0</a></td>
   <td align="right">58kB</td>
   <td><tt>7797172f6f16c382cfebf16affc4c4c32a03cba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kquickcharts-5.97.0.tar.xz">kquickcharts-5.97.0</a></td>
   <td align="right">106kB</td>
   <td><tt>d5edb02d19993dba918c88c0276aad6ca1f09b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/krunner-5.97.0.tar.xz">krunner-5.97.0</a></td>
   <td align="right">85kB</td>
   <td><tt>d9ac071c6dccd96c94b5d8d3b4ec40a4f9b1f38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kservice-5.97.0.tar.xz">kservice-5.97.0</a></td>
   <td align="right">262kB</td>
   <td><tt>1d957cd689548013debb721b6e753be9467f8d67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/ktexteditor-5.97.0.tar.xz">ktexteditor-5.97.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9fed855b90cf64b9a1d9c82e941c74e02a1c5f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/ktextwidgets-5.97.0.tar.xz">ktextwidgets-5.97.0</a></td>
   <td align="right">321kB</td>
   <td><tt>73dfb8868323a8c4891405e533084079c3cb63b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kunitconversion-5.97.0.tar.xz">kunitconversion-5.97.0</a></td>
   <td align="right">877kB</td>
   <td><tt>657dd138c224e0131f1c5f01113feb2711b485e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kwallet-5.97.0.tar.xz">kwallet-5.97.0</a></td>
   <td align="right">323kB</td>
   <td><tt>450df8c7055620f80e3bcdef4910cc050333237d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kwayland-5.97.0.tar.xz">kwayland-5.97.0</a></td>
   <td align="right">327kB</td>
   <td><tt>1e9dbf09cd15244c17696da7bc12685a56f1d2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kwidgetsaddons-5.97.0.tar.xz">kwidgetsaddons-5.97.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a9265831ca9736f6860061d8b1dac15f27e5e11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kwindowsystem-5.97.0.tar.xz">kwindowsystem-5.97.0</a></td>
   <td align="right">178kB</td>
   <td><tt>ec3b37b540625dddf2ed27ef283199f844f2ada6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/kxmlgui-5.97.0.tar.xz">kxmlgui-5.97.0</a></td>
   <td align="right">879kB</td>
   <td><tt>6296c76e2f0e1426048ce9af7b41c18bea2eac24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/modemmanager-qt-5.97.0.tar.xz">modemmanager-qt-5.97.0</a></td>
   <td align="right">118kB</td>
   <td><tt>13b2b276d508c8d729fab6792bb8aab133111413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/networkmanager-qt-5.97.0.tar.xz">networkmanager-qt-5.97.0</a></td>
   <td align="right">193kB</td>
   <td><tt>077d0265a41e5f0b1671f9de393befa88bda2779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/oxygen-icons5-5.97.0.tar.xz">oxygen-icons5-5.97.0</a></td>
   <td align="right">227MB</td>
   <td><tt>a5a23ac3266aad4a7d8f9cfd9a7266c9dc9df841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/plasma-framework-5.97.0.tar.xz">plasma-framework-5.97.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>1fda70aed5299ba5e976f038d4c690a187ff19c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/prison-5.97.0.tar.xz">prison-5.97.0</a></td>
   <td align="right">54kB</td>
   <td><tt>d662e9f094657b7d56b3c1b3c00a2ccf3b3236f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/purpose-5.97.0.tar.xz">purpose-5.97.0</a></td>
   <td align="right">170kB</td>
   <td><tt>d7ab24e2f9691e17548cc13e8bf511d98dbbe927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/qqc2-desktop-style-5.97.0.tar.xz">qqc2-desktop-style-5.97.0</a></td>
   <td align="right">64kB</td>
   <td><tt>2bf9d30a3572b1ef96df84fe812ebe80c551858d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/solid-5.97.0.tar.xz">solid-5.97.0</a></td>
   <td align="right">252kB</td>
   <td><tt>f2e3645fadc5524facc64b97e664cfba58d2440b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/sonnet-5.97.0.tar.xz">sonnet-5.97.0</a></td>
   <td align="right">300kB</td>
   <td><tt>0791c61a784c8ec71252665c777c6d4c23911170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/syndication-5.97.0.tar.xz">syndication-5.97.0</a></td>
   <td align="right">498kB</td>
   <td><tt>eaec3bad20f46f79be20bea7cb4bed9c4e658f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/syntax-highlighting-5.97.0.tar.xz">syntax-highlighting-5.97.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cd49e3cb17acbe2c08aa69223832106d22185238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.97/threadweaver-5.97.0.tar.xz">threadweaver-5.97.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c9de0bb28bb2ed3aa69a410f83567e90d69bb887</tt></td>
</tr>

</table>
