<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/bluedevil-5.7.1.tar.xz">bluedevil-5.7.1</a></td>
   <td align="right">135kB</td>
   <td><tt>012ddb2f2796b67fe9b67348b40ea9694b1c32d7584121d65698b0754426e8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/breeze-5.7.1.tar.xz">breeze-5.7.1</a></td>
   <td align="right">11MB</td>
   <td><tt>f3e27cce1449cbd14ed72355e0ba1fb103990afdf08dfdb1ac26ffe939cdeaea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/breeze-grub-5.7.1.tar.xz">breeze-grub-5.7.1</a></td>
   <td align="right">150kB</td>
   <td><tt>7d7095a4edd4e4f3ef21e4d19f2a7a87e1e852940986c4c56c0cb92408d6172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/breeze-gtk-5.7.1.tar.xz">breeze-gtk-5.7.1</a></td>
   <td align="right">206kB</td>
   <td><tt>0f0bb55574384d524ee67236128e185000fc3026d5184918dab94f5353b39ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/breeze-plymouth-5.7.1.tar.xz">breeze-plymouth-5.7.1</a></td>
   <td align="right">55kB</td>
   <td><tt>8b73324ebf3a0856aa387cf589537634e7f65bf09d73413b94c2758fc23c9d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/discover-5.7.1.tar.xz">discover-5.7.1</a></td>
   <td align="right">795kB</td>
   <td><tt>edd2859723ac56031809d3fd39f38ed7bbf89fdecf262bb00d5799eba5228fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kactivitymanagerd-5.7.1.tar.xz">kactivitymanagerd-5.7.1</a></td>
   <td align="right">78kB</td>
   <td><tt>78a1d8f7938c74671fb9f6530e9fee0759d83a942f3c0a27c1d9cb3d7b6f84d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kde-cli-tools-5.7.1.tar.xz">kde-cli-tools-5.7.1</a></td>
   <td align="right">476kB</td>
   <td><tt>09a2db8f3d770d993030040eb5052164088e746cb734ba2e08373b7fda347260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kdecoration-5.7.1.tar.xz">kdecoration-5.7.1</a></td>
   <td align="right">33kB</td>
   <td><tt>075fe0c57496f89a71820d84a3585dfd130650928baacc46da9331aa88573ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kde-gtk-config-5.7.1.tar.xz">kde-gtk-config-5.7.1</a></td>
   <td align="right">144kB</td>
   <td><tt>24e96bfb61435bfa048598785585e39065f73e86acb2e4747a8f00136428b5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kdeplasma-addons-5.7.1.tar.xz">kdeplasma-addons-5.7.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f775f8610139d1960ab92f80d4232b3b8f09580bdad258ca56e8da446900af8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kgamma5-5.7.1.tar.xz">kgamma5-5.7.1</a></td>
   <td align="right">58kB</td>
   <td><tt>54d7a8ba2669c9c86e13735779714e508a90e1cd6a49e250b1e256999294ddd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/khotkeys-5.7.1.tar.xz">khotkeys-5.7.1</a></td>
   <td align="right">590kB</td>
   <td><tt>d31977d330c8452721bbee031b6e78298da8887250d43ee9a83fa895ba725636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kinfocenter-5.7.1.tar.xz">kinfocenter-5.7.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9a172b45808b980accd317a0b300e072f5973b5305a0090e61ef0957160dd57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kmenuedit-5.7.1.tar.xz">kmenuedit-5.7.1</a></td>
   <td align="right">430kB</td>
   <td><tt>90741ae8e126a3ee25e571624575e8ceb475d897c06885c354dbec16394428a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kscreen-5.7.1.tar.xz">kscreen-5.7.1</a></td>
   <td align="right">106kB</td>
   <td><tt>54e1d6b8ebb5fd72c7c26d88f32e9014625bdabfd3cc61e78d2840ba55b45f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kscreenlocker-5.7.1.tar.xz">kscreenlocker-5.7.1</a></td>
   <td align="right">100kB</td>
   <td><tt>89b41c3e5a76803739283ecb3d5e753882c0a954782b9f5572567fb9390bfd36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/ksshaskpass-5.7.1.tar.xz">ksshaskpass-5.7.1</a></td>
   <td align="right">18kB</td>
   <td><tt>8219d5ca9291948b4c19bc1bfb2c83564806fe894ec837326a948a50aae5952e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/ksysguard-5.7.1.tar.xz">ksysguard-5.7.1</a></td>
   <td align="right">476kB</td>
   <td><tt>b2c4d1e26c2ed0daeb5f147510763338f53e0b34f9f61ce81f9868eaaee66991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kwallet-pam-5.7.1.tar.xz">kwallet-pam-5.7.1</a></td>
   <td align="right">17kB</td>
   <td><tt>0d755ca031182bece035fcc0fda8125f34fdf18c4a81e15f61a9ce7214895d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kwayland-integration-5.7.1.tar.xz">kwayland-integration-5.7.1</a></td>
   <td align="right">17kB</td>
   <td><tt>da9091141f599fa6dcb856ce8cd47874421c6dfe69598b5f1701be47c000a347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kwin-5.7.1.tar.xz">kwin-5.7.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>40c7a3a59874368ad74f55656d382ac2b252ea44a2c2eb04d07fc7b0f5727b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/kwrited-5.7.1.tar.xz">kwrited-5.7.1</a></td>
   <td align="right">19kB</td>
   <td><tt>e3905b1b667b3189dc06b972ddaac29eda323b5f1ee26f0760bdb2cb2b24ab56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/libkscreen-5.7.1.tar.xz">libkscreen-5.7.1</a></td>
   <td align="right">88kB</td>
   <td><tt>d74ade9477c7e1cf370923e8daa71f7586c87cebe950435e2a108b78f299c8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/libksysguard-5.7.1.tar.xz">libksysguard-5.7.1</a></td>
   <td align="right">558kB</td>
   <td><tt>12127a90535b0190763a448804e65f13cee3799f4cfcc4584bcb1bef5e678908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/milou-5.7.1.tar.xz">milou-5.7.1</a></td>
   <td align="right">52kB</td>
   <td><tt>2e44697e58b8e4f8334369cd1f54dc15904728c3090a99e2924f770d30729939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/oxygen-5.7.1.tar.xz">oxygen-5.7.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>c0f6f380b8a2f6c0f239a030906b89179a5ab591bd3782eaf65ebab1ec7f5ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-desktop-5.7.1.tar.xz">plasma-desktop-5.7.1</a></td>
   <td align="right">5.8MB</td>
   <td><tt>84e00faea0b3315a8edd8a0c1ed27a955e2f5d3ba5fe5b3ad26a5281cd693bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-integration-5.7.1.tar.xz">plasma-integration-5.7.1</a></td>
   <td align="right">47kB</td>
   <td><tt>86156e170569a816158ac812be9faedd99f9b347371179d427f90f5fb4579289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-mediacenter-5.7.1.tar.xz">plasma-mediacenter-5.7.1</a></td>
   <td align="right">158kB</td>
   <td><tt>6dc76a32172ec7f334a9e59aa644e727472a2eba48acd289b2da267ddf3eac8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-nm-5.7.1.tar.xz">plasma-nm-5.7.1</a></td>
   <td align="right">618kB</td>
   <td><tt>d08889b3028467076672971979d54dfc645d238f75987431051763869405386a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-pa-5.7.1.tar.xz">plasma-pa-5.7.1</a></td>
   <td align="right">57kB</td>
   <td><tt>5e7d1621a42a85486b03d9400bb6778f0072e469e750c656b7b3c6349c7e993c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-sdk-5.7.1.tar.xz">plasma-sdk-5.7.1</a></td>
   <td align="right">681kB</td>
   <td><tt>126ab4d3082de0bd70c70df2267b98a4e5a77c1703c16ff65799ad84f927c5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-workspace-5.7.1.tar.xz">plasma-workspace-5.7.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>d60fd04f2ec834312dac5f817967342c20e2c805c1ef90ba1272ce8246858f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/plasma-workspace-wallpapers-5.7.1.tar.xz">plasma-workspace-wallpapers-5.7.1</a></td>
   <td align="right">43MB</td>
   <td><tt>07a2c7628f1620498d0aedf6f78a1c3ef5d8d694d9ce80fa7e5fb653965c835a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/polkit-kde-agent-1-5.7.1.tar.xz">polkit-kde-agent-1-5.7.1</a></td>
   <td align="right">39kB</td>
   <td><tt>58507ce4e442b7a05419cce125abae14ee66ef1e87faded650da01dce96d95dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/powerdevil-5.7.1.tar.xz">powerdevil-5.7.1</a></td>
   <td align="right">349kB</td>
   <td><tt>1ede01699e0ff3e4583a9a16753dd5ae3ff778f63c57cecc7d8209de9ebbb96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/sddm-kcm-5.7.1.tar.xz">sddm-kcm-5.7.1</a></td>
   <td align="right">47kB</td>
   <td><tt>afb9c3866aef88fd5de62275a2dc5ea7f3a9a50a44ea71d4070494d72cf0ce2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/systemsettings-5.7.1.tar.xz">systemsettings-5.7.1</a></td>
   <td align="right">154kB</td>
   <td><tt>1c06a23d4961f1c28d6c4972c551c50481b019c67999ea064da56ab631dc2c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.1/user-manager-5.7.1.tar.xz">user-manager-5.7.1</a></td>
   <td align="right">273kB</td>
   <td><tt>be0cfc4caaf30ab802074647c9e6781a37a29d1c3181f84572662ddee3e7fccb</tt></td>
</tr>

</table>
