
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/attica-5.45.0.tar.xz">attica-5.45.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bc9d8bb875324ffcd7fbe1b4a99bf74dff5d3cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/baloo-5.45.0.tar.xz">baloo-5.45.0</a></td>
   <td align="right">213kB</td>
   <td><tt>b36ba6ffc40f34c82614ea129828ec1a91231a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/bluez-qt-5.45.0.tar.xz">bluez-qt-5.45.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1bc4732b3f2dd929928f6339a465bea7f249c43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/breeze-icons-5.45.0.tar.xz">breeze-icons-5.45.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d9bbfa3c51a1cd31b56ac7b5a51c64eec08f6278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/extra-cmake-modules-5.45.0.tar.xz">extra-cmake-modules-5.45.0</a></td>
   <td align="right">308kB</td>
   <td><tt>9c552016f247607c7ad908c048ef4e9969f10bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/frameworkintegration-5.45.0.tar.xz">frameworkintegration-5.45.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>515a3c019c2502bca4d29b964762ff5d0eef0fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kactivities-5.45.0.tar.xz">kactivities-5.45.0</a></td>
   <td align="right">59kB</td>
   <td><tt>8aeacc34689494830b1509f48763a1255320eb08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kactivities-stats-5.45.0.tar.xz">kactivities-stats-5.45.0</a></td>
   <td align="right">59kB</td>
   <td><tt>289dea3b10f1fab566c5d0dd0153afec06daf18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kapidox-5.45.0.tar.xz">kapidox-5.45.0</a></td>
   <td align="right">386kB</td>
   <td><tt>117d6a262683c8fcab6269929580be347803769d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/karchive-5.45.0.tar.xz">karchive-5.45.0</a></td>
   <td align="right">427kB</td>
   <td><tt>d82de7f896f36db0a60523e20f86fcc19331cd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kauth-5.45.0.tar.xz">kauth-5.45.0</a></td>
   <td align="right">82kB</td>
   <td><tt>72e6daa79d034fe3c89a342d80f9152ad44419cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kbookmarks-5.45.0.tar.xz">kbookmarks-5.45.0</a></td>
   <td align="right">115kB</td>
   <td><tt>80e7f15b3f461d28712706d674c5eb8bae130c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kcmutils-5.45.0.tar.xz">kcmutils-5.45.0</a></td>
   <td align="right">231kB</td>
   <td><tt>3f1d397d4392cc63925bcb4055648abae854325e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kcodecs-5.45.0.tar.xz">kcodecs-5.45.0</a></td>
   <td align="right">214kB</td>
   <td><tt>d69303ef1299fd2afbbea5cd33a26cd604150825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kcompletion-5.45.0.tar.xz">kcompletion-5.45.0</a></td>
   <td align="right">116kB</td>
   <td><tt>300b9bf257c80e1bea6a6f9de16d6f5acbcae94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kconfig-5.45.0.tar.xz">kconfig-5.45.0</a></td>
   <td align="right">229kB</td>
   <td><tt>ad58d41684987bb7cc5d318c96b81961ee4e340b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kconfigwidgets-5.45.0.tar.xz">kconfigwidgets-5.45.0</a></td>
   <td align="right">366kB</td>
   <td><tt>1d4fd27d22d7e4483eb7560b975e556fb145a438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kcoreaddons-5.45.0.tar.xz">kcoreaddons-5.45.0</a></td>
   <td align="right">343kB</td>
   <td><tt>c7de9244f07dd160f9f5d6796ae6724f9de0a9db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kcrash-5.45.0.tar.xz">kcrash-5.45.0</a></td>
   <td align="right">21kB</td>
   <td><tt>ac64cd831b44ceb9c68214e85913cb830e21e5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdbusaddons-5.45.0.tar.xz">kdbusaddons-5.45.0</a></td>
   <td align="right">36kB</td>
   <td><tt>d77e2c774e3c8bfd9f0333c8c30b90fc1d55c14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdeclarative-5.45.0.tar.xz">kdeclarative-5.45.0</a></td>
   <td align="right">167kB</td>
   <td><tt>c39fe7e2ad32731be86d1e95457b798dd6818de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kded-5.45.0.tar.xz">kded-5.45.0</a></td>
   <td align="right">36kB</td>
   <td><tt>a48b3b302137d69a454bafd3d8ee3dba4a063427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdesignerplugin-5.45.0.tar.xz">kdesignerplugin-5.45.0</a></td>
   <td align="right">88kB</td>
   <td><tt>65fef5b25f6f6097f9a950a86bbc0c7615b4dd2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdesu-5.45.0.tar.xz">kdesu-5.45.0</a></td>
   <td align="right">43kB</td>
   <td><tt>1e4dd0fbbc8d41d47244ea44b0f7b12423e776c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdewebkit-5.45.0.tar.xz">kdewebkit-5.45.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b8d1cdf1713e1fe6e4c4e833cb1b643aa0b7c0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdnssd-5.45.0.tar.xz">kdnssd-5.45.0</a></td>
   <td align="right">55kB</td>
   <td><tt>222a6dd0211f7a5819744201dd0285689edc4962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kdoctools-5.45.0.tar.xz">kdoctools-5.45.0</a></td>
   <td align="right">412kB</td>
   <td><tt>15730cae57e1ce1adfeedc2afb66ba5f7868b07e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kemoticons-5.45.0.tar.xz">kemoticons-5.45.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b5488687390bc53d848af6bbfc7c296db50ea1dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kfilemetadata-5.45.0.tar.xz">kfilemetadata-5.45.0</a></td>
   <td align="right">214kB</td>
   <td><tt>7660c08e68a1178975dc8d01650aa7773a0b6467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kglobalaccel-5.45.0.tar.xz">kglobalaccel-5.45.0</a></td>
   <td align="right">81kB</td>
   <td><tt>cffe84b093b4bb50b2e733dbbc2eb26e21ac204e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kguiaddons-5.45.0.tar.xz">kguiaddons-5.45.0</a></td>
   <td align="right">39kB</td>
   <td><tt>45b66e159953b892a8a5a68e83eb8ab3f0085d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kholidays-5.45.0.tar.xz">kholidays-5.45.0</a></td>
   <td align="right">193kB</td>
   <td><tt>82cb4793bfb949f680aed3d7f0fb40cdf53e0e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/ki18n-5.45.0.tar.xz">ki18n-5.45.0</a></td>
   <td align="right">573kB</td>
   <td><tt>cd260ba642b83a186bef88497956d950ab37c665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kiconthemes-5.45.0.tar.xz">kiconthemes-5.45.0</a></td>
   <td align="right">200kB</td>
   <td><tt>283f0707fd1e0e651ecbe0b692397e0953ac5533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kidletime-5.45.0.tar.xz">kidletime-5.45.0</a></td>
   <td align="right">25kB</td>
   <td><tt>5eb37874ba68372eb3bb6e11a7c308b930858fcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kimageformats-5.45.0.tar.xz">kimageformats-5.45.0</a></td>
   <td align="right">199kB</td>
   <td><tt>4cf9a703590bcd20714b66315018c9fd88228641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kinit-5.45.0.tar.xz">kinit-5.45.0</a></td>
   <td align="right">117kB</td>
   <td><tt>2dab639136a005424c74ec91aec690233541cb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kio-5.45.0.tar.xz">kio-5.45.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c2cab7c9b5ce9cbceee6cce80c01602c0977cfd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kirigami2-5.45.0.tar.xz">kirigami2-5.45.0</a></td>
   <td align="right">304kB</td>
   <td><tt>44650084f3203ea9dd4af88deb7bfd1e11c99463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kitemmodels-5.45.0.tar.xz">kitemmodels-5.45.0</a></td>
   <td align="right">380kB</td>
   <td><tt>3d8155962a3096cd1c6751b967934231d6e7c5e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kitemviews-5.45.0.tar.xz">kitemviews-5.45.0</a></td>
   <td align="right">73kB</td>
   <td><tt>9c382fa4b9ce9663993f91fe698f71f382ad54ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kjobwidgets-5.45.0.tar.xz">kjobwidgets-5.45.0</a></td>
   <td align="right">85kB</td>
   <td><tt>a2e3760d9790e5f6d9954271880f4c10e67f8fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/knewstuff-5.45.0.tar.xz">knewstuff-5.45.0</a></td>
   <td align="right">975kB</td>
   <td><tt>17074a3501961a5ef7c859d4ea3673f10005afde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/knotifications-5.45.0.tar.xz">knotifications-5.45.0</a></td>
   <td align="right">98kB</td>
   <td><tt>c999ebd50085d3369235b2e3b2e69d8b97f79b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/knotifyconfig-5.45.0.tar.xz">knotifyconfig-5.45.0</a></td>
   <td align="right">81kB</td>
   <td><tt>5b3d22df9192d3f91fa41a2428098f71f4fe813d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kpackage-5.45.0.tar.xz">kpackage-5.45.0</a></td>
   <td align="right">129kB</td>
   <td><tt>da0f15b97ee9c0aa6e2f2bda344b40f98eb4bf37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kparts-5.45.0.tar.xz">kparts-5.45.0</a></td>
   <td align="right">171kB</td>
   <td><tt>427c23051fe4f969f3dceeb71c5e4fde97c88323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kpeople-5.45.0.tar.xz">kpeople-5.45.0</a></td>
   <td align="right">58kB</td>
   <td><tt>e306ed07726761240004d09fbe59ca805b865d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kplotting-5.45.0.tar.xz">kplotting-5.45.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9f5619e1876daf3df7c90a2aeb5acf57397f7487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kpty-5.45.0.tar.xz">kpty-5.45.0</a></td>
   <td align="right">56kB</td>
   <td><tt>6eb7f7b9a929bf95e75f88a685b90c3cd9d7f63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/krunner-5.45.0.tar.xz">krunner-5.45.0</a></td>
   <td align="right">58kB</td>
   <td><tt>377f466d2f83331765b602a819e6c1e7424632af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kservice-5.45.0.tar.xz">kservice-5.45.0</a></td>
   <td align="right">243kB</td>
   <td><tt>30e2592e7b808c58d1b44f81a0b40b04538f0e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/ktexteditor-5.45.0.tar.xz">ktexteditor-5.45.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b889b769465fc50bbcca279b063e9884f94c3576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/ktextwidgets-5.45.0.tar.xz">ktextwidgets-5.45.0</a></td>
   <td align="right">301kB</td>
   <td><tt>e8f9a0543df3272c228e09d08ec2eafd15deef2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kunitconversion-5.45.0.tar.xz">kunitconversion-5.45.0</a></td>
   <td align="right">752kB</td>
   <td><tt>11fbf4492c61fa7370850495f919cc07811b2027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kwallet-5.45.0.tar.xz">kwallet-5.45.0</a></td>
   <td align="right">299kB</td>
   <td><tt>b73df0de1fe8ed1c24349a54c23e731e41b2248d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kwayland-5.45.0.tar.xz">kwayland-5.45.0</a></td>
   <td align="right">296kB</td>
   <td><tt>945326f41cdfe38bcbc40d970c5126352715da44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kwidgetsaddons-5.45.0.tar.xz">kwidgetsaddons-5.45.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>89163b348c4fe763aaec6e665abcfad2493dfc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kwindowsystem-5.45.0.tar.xz">kwindowsystem-5.45.0</a></td>
   <td align="right">166kB</td>
   <td><tt>9e412891f15b0c2c80cf675d64f818eb3bfcaace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kxmlgui-5.45.0.tar.xz">kxmlgui-5.45.0</a></td>
   <td align="right">863kB</td>
   <td><tt>6568c71e87680f523989a69e20f079beae8c4164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/kxmlrpcclient-5.45.0.tar.xz">kxmlrpcclient-5.45.0</a></td>
   <td align="right">28kB</td>
   <td><tt>910ddc5cd7f13fe6aa714de7953848c4055e9cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/modemmanager-qt-5.45.0.tar.xz">modemmanager-qt-5.45.0</a></td>
   <td align="right">95kB</td>
   <td><tt>a6d572490fd9c6f681f642c31a2fc736f3ac2956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/networkmanager-qt-5.45.0.tar.xz">networkmanager-qt-5.45.0</a></td>
   <td align="right">159kB</td>
   <td><tt>4c82639e45601a748da784cc86f5271e3b655c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/oxygen-icons5-5.45.0.tar.xz">oxygen-icons5-5.45.0</a></td>
   <td align="right">223MB</td>
   <td><tt>09b1c618273b4ef031d043d7ce75896a8c2a21a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/plasma-framework-5.45.0.tar.xz">plasma-framework-5.45.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>03469b7547ea9c1ecb9cc9a3a242f4f3b4622ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/prison-5.45.0.tar.xz">prison-5.45.0</a></td>
   <td align="right">38kB</td>
   <td><tt>46fe06ec57c123b87b50b588571e44c673750e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/purpose-5.45.0.tar.xz">purpose-5.45.0</a></td>
   <td align="right">115kB</td>
   <td><tt>ece924d483414c5694c2888c993be2d633f60cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/qqc2-desktop-style-5.45.0.tar.xz">qqc2-desktop-style-5.45.0</a></td>
   <td align="right">38kB</td>
   <td><tt>c75c9c2d74784958c8f4620af14b14913e3247f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/solid-5.45.0.tar.xz">solid-5.45.0</a></td>
   <td align="right">251kB</td>
   <td><tt>d1158a776c75c338fec28a676aef021d956050ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/sonnet-5.45.0.tar.xz">sonnet-5.45.0</a></td>
   <td align="right">278kB</td>
   <td><tt>086f83d31be357cd0ef2f78c18a444a98884eebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/syntax-highlighting-5.45.0.tar.xz">syntax-highlighting-5.45.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>55bf5048e792fc462db37f1f7984e28fe290b86a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.45/threadweaver-5.45.0.tar.xz">threadweaver-5.45.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0cf5838acf7b5839826ba02847145549f761c79a</tt></td>
</tr>

</table>
