
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/attica-5.100.0.tar.xz">attica-5.100.0</a></td>
   <td align="right">67kB</td>
   <td><tt>4a491fc21b176ab68880bc722ba5b12be95fc624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/baloo-5.100.0.tar.xz">baloo-5.100.0</a></td>
   <td align="right">294kB</td>
   <td><tt>b2182876e4d861f35a281c17da38287fc3dc14ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/bluez-qt-5.100.0.tar.xz">bluez-qt-5.100.0</a></td>
   <td align="right">111kB</td>
   <td><tt>cc6ac89c12cf780c64481470a6670b86adb91229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/breeze-icons-5.100.0.tar.xz">breeze-icons-5.100.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5973d14648d2c694295de02610d4f41cff815748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/extra-cmake-modules-5.100.0.tar.xz">extra-cmake-modules-5.100.0</a></td>
   <td align="right">324kB</td>
   <td><tt>049c5f4c25f9c77251fb5b53916129acf6a004a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/frameworkintegration-5.100.0.tar.xz">frameworkintegration-5.100.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b9066b85a1de5991e553e4946f8b88d48402ca14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kactivities-5.100.0.tar.xz">kactivities-5.100.0</a></td>
   <td align="right">71kB</td>
   <td><tt>df3253bac9a0d545f5ea73c250c927d3b58287e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kactivities-stats-5.100.0.tar.xz">kactivities-stats-5.100.0</a></td>
   <td align="right">82kB</td>
   <td><tt>e7c65c243ff388047b035d558beb7641ec973978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kapidox-5.100.0.tar.xz">kapidox-5.100.0</a></td>
   <td align="right">193kB</td>
   <td><tt>af65baf674fc4e89ac4f06ef2f9e83e7be146cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/karchive-5.100.0.tar.xz">karchive-5.100.0</a></td>
   <td align="right">979kB</td>
   <td><tt>6fcb22153fbca7ca7f7fb792ddcc0d687bc87df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kauth-5.100.0.tar.xz">kauth-5.100.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b52bacc03a790239e69b700470200e4eaba8a008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kbookmarks-5.100.0.tar.xz">kbookmarks-5.100.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6cd860bd43b51694974f4c331db1baf46d59580b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcalendarcore-5.100.0.tar.xz">kcalendarcore-5.100.0</a></td>
   <td align="right">261kB</td>
   <td><tt>622b1a51c46cc82846e6bf82a86e5aa90aa1edd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcmutils-5.100.0.tar.xz">kcmutils-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9cedd1cdf50038a277330c64b954b1ef0fabfcb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcodecs-5.100.0.tar.xz">kcodecs-5.100.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>282eae99c891570c0c76e2635f1ed772335542c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcompletion-5.100.0.tar.xz">kcompletion-5.100.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a7e7441dd512599c520d8d84d4520e410fca9689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kconfig-5.100.0.tar.xz">kconfig-5.100.0</a></td>
   <td align="right">283kB</td>
   <td><tt>c4aa6abafd82195ffadd5286011dabf26b4a41bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kconfigwidgets-5.100.0.tar.xz">kconfigwidgets-5.100.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0ce4b57bf2c9bbe5ca6d1237d8608c6abbd04166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcontacts-5.100.0.tar.xz">kcontacts-5.100.0</a></td>
   <td align="right">207kB</td>
   <td><tt>f516ff3c1bdaf0628b69f58cae5beb2a743c1263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcoreaddons-5.100.0.tar.xz">kcoreaddons-5.100.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5a5576740bce9a7b17a05f9f1b03fbbd4581e06e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kcrash-5.100.0.tar.xz">kcrash-5.100.0</a></td>
   <td align="right">27kB</td>
   <td><tt>8d9a3414f27eef98f309057108acb31a06aa510f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kdav-5.100.0.tar.xz">kdav-5.100.0</a></td>
   <td align="right">64kB</td>
   <td><tt>d5417e5ba620023cd9656e2569fcbfad1d9ffc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kdbusaddons-5.100.0.tar.xz">kdbusaddons-5.100.0</a></td>
   <td align="right">47kB</td>
   <td><tt>ee891afc2e30e606bdf98abbe4e761fd7ee929db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kdeclarative-5.100.0.tar.xz">kdeclarative-5.100.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>642ddd0e8ccfd13c9dc5c2a3c6ec6f664c632fb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kded-5.100.0.tar.xz">kded-5.100.0</a></td>
   <td align="right">39kB</td>
   <td><tt>f01a3c75fe99d1555fd387fbd97c11e1817677e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kdesu-5.100.0.tar.xz">kdesu-5.100.0</a></td>
   <td align="right">54kB</td>
   <td><tt>e3be7933bf6f84f1c5b84b083421a4b3f021ff8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kdnssd-5.100.0.tar.xz">kdnssd-5.100.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dd859f2107adf4860bb80d520dd7f667e1daecf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kdoctools-5.100.0.tar.xz">kdoctools-5.100.0</a></td>
   <td align="right">451kB</td>
   <td><tt>90ba360a8945ec36ad672f994737d0019b32a426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kemoticons-5.100.0.tar.xz">kemoticons-5.100.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2f1f2c8e62267c20ebe7d3f6a9817579b405ea3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kfilemetadata-5.100.0.tar.xz">kfilemetadata-5.100.0</a></td>
   <td align="right">441kB</td>
   <td><tt>437ea532a16daac95f1bfd96dcd55ebdffb87b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kglobalaccel-5.100.0.tar.xz">kglobalaccel-5.100.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f7da7b6a494ecd550262113afe69b9dfa67425bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kguiaddons-5.100.0.tar.xz">kguiaddons-5.100.0</a></td>
   <td align="right">74kB</td>
   <td><tt>d3dfd02079532e5803166e35a6c00e94f384913d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kholidays-5.100.0.tar.xz">kholidays-5.100.0</a></td>
   <td align="right">245kB</td>
   <td><tt>5daacdb6480d58f3b3d17bea3556d9fda2c3b4d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/ki18n-5.100.0.tar.xz">ki18n-5.100.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3c177da847bf242653865b6c172aec86b5c47a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kiconthemes-5.100.0.tar.xz">kiconthemes-5.100.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ad9c6d15e0df360c6a0a284fd5ec3d363efc58d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kidletime-5.100.0.tar.xz">kidletime-5.100.0</a></td>
   <td align="right">29kB</td>
   <td><tt>1971675fd25c525de7339e2662f70ab1b716482c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kimageformats-5.100.0.tar.xz">kimageformats-5.100.0</a></td>
   <td align="right">12MB</td>
   <td><tt>634d08c9f52bba1bfcb570f1e057b4cad0a725ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kinit-5.100.0.tar.xz">kinit-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6907f85d866604e5381f6c6c35138e19f02a72ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kio-5.100.0.tar.xz">kio-5.100.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>07c85e14a33113dfbe44834d55a89c14dd36187b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kirigami2-5.100.0.tar.xz">kirigami2-5.100.0</a></td>
   <td align="right">359kB</td>
   <td><tt>93cdaaf3da8f6756d02be86f4a4aa8e6991189f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kitemmodels-5.100.0.tar.xz">kitemmodels-5.100.0</a></td>
   <td align="right">397kB</td>
   <td><tt>2bbe31ff86185672e9b004e80269512405ebccc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kitemviews-5.100.0.tar.xz">kitemviews-5.100.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6464e7e445b90925bd48be368ad0133ebbe8c8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kjobwidgets-5.100.0.tar.xz">kjobwidgets-5.100.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1bb146b9ab5ca4c1eac70db7373900475cc2cccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/knewstuff-5.100.0.tar.xz">knewstuff-5.100.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d3f19517fe1a1b4222731970b88c141742771338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/knotifications-5.100.0.tar.xz">knotifications-5.100.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>65a8d378fb7191c0869cdfbc0e51d5c3c91cc114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/knotifyconfig-5.100.0.tar.xz">knotifyconfig-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>719c8772bf74a20933c2dc75e35e999946123dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kpackage-5.100.0.tar.xz">kpackage-5.100.0</a></td>
   <td align="right">182kB</td>
   <td><tt>8959f829e0cc1b0befc8f0ae508a16520b8c78d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kparts-5.100.0.tar.xz">kparts-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a7151a8dab08ec57d7804302afcee57593c6fdda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kpeople-5.100.0.tar.xz">kpeople-5.100.0</a></td>
   <td align="right">61kB</td>
   <td><tt>734318463ac01d142326506109e425a2c7fa54d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kplotting-5.100.0.tar.xz">kplotting-5.100.0</a></td>
   <td align="right">32kB</td>
   <td><tt>789ef0d8b181c1a99cfa43829ad9c52404d4c5a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kpty-5.100.0.tar.xz">kpty-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>de3ece7eda6150996a32a91bc100115987f87404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kquickcharts-5.100.0.tar.xz">kquickcharts-5.100.0</a></td>
   <td align="right">108kB</td>
   <td><tt>cca40ccbaea2f9f7bc3cdb32f78fc4064d2bafc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/krunner-5.100.0.tar.xz">krunner-5.100.0</a></td>
   <td align="right">85kB</td>
   <td><tt>056bca8513d614ab4be71c70cc02fbb562e20852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kservice-5.100.0.tar.xz">kservice-5.100.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5f2e7ae83718b20f5ffa814b060b19c8702ce591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/ktexteditor-5.100.0.tar.xz">ktexteditor-5.100.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1df6bb9a0ce876993440f1feccc0dc9390a8472f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/ktextwidgets-5.100.0.tar.xz">ktextwidgets-5.100.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d76bf4ef4d47e3cdb91b6de12aa53d8c83e99312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kunitconversion-5.100.0.tar.xz">kunitconversion-5.100.0</a></td>
   <td align="right">894kB</td>
   <td><tt>17b2f12145d7ddb53c3231955035178abd32ca4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kwallet-5.100.0.tar.xz">kwallet-5.100.0</a></td>
   <td align="right">339kB</td>
   <td><tt>a6ebc8186f595f79d614d42f069ff6158a6e389d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kwayland-5.100.0.tar.xz">kwayland-5.100.0</a></td>
   <td align="right">328kB</td>
   <td><tt>5cb303f9b1ec82f8c8bb34bd0c24420ec0cd445c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kwidgetsaddons-5.100.0.tar.xz">kwidgetsaddons-5.100.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>24b1a71cfdd78bb02c685fd7799032a85f55ad97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kwindowsystem-5.100.0.tar.xz">kwindowsystem-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>fe48dbf36d7df5b0cf041c74be54ab9695d9a627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/kxmlgui-5.100.0.tar.xz">kxmlgui-5.100.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>feb6d59d8135680c9de08603ad390bb0f4a59cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/modemmanager-qt-5.100.0.tar.xz">modemmanager-qt-5.100.0</a></td>
   <td align="right">118kB</td>
   <td><tt>60b77e946ec379a58195675df70705be0dc17684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/networkmanager-qt-5.100.0.tar.xz">networkmanager-qt-5.100.0</a></td>
   <td align="right">193kB</td>
   <td><tt>e2b1bc55067b74d2024ff94d3e37fc64b7c46e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/oxygen-icons5-5.100.0.tar.xz">oxygen-icons5-5.100.0</a></td>
   <td align="right">227MB</td>
   <td><tt>46bb729bda2d7d7beed144ab125476d35848822b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/plasma-framework-5.100.0.tar.xz">plasma-framework-5.100.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f95927ecb50f0f59003308b2eb7a51ca84edea0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/prison-5.100.0.tar.xz">prison-5.100.0</a></td>
   <td align="right">53kB</td>
   <td><tt>2568d39a9614c50d729a03235205ef06b3818436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/purpose-5.100.0.tar.xz">purpose-5.100.0</a></td>
   <td align="right">172kB</td>
   <td><tt>214e628a23a4a17b14a770166ce056403d0af052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/qqc2-desktop-style-5.100.0.tar.xz">qqc2-desktop-style-5.100.0</a></td>
   <td align="right">65kB</td>
   <td><tt>bbd76f9b9ad1c0e4a4c01f8cd27f4caf3fd9f25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/solid-5.100.0.tar.xz">solid-5.100.0</a></td>
   <td align="right">295kB</td>
   <td><tt>7ac58e732106e389b45aeb3549ca6773408e0359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/sonnet-5.100.0.tar.xz">sonnet-5.100.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>877c9953658e272e66afd54ff610994e94f5bc9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/syndication-5.100.0.tar.xz">syndication-5.100.0</a></td>
   <td align="right">498kB</td>
   <td><tt>283c80a5a176a8a3714dc533a939c787f252c265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/syntax-highlighting-5.100.0.tar.xz">syntax-highlighting-5.100.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>cdf139c666ddec0980375310c774eeb5c3a6f401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.100/threadweaver-5.100.0.tar.xz">threadweaver-5.100.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c845b21cbda0b3291af0937ce3dea0d0cc527ee0</tt></td>
</tr>

</table>
