<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/bluedevil-5.15.1.tar.xz">bluedevil-5.15.1</a></td>
   <td align="right">153kB</td>
   <td><tt>59a03a7e788cb0733b5f25676f2db4bc7037486eb6499ffc2e64e85280f4c7c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/breeze-5.15.1.tar.xz">breeze-5.15.1</a></td>
   <td align="right">23MB</td>
   <td><tt>d00592925920959be10d682cc1797c0603dc7ae0aabb6acc4d434f1b0640ad80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/breeze-grub-5.15.1.tar.xz">breeze-grub-5.15.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>956e4f65628920cdcff425189aedbc9ca1bc5c5506898682eefb142e9fdeb913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/breeze-gtk-5.15.1.tar.xz">breeze-gtk-5.15.1</a></td>
   <td align="right">46kB</td>
   <td><tt>b7eea50b626a90c499c4803f05176ca81207f22b2927e9fff87393fff6524fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/breeze-plymouth-5.15.1.tar.xz">breeze-plymouth-5.15.1</a></td>
   <td align="right">103kB</td>
   <td><tt>81386d2ac92e510fd2cf6c9de04f731082b3db4ecb11e10807a596bf204dcfa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/discover-5.15.1.tar.xz">discover-5.15.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>cfd63bb99f7082bc0406cd27f8242d33d5db1b3e80f5c24d4725504fca96458a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/drkonqi-5.15.1.tar.xz">drkonqi-5.15.1</a></td>
   <td align="right">721kB</td>
   <td><tt>fe495f05ae1e9a194e5bfa1b1735f929cc994f5db923cc80ee2c979b128ce4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kactivitymanagerd-5.15.1.tar.xz">kactivitymanagerd-5.15.1</a></td>
   <td align="right">82kB</td>
   <td><tt>e6e4192f6f49d1cc637ede63c240265714ef9ed56c4282bd590e05aee95ddbb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kde-cli-tools-5.15.1.tar.xz">kde-cli-tools-5.15.1</a></td>
   <td align="right">572kB</td>
   <td><tt>cbefaaa151546cb391155da19b4737c423def9c8b4e713d7c8b7685ba90d472e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kde-gtk-config-5.15.1.tar.xz">kde-gtk-config-5.15.1</a></td>
   <td align="right">152kB</td>
   <td><tt>30ab115979f4f9051d89d05c970daaa5009bc9689f322f43f4540b0ede4267b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kdecoration-5.15.1.tar.xz">kdecoration-5.15.1</a></td>
   <td align="right">41kB</td>
   <td><tt>216aab6a7a31a1fbf87e76e9edcbfeb7a873b870e05267bfe0d15b0a97b49d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kdeplasma-addons-5.15.1.tar.xz">kdeplasma-addons-5.15.1</a></td>
   <td align="right">590kB</td>
   <td><tt>7ef707bce7cfc7777ec6803faa239f400cebaca10940f54b9dcc7a6ba452e710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kgamma5-5.15.1.tar.xz">kgamma5-5.15.1</a></td>
   <td align="right">77kB</td>
   <td><tt>1c69c97aa2c5dd216e0cfff48d1a90f9da5c422eb11b75a832bccd2f0d7a77fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/khotkeys-5.15.1.tar.xz">khotkeys-5.15.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b6a3816189e1024d8f5a124960e69ebbc93d0cdb548db79b2cd879fe30dd2ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kinfocenter-5.15.1.tar.xz">kinfocenter-5.15.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2695c9e1925a04cf288738e2df9b93d7b24469a160c62322bf55543750744cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kmenuedit-5.15.1.tar.xz">kmenuedit-5.15.1</a></td>
   <td align="right">791kB</td>
   <td><tt>421e888296778795988217c91dc1ca482f0fb2ded6c65a5f7a76b9ddbf51729f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kscreen-5.15.1.tar.xz">kscreen-5.15.1</a></td>
   <td align="right">120kB</td>
   <td><tt>fea779efbcaa33c42d978d661a39606fc145d7676fa7f25d6564521644fad7af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kscreenlocker-5.15.1.tar.xz">kscreenlocker-5.15.1</a></td>
   <td align="right">119kB</td>
   <td><tt>b8fa3cc3eecc9954e4bcd7a05b59290796a299b66ebe18868e29352d79f8e2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/ksshaskpass-5.15.1.tar.xz">ksshaskpass-5.15.1</a></td>
   <td align="right">20kB</td>
   <td><tt>18cb370b0701873e0eaac36591e2517ea2ce858f7775eb11fbcac54ee60e9612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/ksysguard-5.15.1.tar.xz">ksysguard-5.15.1</a></td>
   <td align="right">488kB</td>
   <td><tt>fe4a5c5e3075c8f88539462a343e107687d16193f9514891abec6967686f0586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kwallet-pam-5.15.1.tar.xz">kwallet-pam-5.15.1</a></td>
   <td align="right">18kB</td>
   <td><tt>032fa0d928877aa3c5a5242193644c367132c533a5da72284801e0447ad78564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kwayland-integration-5.15.1.tar.xz">kwayland-integration-5.15.1</a></td>
   <td align="right">18kB</td>
   <td><tt>d8825f7f0744a6902c3beaefd070d8ced51c95df7eabc593dff31bd31ab39dfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kwin-5.15.1.tar.xz">kwin-5.15.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>f91ec982ba640d148c7114c2be8c0e2fdd190c3587de6b40054363f35d0d29c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/kwrited-5.15.1.tar.xz">kwrited-5.15.1</a></td>
   <td align="right">19kB</td>
   <td><tt>4389f3d419160756f30b86c5be43e21ca2f777485473044dd1ecdc9535522dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/libkscreen-5.15.1.tar.xz">libkscreen-5.15.1</a></td>
   <td align="right">79kB</td>
   <td><tt>28e48a53dbf4bbc9e268cfa82f997e65841fa81d0715070255e694959dc2fffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/libksysguard-5.15.1.tar.xz">libksysguard-5.15.1</a></td>
   <td align="right">563kB</td>
   <td><tt>7affcb4d6b583a6e863439a8d2af3993a3e0277b4e2996e753386182bd018156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/milou-5.15.1.tar.xz">milou-5.15.1</a></td>
   <td align="right">55kB</td>
   <td><tt>91dfc0dab7122babc2a929923bb21b11cb9f674b3ca2786bd3b70c5bad96fbb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/oxygen-5.15.1.tar.xz">oxygen-5.15.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>bb7942be52db5f84da9935fadfc3331542c9eaec62ff2403db08187d2cee64ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-browser-integration-5.15.1.tar.xz">plasma-browser-integration-5.15.1</a></td>
   <td align="right">109kB</td>
   <td><tt>2a67c76ca30206630e0c14aa408bfc1b8b255288507d455555370b0fe8ef1feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-desktop-5.15.1.tar.xz">plasma-desktop-5.15.1</a></td>
   <td align="right">8.7MB</td>
   <td><tt>ff72769ab6a9f40d2a7e45014c2af1a40781f97c32678f1038aa90a0b20d808c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-integration-5.15.1.tar.xz">plasma-integration-5.15.1</a></td>
   <td align="right">54kB</td>
   <td><tt>69d960eee493e90579816b4595db00fffe41de2ad5a244ab58e32bda88d54f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-nm-5.15.1.tar.xz">plasma-nm-5.15.1</a></td>
   <td align="right">753kB</td>
   <td><tt>3a144031682c42c4a0bbac7cdc263d3ef365c9e4ab4f3155eb5ed20abe987b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-pa-5.15.1.tar.xz">plasma-pa-5.15.1</a></td>
   <td align="right">93kB</td>
   <td><tt>206a7301e33e990a5efca379809c061961335e00fbfff252e0192f55a018b1dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-sdk-5.15.1.tar.xz">plasma-sdk-5.15.1</a></td>
   <td align="right">244kB</td>
   <td><tt>eb7e7f23d90a3840d659814a801fb5e08bb613367446cb70c67f90485a737b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-tests-5.15.1.tar.xz">plasma-tests-5.15.1</a></td>
   <td align="right">1kB</td>
   <td><tt>51c88c8bef13d7b3b9e2644cd2ddc616f789f6339bf80a8e6bd6c74fb3ec959d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-vault-5.15.1.tar.xz">plasma-vault-5.15.1</a></td>
   <td align="right">118kB</td>
   <td><tt>bf75f2cfca9ac1de5b7e80430b09d40b7d44ec405cb1c7d34755d7278f8c5b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-workspace-5.15.1.tar.xz">plasma-workspace-5.15.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d688a2fc6cb6c98581dbe3cc2b101ffa0e90a8c235d8adef53dd2831a59f9ab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plasma-workspace-wallpapers-5.15.1.tar.xz">plasma-workspace-wallpapers-5.15.1</a></td>
   <td align="right">23MB</td>
   <td><tt>ea242f36ab909eb6f8c50bcaaaeef707436c4d673fcd46e9227930aea61185c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/plymouth-kcm-5.15.1.tar.xz">plymouth-kcm-5.15.1</a></td>
   <td align="right">38kB</td>
   <td><tt>041ffc3da952e3add0e915b078e0a979bc3042c0a13bf71815a65a52d472b0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/polkit-kde-agent-1-5.15.1.tar.xz">polkit-kde-agent-1-5.15.1</a></td>
   <td align="right">41kB</td>
   <td><tt>e757248f243f216ea42f6a92a621b23ff88e17d702f26b4b10fbbb910cfe46ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/powerdevil-5.15.1.tar.xz">powerdevil-5.15.1</a></td>
   <td align="right">585kB</td>
   <td><tt>50e3a74e6c54488c3cd6c737be735014ecc5af559cbe10ac55e67856cadfc661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/sddm-kcm-5.15.1.tar.xz">sddm-kcm-5.15.1</a></td>
   <td align="right">60kB</td>
   <td><tt>4ec6aa2caebf8a209b44f622c490785ad1d6905bf0d9ad8cd65de58c894aff52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/systemsettings-5.15.1.tar.xz">systemsettings-5.15.1</a></td>
   <td align="right">178kB</td>
   <td><tt>70021fae8bc168073fb9c471527e29f10e32d92f3902eed41f918e7457cd4214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/user-manager-5.15.1.tar.xz">user-manager-5.15.1</a></td>
   <td align="right">533kB</td>
   <td><tt>ea7cac9c676b907338a34e4f6ab2ab63f0a3ef7b2f877bb44ca0263ce8ca8d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.1/xdg-desktop-portal-kde-5.15.1.tar.xz">xdg-desktop-portal-kde-5.15.1</a></td>
   <td align="right">58kB</td>
   <td><tt>6fb4c5fc55bbc927f6338639ae70405e0a61baf1b1aad94781247e62941251ff</tt></td>
</tr>

</table>
