<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/bluedevil-5.21.4.tar.xz">bluedevil-5.21.4</a></td>
   <td align="right">158kB</td>
   <td><tt>e115d1851f6ce251fc7447936cd929c6c222c91fd832ce7c39f15d10a68c4653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/breeze-5.21.4.tar.xz">breeze-5.21.4</a></td>
   <td align="right">25MB</td>
   <td><tt>d52db46df07302ea3f139ae88dd3b3b15aaab7d632b9910b87c3dac5eee5d0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/breeze-grub-5.21.4.tar.xz">breeze-grub-5.21.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a27e5be18e9155fb3af5bf734eaac1f7a430baa10bf723540bbbb2b29277a8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/breeze-gtk-5.21.4.tar.xz">breeze-gtk-5.21.4</a></td>
   <td align="right">46kB</td>
   <td><tt>912c425f9b9c39af02458c63f93704b274f0324c4b4b23ea30461a027b46520d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/breeze-plymouth-5.21.4.tar.xz">breeze-plymouth-5.21.4</a></td>
   <td align="right">106kB</td>
   <td><tt>a759843c3d6eb156484a6ebc9e142d8da26d824067dd50d03ca4c01995a07c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/discover-5.21.4.tar.xz">discover-5.21.4</a></td>
   <td align="right">8.0MB</td>
   <td><tt>6064cffde175ca7aae3a709025aee94fbddecf505115cb7d506f0ae79dda70b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/drkonqi-5.21.4.tar.xz">drkonqi-5.21.4</a></td>
   <td align="right">752kB</td>
   <td><tt>5831bad85f1f253844747e5c257996ab0a277ce20887abd58e72eaef3d047488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kactivitymanagerd-5.21.4.tar.xz">kactivitymanagerd-5.21.4</a></td>
   <td align="right">97kB</td>
   <td><tt>2684b61713223f7d8f1e064689fef13e54f2ade6b767a6229294e25bfce54a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kde-cli-tools-5.21.4.tar.xz">kde-cli-tools-5.21.4</a></td>
   <td align="right">596kB</td>
   <td><tt>01426b8c6be7cec804a44b74c3d79354f6f5509cbc176360f4ab43f330586ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kdecoration-5.21.4.tar.xz">kdecoration-5.21.4</a></td>
   <td align="right">44kB</td>
   <td><tt>0a5db022018b958934dd678bf47eceb4233808808b06be2cfd5adb3700ba7e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kde-gtk-config-5.21.4.tar.xz">kde-gtk-config-5.21.4</a></td>
   <td align="right">67kB</td>
   <td><tt>c8034212a9a10877e61917084003bece052e3b65aac0197014b1c1840b0df03c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kdeplasma-addons-5.21.4.tar.xz">kdeplasma-addons-5.21.4</a></td>
   <td align="right">611kB</td>
   <td><tt>2de617d0a750224d73a6a2d91d99508a6d725fab0f2be7b0b3c47dc3cdf056a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kgamma5-5.21.4.tar.xz">kgamma5-5.21.4</a></td>
   <td align="right">80kB</td>
   <td><tt>544387a3ab1fa630c979f8b447d3779f1f86e5d6ab7967935a8b44114f1bf6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/khotkeys-5.21.4.tar.xz">khotkeys-5.21.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a3f42777930145b2757eff95d468fd945c34db111d144d823e89521a3f5a6616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kinfocenter-5.21.4.tar.xz">kinfocenter-5.21.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>3e5c3fed0156f3464bb30ebb9e0822c4141d71802dfa8995961f84c548771394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kmenuedit-5.21.4.tar.xz">kmenuedit-5.21.4</a></td>
   <td align="right">878kB</td>
   <td><tt>d022bb6486663fd1db8b627794be5eb557fa0daa45b27bb69d834fa84494b8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kscreen-5.21.4.tar.xz">kscreen-5.21.4</a></td>
   <td align="right">111kB</td>
   <td><tt>d9d1225d5e4d5e062275c88bb879b96bde0167783d1a3722e737baa67dad3ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kscreenlocker-5.21.4.tar.xz">kscreenlocker-5.21.4</a></td>
   <td align="right">114kB</td>
   <td><tt>6492531abacf0078936247090d1c3038c44d5ae3a61593fe474b503847ba24fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/ksshaskpass-5.21.4.tar.xz">ksshaskpass-5.21.4</a></td>
   <td align="right">23kB</td>
   <td><tt>c1b0479dc4ae0a183c41e4e546801df5332387026b101b735a8024dd8109447e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/ksysguard-5.21.4.tar.xz">ksysguard-5.21.4</a></td>
   <td align="right">589kB</td>
   <td><tt>cd1482653c35c5e04e6940346836fcd0655c213fc191da30685cb10cd05ae582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kwallet-pam-5.21.4.tar.xz">kwallet-pam-5.21.4</a></td>
   <td align="right">19kB</td>
   <td><tt>6fce31384897e4913f03cffe6719c7f69618893676a2f44ca62bb21971f27c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kwayland-integration-5.21.4.tar.xz">kwayland-integration-5.21.4</a></td>
   <td align="right">22kB</td>
   <td><tt>139cefb81cb852a699b15e77724cf4fb17adf9d8724b0d4955cdf9567fad6ee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kwayland-server-5.21.4.tar.xz">kwayland-server-5.21.4</a></td>
   <td align="right">214kB</td>
   <td><tt>ff32f4e6b92fc900db41780cb2f2645c472e6ec5d3999aa17fb0fba807df71d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kwin-5.21.4.tar.xz">kwin-5.21.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>a9cbcf293c58bef10650399a7fe15c08b54fd009a0d9d859f75b54bc6c87232f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/kwrited-5.21.4.tar.xz">kwrited-5.21.4</a></td>
   <td align="right">20kB</td>
   <td><tt>8708c5f41dd32531a25bd9099cd15c39439769f7c17e4481b44f9f7572f03ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/libkscreen-5.21.4.tar.xz">libkscreen-5.21.4</a></td>
   <td align="right">82kB</td>
   <td><tt>ac09ad2e30920f4fbbb44d061cae5114d75ef0d1a765a4fbbf73b94f03a3152c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/libksysguard-5.21.4.tar.xz">libksysguard-5.21.4</a></td>
   <td align="right">689kB</td>
   <td><tt>ec094b59a7e111359b550731dafe4d9b92f17ae2c4d663275d97332e1bc5f16b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/milou-5.21.4.tar.xz">milou-5.21.4</a></td>
   <td align="right">42kB</td>
   <td><tt>6a72ab3cbadff8bb7999abc1fcdef30ec067cf0afb3ff18f0defe55bd8dfd578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/oxygen-5.21.4.tar.xz">oxygen-5.21.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f2039dd6ccd251c12651f3da77ed890b62360e115f1a6be678fe9f39fc6decb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-browser-integration-5.21.4.tar.xz">plasma-browser-integration-5.21.4</a></td>
   <td align="right">199kB</td>
   <td><tt>76f815739ffc133d82c578248302f26a1cd3262e8cf878824248b9e90b51d693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-desktop-5.21.4.tar.xz">plasma-desktop-5.21.4</a></td>
   <td align="right">15MB</td>
   <td><tt>c9635c82ffa8fa9b22aa474e8aa2e8f9d912615137f039f5ee6080000c283bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-disks-5.21.4.tar.xz">plasma-disks-5.21.4</a></td>
   <td align="right">69kB</td>
   <td><tt>af186ba88170fe832f218a1438d142ed2ee6aff9ec967fe9003c6c84008451c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-firewall-5.21.4.tar.xz">plasma-firewall-5.21.4</a></td>
   <td align="right">323kB</td>
   <td><tt>e79bb3ca1eb9b0beb999f1b6212af1eeb8c25fc7c04369a45487e909afaac9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-integration-5.21.4.tar.xz">plasma-integration-5.21.4</a></td>
   <td align="right">59kB</td>
   <td><tt>1cc280a93fab2c9c461deb172ee22da34a5100c3cd31ad8ebf0a9c405899422e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-nano-5.21.4.tar.xz">plasma-nano-5.21.4</a></td>
   <td align="right">63kB</td>
   <td><tt>1397061ce968adad97b08002765b4d41a4ed91c48290d8c53b65ae145bc9bb6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-nm-5.21.4.tar.xz">plasma-nm-5.21.4</a></td>
   <td align="right">875kB</td>
   <td><tt>e3d01fdd78ee6d1b0bc9753e1386ffb03c318498feac856fae377a397d6ec1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-pa-5.21.4.tar.xz">plasma-pa-5.21.4</a></td>
   <td align="right">110kB</td>
   <td><tt>e9575c6bb4d73e3b45f9bdd256ed0cdc0e36014a1676abe2ad8d6ab5f1838fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-phone-components-5.21.4.tar.xz">plasma-phone-components-5.21.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>6df1dac713e07a4a32e7af631e22340825e0270c9c58a27d62a960c30864b721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-sdk-5.21.4.tar.xz">plasma-sdk-5.21.4</a></td>
   <td align="right">262kB</td>
   <td><tt>40037c485cb4bbd9afbd237d96b65cdef41b8b3e35ab2f27a7f5c6d206a6c0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-systemmonitor-5.21.4.tar.xz">plasma-systemmonitor-5.21.4</a></td>
   <td align="right">121kB</td>
   <td><tt>849407cf2b9333140cee9ca18ca34e1c4351a8597fea47a475eec68c8dc1b99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-tests-5.21.4.tar.xz">plasma-tests-5.21.4</a></td>
   <td align="right">1kB</td>
   <td><tt>c584c5dbe80dd65aa8f4236bdb0c1819d49a5ea8b2de832d86948fea151db457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-thunderbolt-5.21.4.tar.xz">plasma-thunderbolt-5.21.4</a></td>
   <td align="right">55kB</td>
   <td><tt>0dc69a2e9c5fe692457771e503894f70ade69951b6cd838a7f71fa5025042983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-vault-5.21.4.tar.xz">plasma-vault-5.21.4</a></td>
   <td align="right">155kB</td>
   <td><tt>c577135b04d7b35227183100fcae08eaf6df5ef41c4ecf43e0706a329ef8a48d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-workspace-5.21.4.tar.xz">plasma-workspace-5.21.4</a></td>
   <td align="right">9.2MB</td>
   <td><tt>ba0b184570b62be84be2f8108fccadd08de8f3abf8a0f615a6f06f829bd628d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plasma-workspace-wallpapers-5.21.4.tar.xz">plasma-workspace-wallpapers-5.21.4</a></td>
   <td align="right">45MB</td>
   <td><tt>c706e4293b3c0552503abc55eaa0d971203b23ad252804f0fb95b9b040fad8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/plymouth-kcm-5.21.4.tar.xz">plymouth-kcm-5.21.4</a></td>
   <td align="right">42kB</td>
   <td><tt>c07c80b8099e66548a2782b70b83b6c5c311052ae8c8610950f3ab30505116b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/polkit-kde-agent-1-5.21.4.tar.xz">polkit-kde-agent-1-5.21.4</a></td>
   <td align="right">44kB</td>
   <td><tt>b236f87213247a858acb9a7b82dba71f579c3febb3cee189b96584e588a6e251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/powerdevil-5.21.4.tar.xz">powerdevil-5.21.4</a></td>
   <td align="right">600kB</td>
   <td><tt>c6f1729dff9ce611c2094d930067fb4f364f6f3d4d78ea2ee07c5bb4db990445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/qqc2-breeze-style-5.21.4.tar.xz">qqc2-breeze-style-5.21.4</a></td>
   <td align="right">60kB</td>
   <td><tt>9cb7ec38a0ae5bcde5f6751afa74ac8c226f2d35faab3940a84482facb89c95b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/sddm-kcm-5.21.4.tar.xz">sddm-kcm-5.21.4</a></td>
   <td align="right">62kB</td>
   <td><tt>3396f33e7ae12661fc9722d96a37ee274588212bae886538423a9e4ee2052401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/systemsettings-5.21.4.tar.xz">systemsettings-5.21.4</a></td>
   <td align="right">193kB</td>
   <td><tt>034b0c384cdbf38d126daf4dced6f2d42995b76f9b9268b30eb6a1d59c20ed04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.4/xdg-desktop-portal-kde-5.21.4.tar.xz">xdg-desktop-portal-kde-5.21.4</a></td>
   <td align="right">80kB</td>
   <td><tt>efbf69b0623db15d1a44725a88b3e6b5d0631bc0ebc88d0e695ff01df7da7406</tt></td>
</tr>

</table>
