<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-16.12.3.tar.xz">akonadi-16.12.3</a></td>
   <td align="right">1013kB</td>
   <td><tt>516b2f5425c16507584f6f5b6fc8bf65d2a44ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-calendar-16.12.3.tar.xz">akonadi-calendar-16.12.3</a></td>
   <td align="right">112kB</td>
   <td><tt>72751fc122e1689ea9d80878c3436213a4f1ecbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-calendar-tools-16.12.3.tar.xz">akonadi-calendar-tools-16.12.3</a></td>
   <td align="right">60kB</td>
   <td><tt>28af0a0d75c3aa3f82942b3d154311725dc5508e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadiconsole-16.12.3.tar.xz">akonadiconsole-16.12.3</a></td>
   <td align="right">173kB</td>
   <td><tt>a0ffbe009f1f908c127ed15a32f18a9a4c4fa219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-contacts-16.12.3.tar.xz">akonadi-contacts-16.12.3</a></td>
   <td align="right">145kB</td>
   <td><tt>26ffa79f9c2ac836064137484fe43a953bac96e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-import-wizard-16.12.3.tar.xz">akonadi-import-wizard-16.12.3</a></td>
   <td align="right">234kB</td>
   <td><tt>fc3668aaecfdd866cc42d340bbe40589ffe9387f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-mime-16.12.3.tar.xz">akonadi-mime-16.12.3</a></td>
   <td align="right">54kB</td>
   <td><tt>941f472ffdeda333ef122e84c1ba8e88fb07adc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-notes-16.12.3.tar.xz">akonadi-notes-16.12.3</a></td>
   <td align="right">18kB</td>
   <td><tt>8795b499bbe5c64222b85b66f99007574db19687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akonadi-search-16.12.3.tar.xz">akonadi-search-16.12.3</a></td>
   <td align="right">70kB</td>
   <td><tt>52d44878e4f396ed88893b138420924d4b79c08e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/akregator-16.12.3.tar.xz">akregator-16.12.3</a></td>
   <td align="right">864kB</td>
   <td><tt>a9e01fce2e07ccbb81b140dc20fb130a1e75e101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/analitza-16.12.3.tar.xz">analitza-16.12.3</a></td>
   <td align="right">228kB</td>
   <td><tt>40920fce32e6d37b9140321eea1af2de1b9e71cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ark-16.12.3.tar.xz">ark-16.12.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7bf28eddff5e06a55a56878edc9291c0dcd18b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/artikulate-16.12.3.tar.xz">artikulate-16.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>377ef5ef71a7219c4f70ee3d4decf3e3abdc0151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/audiocd-kio-16.12.3.tar.xz">audiocd-kio-16.12.3</a></td>
   <td align="right">52kB</td>
   <td><tt>0a6d5b4d6213bc0c81e5996718dc1aa5911879b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/baloo-widgets-16.12.3.tar.xz">baloo-widgets-16.12.3</a></td>
   <td align="right">55kB</td>
   <td><tt>421940ec9fea35f940c5fd9e7e0d8bff6eab8e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/blinken-16.12.3.tar.xz">blinken-16.12.3</a></td>
   <td align="right">549kB</td>
   <td><tt>c9c61a47e3ceb6de96b87b9deebe6db8ac00d553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/blogilo-16.12.3.tar.xz">blogilo-16.12.3</a></td>
   <td align="right">323kB</td>
   <td><tt>e3f9dde4a2a6065a54e853a053cda7a1e3ea04c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/bomber-16.12.3.tar.xz">bomber-16.12.3</a></td>
   <td align="right">698kB</td>
   <td><tt>5fd5bed0d5a6bde502857e72ff9de407a0ec6b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/bovo-16.12.3.tar.xz">bovo-16.12.3</a></td>
   <td align="right">136kB</td>
   <td><tt>6abbe2a77be163f385e04eb2aa8cb26edac38f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/calendarsupport-16.12.3.tar.xz">calendarsupport-16.12.3</a></td>
   <td align="right">98kB</td>
   <td><tt>795d0728aaf703471307c8ef81545048a863805e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/cantor-16.12.3.tar.xz">cantor-16.12.3</a></td>
   <td align="right">369kB</td>
   <td><tt>4015a50548baeecce77556e879dd2f721f14e1a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/cervisia-16.12.3.tar.xz">cervisia-16.12.3</a></td>
   <td align="right">463kB</td>
   <td><tt>be6d94b755491bb0dad74e3420e70377c1cd48be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/dolphin-16.12.3.tar.xz">dolphin-16.12.3</a></td>
   <td align="right">660kB</td>
   <td><tt>bb84f01beb8896a34e45c5524107ba83f01bc036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/dolphin-plugins-16.12.3.tar.xz">dolphin-plugins-16.12.3</a></td>
   <td align="right">59kB</td>
   <td><tt>829cf59ab9d900e19d034a3a4b33e9ae7549dbae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/dragon-16.12.3.tar.xz">dragon-16.12.3</a></td>
   <td align="right">468kB</td>
   <td><tt>850f3901d997e9b39074240530e53496c2b4d28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/eventviews-16.12.3.tar.xz">eventviews-16.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>35d505668374f1a4726ac9b6dfae9c19c95ee08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ffmpegthumbs-16.12.3.tar.xz">ffmpegthumbs-16.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>d611720e5c5d5486c04127d30c8c4d28f1c3806a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/filelight-16.12.3.tar.xz">filelight-16.12.3</a></td>
   <td align="right">207kB</td>
   <td><tt>24258b6493813603fb2df68824ab42533f1e172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/granatier-16.12.3.tar.xz">granatier-16.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>943c3556e8d221c669637d62339d3245808e1263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/grantlee-editor-16.12.3.tar.xz">grantlee-editor-16.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>02a98540df3f5757179527026c8cc553fac8de65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/grantleetheme-16.12.3.tar.xz">grantleetheme-16.12.3</a></td>
   <td align="right">43kB</td>
   <td><tt>c652074f3a148b3bfb60d4f5d231e85cb3222161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/gwenview-16.12.3.tar.xz">gwenview-16.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>97f058420f0ec84000fb747583eff28f8325834f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/incidenceeditor-16.12.3.tar.xz">incidenceeditor-16.12.3</a></td>
   <td align="right">118kB</td>
   <td><tt>40f2e2b82456c1022b539a64046be0ed4b20492e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/jovie-16.12.3.tar.xz">jovie-16.12.3</a></td>
   <td align="right">385kB</td>
   <td><tt>81afdcb9743dd6358ca32879f7ba35eb2b8f916d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/juk-16.12.3.tar.xz">juk-16.12.3</a></td>
   <td align="right">435kB</td>
   <td><tt>44d0b3c472bdf951d5397956c6eb56537c5a1c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kaccessible-16.12.3.tar.xz">kaccessible-16.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>6527345398ac2f8dab04803fc0c61d20f7b61353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kaccounts-integration-16.12.3.tar.xz">kaccounts-integration-16.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>c403fd7023b983ef8a6c045c39e471faca5fde83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kaccounts-providers-16.12.3.tar.xz">kaccounts-providers-16.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>c45741f3a4e2c6cd3ced46213c52e574e3d5f28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kaddressbook-16.12.3.tar.xz">kaddressbook-16.12.3</a></td>
   <td align="right">161kB</td>
   <td><tt>bdfacecb22b64603077dcc0eb86e0db73cce569a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kajongg-16.12.3.tar.xz">kajongg-16.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>52c6b641a87ec8450dee9494ec4304b00b3a2965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kalarm-16.12.3.tar.xz">kalarm-16.12.3</a></td>
   <td align="right">553kB</td>
   <td><tt>fec1eec1be4c6e1ebf4a68a74afc0438191ef653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kalarmcal-16.12.3.tar.xz">kalarmcal-16.12.3</a></td>
   <td align="right">85kB</td>
   <td><tt>1a19f7556dabbcc14d402a5b2f32d77ccbedd9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kalgebra-16.12.3.tar.xz">kalgebra-16.12.3</a></td>
   <td align="right">315kB</td>
   <td><tt>4e11b12fc75f2955747fda90def6eb225e34475a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kalzium-16.12.3.tar.xz">kalzium-16.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>88cd5d268490335cfe27203b98ac244e10e44502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kamera-16.12.3.tar.xz">kamera-16.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>7304ef191bafd0392db3af514e77f27f6bc4c76e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kanagram-16.12.3.tar.xz">kanagram-16.12.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>e5639b0dcc8879597fd8cf082ca0d55ec162dcd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kapman-16.12.3.tar.xz">kapman-16.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4a64ead789baa37a37cb976eb186f1849325512e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kapptemplate-16.12.3.tar.xz">kapptemplate-16.12.3</a></td>
   <td align="right">474kB</td>
   <td><tt>04a9133463f2da63dfbb9e4dc116b432586336c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kate-16.12.3.tar.xz">kate-16.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>419753f6ef8bf39034b97a2148234c88f82b8aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/katomic-16.12.3.tar.xz">katomic-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9fedbb4399e07a952e2360b032c468fb2685d86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kblackbox-16.12.3.tar.xz">kblackbox-16.12.3</a></td>
   <td align="right">216kB</td>
   <td><tt>309358bd796ecab6c584dff9341c0f53448ce429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kblocks-16.12.3.tar.xz">kblocks-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>183d811b1761e9c134ba17c3e753817d76b62440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kblog-16.12.3.tar.xz">kblog-16.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>b99a40a394e6efecaa95a2b098b72db3d0559425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kbounce-16.12.3.tar.xz">kbounce-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e908cc4e0d887d4de519b3db53b8639cf049da38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kbreakout-16.12.3.tar.xz">kbreakout-16.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e37fe528fb2fb2e2eee7aa16fba24911ba0bd1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kbruch-16.12.3.tar.xz">kbruch-16.12.3</a></td>
   <td align="right">701kB</td>
   <td><tt>5167c873bc95aee5e97ae1e764b3008e3897073f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcachegrind-16.12.3.tar.xz">kcachegrind-16.12.3</a></td>
   <td align="right">234kB</td>
   <td><tt>882b174d48d01806a52574b36d146102409833b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcalc-16.12.3.tar.xz">kcalc-16.12.3</a></td>
   <td align="right">83kB</td>
   <td><tt>3db93ab1fa9c4f80fb4e95fb70ccbbddbc79ab32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcalcore-16.12.3.tar.xz">kcalcore-16.12.3</a></td>
   <td align="right">287kB</td>
   <td><tt>2cd284f077bb53d67c8ed7294477a735d23310e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcalutils-16.12.3.tar.xz">kcalutils-16.12.3</a></td>
   <td align="right">92kB</td>
   <td><tt>6f28e5b173e7de1febf80ce58ed29f6b2eee18e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcharselect-16.12.3.tar.xz">kcharselect-16.12.3</a></td>
   <td align="right">81kB</td>
   <td><tt>1818cce9ec3fe67a229e829a2d5a9c5f37828587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcolorchooser-16.12.3.tar.xz">kcolorchooser-16.12.3</a></td>
   <td align="right">4kB</td>
   <td><tt>ec32dafcf304917c7515c6ced87d85066bce7b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcontacts-16.12.3.tar.xz">kcontacts-16.12.3</a></td>
   <td align="right">144kB</td>
   <td><tt>263d1c45eb134103469c9cf9bc636e9e8bfcf92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kcron-16.12.3.tar.xz">kcron-16.12.3</a></td>
   <td align="right">136kB</td>
   <td><tt>0b37feb256d2232759d84e1486ce3bf5b02eff4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdebugsettings-16.12.3.tar.xz">kdebugsettings-16.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>b2534a13246433ce018fbbfe948c6b727bbcfcc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-dev-scripts-16.12.3.tar.xz">kde-dev-scripts-16.12.3</a></td>
   <td align="right">304kB</td>
   <td><tt>64d89b7698ee312a1ec20a45eb5a111011cca801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-dev-utils-16.12.3.tar.xz">kde-dev-utils-16.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>90349054d78f172348feef6bd073ba075924a52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdeedu-data-16.12.3.tar.xz">kdeedu-data-16.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>0d1de1f85399f5baa4a0baea69e366860559b09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdegraphics-mobipocket-16.12.3.tar.xz">kdegraphics-mobipocket-16.12.3</a></td>
   <td align="right">13kB</td>
   <td><tt>88c4035ef901bf8c26a65d8e54cc62e664bfe47d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdegraphics-thumbnailers-16.12.3.tar.xz">kdegraphics-thumbnailers-16.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>767744c50bf394ff8bd7b84a596838275ca44f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdelibs-4.14.30.tar.xz">kdelibs-4.14.30</a></td>
   <td align="right">11MB</td>
   <td><tt>a6274c7306495aeaa7b7b2fa1d0982dce2a9da4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdenetwork-filesharing-16.12.3.tar.xz">kdenetwork-filesharing-16.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>814400f259a68f2145e47efacfeaa14bae4129fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdenlive-16.12.3.tar.xz">kdenlive-16.12.3</a></td>
   <td align="right">6.3MB</td>
   <td><tt>fd5245c7ff8c314be1fcaed486ef4c908bc562eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdepim-addons-16.12.3.tar.xz">kdepim-addons-16.12.3</a></td>
   <td align="right">324kB</td>
   <td><tt>36be377a2d6e5629a94b21f4a46eb813b955e552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdepim-apps-libs-16.12.3.tar.xz">kdepim-apps-libs-16.12.3</a></td>
   <td align="right">46kB</td>
   <td><tt>843c10fa4932216e0dc9853add653f0aa6ef867b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdepim-runtime-16.12.3.tar.xz">kdepim-runtime-16.12.3</a></td>
   <td align="right">721kB</td>
   <td><tt>64d2e83322cc580bbbe4aaf82c7720b614de41de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-runtime-16.12.3.tar.xz">kde-runtime-16.12.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>eee7a0d3e266401ca45f9daa8a57ecaee4a7a61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdesdk-kioslaves-16.12.3.tar.xz">kdesdk-kioslaves-16.12.3</a></td>
   <td align="right">353kB</td>
   <td><tt>1ec33aedace0412692901b4f2fac0ada2d34820b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdesdk-thumbnailers-16.12.3.tar.xz">kdesdk-thumbnailers-16.12.3</a></td>
   <td align="right">11kB</td>
   <td><tt>44f05acbbee65299b8821602c78c2352dbff5854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdf-16.12.3.tar.xz">kdf-16.12.3</a></td>
   <td align="right">140kB</td>
   <td><tt>11a91ed0df80a50299a5b9229bbb6898cde16a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdialog-16.12.3.tar.xz">kdialog-16.12.3</a></td>
   <td align="right">31kB</td>
   <td><tt>8e420d7399e3eb4bb64719a552ebcba0b4a3fd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kdiamond-16.12.3.tar.xz">kdiamond-16.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>1256fcc7f087731b84cc9406e5b1966939dbb1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/keditbookmarks-16.12.3.tar.xz">keditbookmarks-16.12.3</a></td>
   <td align="right">62kB</td>
   <td><tt>a5623d82dc51b47497ddec7d00157c3a098cee58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kfilereplace-16.12.3.tar.xz">kfilereplace-16.12.3</a></td>
   <td align="right">745kB</td>
   <td><tt>dba2fb9320b97f572179475f3ee233e979aaadfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kfind-16.12.3.tar.xz">kfind-16.12.3</a></td>
   <td align="right">60kB</td>
   <td><tt>2ec5667a1353ffbb64d6013fcfb4918af5756cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kfloppy-16.12.3.tar.xz">kfloppy-16.12.3</a></td>
   <td align="right">52kB</td>
   <td><tt>1c76846235f8c322fb8af42d8e918ef6ffb20ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kfourinline-16.12.3.tar.xz">kfourinline-16.12.3</a></td>
   <td align="right">449kB</td>
   <td><tt>11d925a61073855ddcd6b89cafefe3bf58a382c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kgeography-16.12.3.tar.xz">kgeography-16.12.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>ace42c2a9ab8d1e4b0ce7f4fd2e940e758bdd3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kget-16.12.3.tar.xz">kget-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>191f156f635d377e69831dcfc90a03bf262443fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kgoldrunner-16.12.3.tar.xz">kgoldrunner-16.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7c97d6f64da757ffb0854089699acc9cab02b44c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kgpg-16.12.3.tar.xz">kgpg-16.12.3</a></td>
   <td align="right">798kB</td>
   <td><tt>dab69aaa06464ef616f927f297aa4e6cb43852bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/khangman-16.12.3.tar.xz">khangman-16.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>879aae6e562e6aeeeb84d910628173912d8a5938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/khelpcenter-16.12.3.tar.xz">khelpcenter-16.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ec9b4518bc5149eacad75cee01962dd98a062be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kholidays-16.12.3.tar.xz">kholidays-16.12.3</a></td>
   <td align="right">172kB</td>
   <td><tt>ca491b8de3e1c58e3fca2098fe8f3da82634d44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kholidays-16.12.3a.tar.xz">kholidays-16.12.3a</a></td>
   <td align="right">172kB</td>
   <td><tt>0db95e1e049b170ac62db213ecb602c34ac9cb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kidentitymanagement-16.12.3.tar.xz">kidentitymanagement-16.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>e670227c990f839295c2097dbf6584d42ee0b743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kig-16.12.3.tar.xz">kig-16.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>89f2d8b88927a5785799d54a3957248dd50e8ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kigo-16.12.3.tar.xz">kigo-16.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>efa95dac78c5c819438211a861743568ef955137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/killbots-16.12.3.tar.xz">killbots-16.12.3</a></td>
   <td align="right">941kB</td>
   <td><tt>2a77b7a478410462e71f997b6b6487dd5f389691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kimagemapeditor-16.12.3.tar.xz">kimagemapeditor-16.12.3</a></td>
   <td align="right">397kB</td>
   <td><tt>5ae34ac3ed771e1c84c9ac1856072bebf2a81a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kimap-16.12.3.tar.xz">kimap-16.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>caa9c4e3d4f66a3482dab3e23618456ae37202c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kio-extras-16.12.3.tar.xz">kio-extras-16.12.3</a></td>
   <td align="right">273kB</td>
   <td><tt>2f9abfc48b9cbad5d4f0011b10195b55662b5b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kiriki-16.12.3.tar.xz">kiriki-16.12.3</a></td>
   <td align="right">253kB</td>
   <td><tt>0c33e79cd0adcc5f93caa0770c738547f5c6759c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kiten-16.12.3.tar.xz">kiten-16.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>16818217c47dced954668dbc667efe84c5582c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kjumpingcube-16.12.3.tar.xz">kjumpingcube-16.12.3</a></td>
   <td align="right">135kB</td>
   <td><tt>4b1c6a148a253d89a3896722e58892e8e8eca7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kldap-16.12.3.tar.xz">kldap-16.12.3</a></td>
   <td align="right">58kB</td>
   <td><tt>6956a1994fbfad168e74662ec997d52454c5a73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kleopatra-16.12.3.tar.xz">kleopatra-16.12.3</a></td>
   <td align="right">694kB</td>
   <td><tt>6fb2c0c8f06d833fb3c369529fed6c9aa719d303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/klettres-16.12.3.tar.xz">klettres-16.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>aec3f8fe92150c2b12ed2a0b6a6471f7715e0425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/klickety-16.12.3.tar.xz">klickety-16.12.3</a></td>
   <td align="right">649kB</td>
   <td><tt>83cbc4900d3328d38c139d15f07838cfbfccb45e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/klines-16.12.3.tar.xz">klines-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>14a51f7e23029e005cf89c5c05c46c50130da228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/klinkstatus-16.12.3.tar.xz">klinkstatus-16.12.3</a></td>
   <td align="right">440kB</td>
   <td><tt>6463fc661ddbabb3b5476394873ce1de7daffa22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmag-16.12.3.tar.xz">kmag-16.12.3</a></td>
   <td align="right">84kB</td>
   <td><tt>1fb523f7f90cc86d5c6c2a8851e4157698242ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmahjongg-16.12.3.tar.xz">kmahjongg-16.12.3</a></td>
   <td align="right">989kB</td>
   <td><tt>496b5ea9039442928ee32d9803605d4d3bb54be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmail-16.12.3.tar.xz">kmail-16.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3e1d520103e8bc61fdfc9a174da9aea139967167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmail-account-wizard-16.12.3.tar.xz">kmail-account-wizard-16.12.3</a></td>
   <td align="right">60kB</td>
   <td><tt>1a9e35462a8797912e4bdbf772a726c878fdf5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmailtransport-16.12.3.tar.xz">kmailtransport-16.12.3</a></td>
   <td align="right">89kB</td>
   <td><tt>3791eb2e9c5d409bd123e4f10e30fd9f8f39868d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmbox-16.12.3.tar.xz">kmbox-16.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>ee34e24e8069f3c53ae5ed708a5d9a8ae9087af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmime-16.12.3.tar.xz">kmime-16.12.3</a></td>
   <td align="right">119kB</td>
   <td><tt>1eb5e1d248c30cb96deda1ef26e27336bd5c4b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmines-16.12.3.tar.xz">kmines-16.12.3</a></td>
   <td align="right">647kB</td>
   <td><tt>c183080188a06b6322e59601f668eaa85a0b15e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmix-16.12.3.tar.xz">kmix-16.12.3</a></td>
   <td align="right">379kB</td>
   <td><tt>d79c7c4b00205f0f06602f494ae5a0f16337b474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmousetool-16.12.3.tar.xz">kmousetool-16.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>8e071b1790a779bdee7e671e8a18b472cc4b499b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmouth-16.12.3.tar.xz">kmouth-16.12.3</a></td>
   <td align="right">271kB</td>
   <td><tt>ee77fdceef3a2f43929279fa9a263b70cc5b0fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kmplot-16.12.3.tar.xz">kmplot-16.12.3</a></td>
   <td align="right">558kB</td>
   <td><tt>d267c8e28af4bcba529e789bca21333b31312109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/knavalbattle-16.12.3.tar.xz">knavalbattle-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d36df61121b7931bc6498167928d2a1a4f1f93f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/knetwalk-16.12.3.tar.xz">knetwalk-16.12.3</a></td>
   <td align="right">883kB</td>
   <td><tt>3f151ff5985baeeb12047dd2b5246ce424b8b3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/knotes-16.12.3.tar.xz">knotes-16.12.3</a></td>
   <td align="right">159kB</td>
   <td><tt>dc1e424676b504a79ffaf42eb38ec059db055f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kolf-16.12.3.tar.xz">kolf-16.12.3</a></td>
   <td align="right">750kB</td>
   <td><tt>d4d32501907499d89514d3c78add4689b6dd0591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kollision-16.12.3.tar.xz">kollision-16.12.3</a></td>
   <td align="right">221kB</td>
   <td><tt>c1912f1c60b62de785b50d822a09c7aad48085c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kolourpaint-16.12.3.tar.xz">kolourpaint-16.12.3</a></td>
   <td align="right">858kB</td>
   <td><tt>f93323140ae20e0cf4ed6ce0716f8e40166169e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kommander-16.12.3.tar.xz">kommander-16.12.3</a></td>
   <td align="right">926kB</td>
   <td><tt>0d6cc1ca70c625bdbcd0429a4e4108cb00a6d11b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kompare-16.12.3.tar.xz">kompare-16.12.3</a></td>
   <td align="right">232kB</td>
   <td><tt>fe0c6314b2c825343150acd2e7435cd24b016b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/konqueror-16.12.3.tar.xz">konqueror-16.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>326231e03c71372e14fb3131a92300c1363a1c20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/konquest-16.12.3.tar.xz">konquest-16.12.3</a></td>
   <td align="right">396kB</td>
   <td><tt>2a34977654783130e49ec8a237428157881c6496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/konsole-16.12.3.tar.xz">konsole-16.12.3</a></td>
   <td align="right">453kB</td>
   <td><tt>da16d047f6f8b2c18c30925b975918451d0d30bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kontact-16.12.3.tar.xz">kontact-16.12.3</a></td>
   <td align="right">804kB</td>
   <td><tt>47212ea52d0ad332a274aead48baef7dd4625da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kontactinterface-16.12.3.tar.xz">kontactinterface-16.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>89036c0c5b17c0592eacccb73947291c33996429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kopete-16.12.3.tar.xz">kopete-16.12.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>0331b1639457ffa64e69029f9a109dd344029c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/korganizer-16.12.3.tar.xz">korganizer-16.12.3</a></td>
   <td align="right">811kB</td>
   <td><tt>09f2582547d092cfc3b56963f93a7152b5257b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kpat-16.12.3.tar.xz">kpat-16.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d5611081bea2729fa3e2ab3481479ca1ca896fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kpimtextedit-16.12.3.tar.xz">kpimtextedit-16.12.3</a></td>
   <td align="right">77kB</td>
   <td><tt>9f283a436fc5d0afb3e6679c626936a1208d12c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kppp-16.12.3.tar.xz">kppp-16.12.3</a></td>
   <td align="right">684kB</td>
   <td><tt>29777535d55e4b430d33d528efd4f1fda4c234df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kqtquickcharts-16.12.3.tar.xz">kqtquickcharts-16.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>c8a2a74b3ac71061f22294da718e42bdd6f64401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/krdc-16.12.3.tar.xz">krdc-16.12.3</a></td>
   <td align="right">284kB</td>
   <td><tt>f800fd4fbcdf3002ca43877b2d9b420c2d89537a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kremotecontrol-16.12.3.tar.xz">kremotecontrol-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>da1e40f1c82671c919b6060e622a1fe5b1d1326f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kreversi-16.12.3.tar.xz">kreversi-16.12.3</a></td>
   <td align="right">463kB</td>
   <td><tt>7708c0f2a4ba0aec2ceaca9eb219bd2cd3e5ded9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/krfb-16.12.3.tar.xz">krfb-16.12.3</a></td>
   <td align="right">161kB</td>
   <td><tt>ca59334698984134f8aae9c22d307146c2c661c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kross-interpreters-16.12.3.tar.xz">kross-interpreters-16.12.3</a></td>
   <td align="right">141kB</td>
   <td><tt>4ebcc175c55147b51a54e5c0649b6c938e5bfabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kruler-16.12.3.tar.xz">kruler-16.12.3</a></td>
   <td align="right">123kB</td>
   <td><tt>6b48b4ba39ab1d98d9cd5de23eaf50d8c15d5cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ksaneplugin-16.12.3.tar.xz">ksaneplugin-16.12.3</a></td>
   <td align="right">12kB</td>
   <td><tt>8380846a9a54b26b17aa7b485c24d7681e3ddbac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kscd-16.12.3.tar.xz">kscd-16.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>0ac8f2c8c32bdde948ab5d2f7e05def83c8d96e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kshisen-16.12.3.tar.xz">kshisen-16.12.3</a></td>
   <td align="right">336kB</td>
   <td><tt>ee5218005f53cf4bea464835a08600ffb2d2a90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ksirk-16.12.3.tar.xz">ksirk-16.12.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>c9688d084815809060064f6efbae5e5a20247c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ksnakeduel-16.12.3.tar.xz">ksnakeduel-16.12.3</a></td>
   <td align="right">291kB</td>
   <td><tt>cce232b3f9309679ab4ee2b378fc3d856632fcd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kspaceduel-16.12.3.tar.xz">kspaceduel-16.12.3</a></td>
   <td align="right">247kB</td>
   <td><tt>b5cda9d5247f6fd72a899c140c45717754820e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ksquares-16.12.3.tar.xz">ksquares-16.12.3</a></td>
   <td align="right">133kB</td>
   <td><tt>621e8e109d77a47c3f800a815e96453d727d22c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kstars-16.12.3.tar.xz">kstars-16.12.3</a></td>
   <td align="right">37MB</td>
   <td><tt>5642f5b82a3e8a22ed9bd836e529426c47d12e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ksudoku-16.12.3.tar.xz">ksudoku-16.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2ad11cc332e8b569911ce415627607b630f42d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ksystemlog-16.12.3.tar.xz">ksystemlog-16.12.3</a></td>
   <td align="right">342kB</td>
   <td><tt>c15eeedb8eba3fb36f71f45bef9a4b7fcec28d1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kteatime-16.12.3.tar.xz">kteatime-16.12.3</a></td>
   <td align="right">88kB</td>
   <td><tt>afe8a9c8949fe3d2e13cfbea5f44c9567af9457b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktimer-16.12.3.tar.xz">ktimer-16.12.3</a></td>
   <td align="right">157kB</td>
   <td><tt>c3f7dc45821b8d16f9176b65ec76e120e828a3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktnef-16.12.3.tar.xz">ktnef-16.12.3</a></td>
   <td align="right">227kB</td>
   <td><tt>177286bdb851e94b0930e340f51e4908a56bda58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktouch-16.12.3.tar.xz">ktouch-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>911145bc21090260784f2f0aa5fa135ef005f8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-accounts-kcm-16.12.3.tar.xz">ktp-accounts-kcm-16.12.3</a></td>
   <td align="right">87kB</td>
   <td><tt>2ae753fbc485457c273bde9e7a2135b6ca55beef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-approver-16.12.3.tar.xz">ktp-approver-16.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>5f6c3d134bbb47aa300a2fe9034c0252ed6c22c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-auth-handler-16.12.3.tar.xz">ktp-auth-handler-16.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>102c0e7dcff4deaba566987a46a3c38087c4cba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-call-ui-16.12.3.tar.xz">ktp-call-ui-16.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>cdab5936a4ae330084a22e30f247c5ea55961df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-common-internals-16.12.3.tar.xz">ktp-common-internals-16.12.3</a></td>
   <td align="right">309kB</td>
   <td><tt>f890ae406fd6eb159c58a981d0f0d5aa2c973e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-contact-list-16.12.3.tar.xz">ktp-contact-list-16.12.3</a></td>
   <td align="right">47kB</td>
   <td><tt>3a72f31a780a4e1de7ee7968956796ac7962d1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-contact-runner-16.12.3.tar.xz">ktp-contact-runner-16.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>29ad65e7f01d0926927c827fe5cbd2e47531df19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-desktop-applets-16.12.3.tar.xz">ktp-desktop-applets-16.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>3cb970f93d0123956f3884765f872b989eb72057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-filetransfer-handler-16.12.3.tar.xz">ktp-filetransfer-handler-16.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>b749c1c3d707826223c90a70b6f9dfd9a7ef4213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-kded-module-16.12.3.tar.xz">ktp-kded-module-16.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>c4703eb97aa3cc252b4feb7065bc5fb5a67d6712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-send-file-16.12.3.tar.xz">ktp-send-file-16.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>81a60627d590363ed3d7740e5c3df882e43fe8e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktp-text-ui-16.12.3.tar.xz">ktp-text-ui-16.12.3</a></td>
   <td align="right">288kB</td>
   <td><tt>9b19755e56d7b242c8e99729dcfc5907e839eaaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/ktuberling-16.12.3.tar.xz">ktuberling-16.12.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ef0a80a4637f32ee241bb3975dfd9068a2536093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kturtle-16.12.3.tar.xz">kturtle-16.12.3</a></td>
   <td align="right">192kB</td>
   <td><tt>fdb693dc32a5c352b6f1acb35bb94774830b6106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kubrick-16.12.3.tar.xz">kubrick-16.12.3</a></td>
   <td align="right">105kB</td>
   <td><tt>02bf14716f4ba4fb04d46784e5dc8f0238be84d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kwalletmanager-16.12.3.tar.xz">kwalletmanager-16.12.3</a></td>
   <td align="right">372kB</td>
   <td><tt>e5b51b24c9d426b9b99da27b06a9f3cdfb1fdf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kwave-16.12.3.tar.xz">kwave-16.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>158137946fbca0e911ba2b4f533c3e2f08fdfecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kwordquiz-16.12.3.tar.xz">kwordquiz-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a5f4b24d1cb2cc848566caf6d6429562fe77777d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libgravatar-16.12.3.tar.xz">libgravatar-16.12.3</a></td>
   <td align="right">21kB</td>
   <td><tt>9380c95d2c7994b4649e82b9aa29e2c0abf62869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkcddb-16.12.3.tar.xz">libkcddb-16.12.3</a></td>
   <td align="right">155kB</td>
   <td><tt>ba53a4e31a1aea98edbd2cbd9a4bf4ac492808bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkcompactdisc-16.12.3.tar.xz">libkcompactdisc-16.12.3</a></td>
   <td align="right">75kB</td>
   <td><tt>db6327cf94c6333ff0cd5b17bc0be3eea9f26b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkdcraw-16.12.3.tar.xz">libkdcraw-16.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>47fe88d4598db758955ab516ce1daf3e4b10ca23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkdegames-16.12.3.tar.xz">libkdegames-16.12.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>3d4c85fcd971dde46b1833a5cdb018b3209a14f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkdepim-16.12.3.tar.xz">libkdepim-16.12.3</a></td>
   <td align="right">112kB</td>
   <td><tt>98cceac475d5d2061772b1d5ddc30a4c9f57947e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkeduvocdocument-16.12.3.tar.xz">libkeduvocdocument-16.12.3</a></td>
   <td align="right">89kB</td>
   <td><tt>7c61b68f6716647297d2e4760ad6beffa4cc9ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkexiv2-16.12.3.tar.xz">libkexiv2-16.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>84745a47fe627d2fe2897040084832a0fd8f1227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkface-16.12.3.tar.xz">libkface-16.12.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>fae649ed2f1ca5f420a0e00e635083cb79dd50ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkgeomap-16.12.3.tar.xz">libkgeomap-16.12.3</a></td>
   <td align="right">122kB</td>
   <td><tt>aea7c56db41f85ccce37fd760f39445cd56afd49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkipi-16.12.3.tar.xz">libkipi-16.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>994bec30e7500a365ccc46f4149eabc77f3cfb73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkleo-16.12.3.tar.xz">libkleo-16.12.3</a></td>
   <td align="right">127kB</td>
   <td><tt>9099d063de92c62a2de7e4a85ef854c8f2318f05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkmahjongg-16.12.3.tar.xz">libkmahjongg-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>37b47b9d1ecbb56abd53f00db431fec8d13d45d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libkomparediff2-16.12.3.tar.xz">libkomparediff2-16.12.3</a></td>
   <td align="right">55kB</td>
   <td><tt>0601758777accca22ec81f5c34b49ca08564e6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libksane-16.12.3.tar.xz">libksane-16.12.3</a></td>
   <td align="right">79kB</td>
   <td><tt>b8a6f7f424aec436e038602a48c5e252aeacb078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/libksieve-16.12.3.tar.xz">libksieve-16.12.3</a></td>
   <td align="right">165kB</td>
   <td><tt>3a2f751e3023284d8c10bf2f7be14368d3a34413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/lokalize-16.12.3.tar.xz">lokalize-16.12.3</a></td>
   <td align="right">936kB</td>
   <td><tt>c0f6cc545a9015730360573eec29282c26b50b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/lskat-16.12.3.tar.xz">lskat-16.12.3</a></td>
   <td align="right">906kB</td>
   <td><tt>3c8ce21763dbe0dd9a203eb8030226fe5dbcdbc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/mailcommon-16.12.3.tar.xz">mailcommon-16.12.3</a></td>
   <td align="right">185kB</td>
   <td><tt>0275ab688317599896ee053838d1bcfefda180c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/mailimporter-16.12.3.tar.xz">mailimporter-16.12.3</a></td>
   <td align="right">373kB</td>
   <td><tt>932a93f12b533562fb511a7a7e01e569eef38377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/marble-16.12.3.tar.xz">marble-16.12.3</a></td>
   <td align="right">23MB</td>
   <td><tt>2da0af34acb95c2674f27843b1b3dd2a27fbc345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/mbox-importer-16.12.3.tar.xz">mbox-importer-16.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>a573f75ff55d963a3e5cb063de1314af7875294a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/messagelib-16.12.3.tar.xz">messagelib-16.12.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>7d6a342ff178d815661d48ee4e4dcf3b28c4bcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/minuet-16.12.3.tar.xz">minuet-16.12.3</a></td>
   <td align="right">26MB</td>
   <td><tt>fab835920ca721d5133a793e641383cc75062e7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/okteta-16.12.3.tar.xz">okteta-16.12.3</a></td>
   <td align="right">495kB</td>
   <td><tt>d2baaabc558e3930127f197bd94d1e68481c05fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/okular-16.12.3.tar.xz">okular-16.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6b13c09ccd85674cda965729b84c73585b0fca3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/palapeli-16.12.3.tar.xz">palapeli-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f29ac33c20d9a0890e97ed95457f2f73aedaa18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/parley-16.12.3.tar.xz">parley-16.12.3</a></td>
   <td align="right">5.0MB</td>
   <td><tt>40226676b2ef02cda733f46d2b32df10f4267192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/picmi-16.12.3.tar.xz">picmi-16.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6d13a62b20a3d9e48800c01f47a944f1a4cebc55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/pimcommon-16.12.3.tar.xz">pimcommon-16.12.3</a></td>
   <td align="right">155kB</td>
   <td><tt>387cb21cf902fbae60afa0e6b49712a38cb1c360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/pim-data-exporter-16.12.3.tar.xz">pim-data-exporter-16.12.3</a></td>
   <td align="right">100kB</td>
   <td><tt>d9f689a6f4081107048051064db62f5ae024a889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/pim-sieve-editor-16.12.3.tar.xz">pim-sieve-editor-16.12.3</a></td>
   <td align="right">309kB</td>
   <td><tt>408f761f0caff5c582141cea2ff146a9e81b27bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/pim-storage-service-manager-16.12.3.tar.xz">pim-storage-service-manager-16.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>19b9286b71a5602d39c0407286d148d75e8a31d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/poxml-16.12.3.tar.xz">poxml-16.12.3</a></td>
   <td align="right">31kB</td>
   <td><tt>d1b995051b2508a0703edf103da400ec12ac8d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/print-manager-16.12.3.tar.xz">print-manager-16.12.3</a></td>
   <td align="right">92kB</td>
   <td><tt>bbe5a19e3b24d5366bf5a5361397d124a65d8d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/rocs-16.12.3.tar.xz">rocs-16.12.3</a></td>
   <td align="right">520kB</td>
   <td><tt>a0d6ee2849578b14174e2b6753414ddb46bb75ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/signon-kwallet-extension-16.12.3.tar.xz">signon-kwallet-extension-16.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>33ae07962e0d1a681c1f8c8b5a36de0ee8e5d883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/spectacle-16.12.3.tar.xz">spectacle-16.12.3</a></td>
   <td align="right">983kB</td>
   <td><tt>e5c08c4b730da6ccecbb9d908e23ab1727302dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/step-16.12.3.tar.xz">step-16.12.3</a></td>
   <td align="right">381kB</td>
   <td><tt>8277707c3402da763fe00cbc7e2d3748827e3c2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/svgpart-16.12.3.tar.xz">svgpart-16.12.3</a></td>
   <td align="right">8kB</td>
   <td><tt>0e4a1c928f9adbf420dff83c331dd97f1b6586c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/sweeper-16.12.3.tar.xz">sweeper-16.12.3</a></td>
   <td align="right">80kB</td>
   <td><tt>3984b4a80637b6bff0b07f4d859c24ce7991c09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/syndication-16.12.3.tar.xz">syndication-16.12.3</a></td>
   <td align="right">156kB</td>
   <td><tt>626fc148353d6244dc135a165768ae760a7c0419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/umbrello-16.12.3.tar.xz">umbrello-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c718731d174cca55c2da492c45cdde01651743bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/zeroconf-ioslave-16.12.3.tar.xz">zeroconf-ioslave-16.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>09b90fbc0d725c2175c9dfbbdc59ff107a623083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ar-16.12.2.tar.xz">kde-l10n-ar-16.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>66fa6f6793d7b141b14c7f4e81cad6fca7229d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ar-16.12.3.tar.xz">kde-l10n-ar-16.12.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>49289c10b4be8b81d8df63646e30d82dba906f92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ast-16.12.2.tar.xz">kde-l10n-ast-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b0c701b293238be88027b24ead7639f33b6eb4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ast-16.12.3.tar.xz">kde-l10n-ast-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c109144e87066413f22f0b0dfaa70d4f9e32c9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-bg-16.12.2.tar.xz">kde-l10n-bg-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0650d3706c636217e207aa176a53aa473d09fee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-bg-16.12.3.tar.xz">kde-l10n-bg-16.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c133e6f7ce332fc8180ceb8e9041eb7bef30e15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-bs-16.12.2.tar.xz">kde-l10n-bs-16.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>077adad2918b5e67e6affb047a7a8ced957700df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-bs-16.12.3.tar.xz">kde-l10n-bs-16.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>069b6e631157ec049386af34f2757a1099e9ddfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ca-16.12.2.tar.xz">kde-l10n-ca-16.12.2</a></td>
   <td align="right">19MB</td>
   <td><tt>88fa6c705552470d67383df9aabd878a4ae88c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ca-16.12.3.tar.xz">kde-l10n-ca-16.12.3</a></td>
   <td align="right">19MB</td>
   <td><tt>e75c3d5683b631a7c8b6d1060200fc7fe1a14384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ca@valencia-16.12.2.tar.xz">kde-l10n-ca@valencia-16.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>357b3ecee482ada982061366aa14c2cfdb22ca5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ca@valencia-16.12.3.tar.xz">kde-l10n-ca@valencia-16.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>79145c5a0719114de750c633ba82374d457638ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-cs-16.12.2.tar.xz">kde-l10n-cs-16.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0b96b5e948166fcd77ab3e7d61bfe86c6075db8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-cs-16.12.3.tar.xz">kde-l10n-cs-16.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8b756b1dd3a71d44c968a16c6e5180e85127f066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-da-16.12.2.tar.xz">kde-l10n-da-16.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>8d16252a19a17e8994424ab64341425e08ae4eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-da-16.12.3.tar.xz">kde-l10n-da-16.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>912d7eae3e13c26823d9955cf7a324c375930a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-de-16.12.2.tar.xz">kde-l10n-de-16.12.2</a></td>
   <td align="right">30MB</td>
   <td><tt>29c237cf794c31ec999bde12628892c463cffa25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-de-16.12.3.tar.xz">kde-l10n-de-16.12.3</a></td>
   <td align="right">30MB</td>
   <td><tt>f045366758e3fbcc8b024b89e69bbc2cb8aa7770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-el-16.12.2.tar.xz">kde-l10n-el-16.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>a3d2a818541d75413c48ee100d901bfd2d3f8531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-el-16.12.3.tar.xz">kde-l10n-el-16.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7316b2e0a4115d5bd0a868f2cd570f4daafe4a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-en_GB-16.12.2.tar.xz">kde-l10n-en_GB-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>38a7d44bb1d7e266ebee8769bd0426a0227305c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-en_GB-16.12.3.tar.xz">kde-l10n-en_GB-16.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>51cf71b53ec1239bea63209414f963a6a99db796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-eo-16.12.2.tar.xz">kde-l10n-eo-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f9d4831ce4d90379f167960c87279d84f7317d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-eo-16.12.3.tar.xz">kde-l10n-eo-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>299280ec0842e0c96e37d1994a0eb3326c386de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-es-16.12.2.tar.xz">kde-l10n-es-16.12.2</a></td>
   <td align="right">16MB</td>
   <td><tt>d26321045803129164185982aa6397cca270a11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-es-16.12.3.tar.xz">kde-l10n-es-16.12.3</a></td>
   <td align="right">16MB</td>
   <td><tt>ceab4dd5bf447501be4ff11a920b8deded81adf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-et-16.12.2.tar.xz">kde-l10n-et-16.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>2840270553909e5284464b3a3af6214402cba683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-et-16.12.3.tar.xz">kde-l10n-et-16.12.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>7735b5e6049cbcb593f11b690f36f5c7750b4d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-eu-16.12.2.tar.xz">kde-l10n-eu-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cf1662d2258ab27b88815d70da7124fdce6b301d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-eu-16.12.3.tar.xz">kde-l10n-eu-16.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>074d319ccf2531bd7fcff4e1e299cfa10db54a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-fa-16.12.2.tar.xz">kde-l10n-fa-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>47ad09f287d8c8653b6d818e06e226eea006dbcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-fa-16.12.3.tar.xz">kde-l10n-fa-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c5a72b4b96dbab8fac34192d2f28a3f1a790bb01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-fi-16.12.2.tar.xz">kde-l10n-fi-16.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ef9b0a339ea40691b90a6ee42ba9dfdc25ecd603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-fi-16.12.3.tar.xz">kde-l10n-fi-16.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>289d535ee1ef51902d2e8c15c4c6a9508b37d088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-fr-16.12.2.tar.xz">kde-l10n-fr-16.12.2</a></td>
   <td align="right">29MB</td>
   <td><tt>d26298d8c59f31e799a0cbca25e350120a58ae3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-fr-16.12.3.tar.xz">kde-l10n-fr-16.12.3</a></td>
   <td align="right">29MB</td>
   <td><tt>42e9f41636ec021b3a398255805cb019d49525c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ga-16.12.2.tar.xz">kde-l10n-ga-16.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d0ee9e4e922502f74974079ee792a005841e9522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ga-16.12.3.tar.xz">kde-l10n-ga-16.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a5b8b17e3913df76976dcde09d88692425b4f566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-gl-16.12.2.tar.xz">kde-l10n-gl-16.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>13f2b41f3fdf7990e60492ff9fee177ca011947b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-gl-16.12.3.tar.xz">kde-l10n-gl-16.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>e94cf228bc65d4b0ad85215d330f3bc6c99add50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-he-16.12.2.tar.xz">kde-l10n-he-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>89f68687de839bc12411c479a375f1124d10563e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-he-16.12.3.tar.xz">kde-l10n-he-16.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c744507f442f0ccee4525fa806daa89f32d64d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-hi-16.12.2.tar.xz">kde-l10n-hi-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e97dc4e13e9396ce02c1305f2c62c49f8c907ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-hi-16.12.3.tar.xz">kde-l10n-hi-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2d54e5391f74344f952412a843040bab67fa5149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-hr-16.12.2.tar.xz">kde-l10n-hr-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>49aef6e510549214068d547542c0fa8a93d86135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-hr-16.12.3.tar.xz">kde-l10n-hr-16.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>64674bf2c4028d1fea328db361e6fa81d20864d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-hu-16.12.2.tar.xz">kde-l10n-hu-16.12.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>9f493b5c34322cf4472033817e4a67fd2fcb4df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-hu-16.12.3.tar.xz">kde-l10n-hu-16.12.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>c9a64fd5bea65a0b39022087aad625b0be68ef5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ia-16.12.2.tar.xz">kde-l10n-ia-16.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8f9a2ae98aad6651a2c4e2fcd0e89c5811af265f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ia-16.12.3.tar.xz">kde-l10n-ia-16.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>37e9d79cc77a0df80b94fbf249d7d935b6e6d028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-id-16.12.2.tar.xz">kde-l10n-id-16.12.2</a></td>
   <td align="right">375kB</td>
   <td><tt>99a6a8cbdba8d6ee2a80887450660092e6c73c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-id-16.12.3.tar.xz">kde-l10n-id-16.12.3</a></td>
   <td align="right">375kB</td>
   <td><tt>42f15f8a57f860c404a21c7d5b4fd218356a7716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-is-16.12.2.tar.xz">kde-l10n-is-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7c7957eb8640a0cfef39116234f1b44b3ebb5d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-is-16.12.3.tar.xz">kde-l10n-is-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>903f0adbf44da7cb568df77b11fbcef62f057f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-it-16.12.2.tar.xz">kde-l10n-it-16.12.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>ecb455f2ce36feadc2e81fb3aa05fd5b74d0659d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-it-16.12.3.tar.xz">kde-l10n-it-16.12.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>14d6fe962c2ee8d3095204c7904ca10e598b1ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ja-16.12.2.tar.xz">kde-l10n-ja-16.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ddc68b286a3d49ab821546d3c1d6e961e7bcb4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ja-16.12.3.tar.xz">kde-l10n-ja-16.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c40448f2df00fa1166e99e92b3b37f196496015d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-kk-16.12.2.tar.xz">kde-l10n-kk-16.12.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bd35277d43e470a3241b7e5d3008843aea070052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-kk-16.12.3.tar.xz">kde-l10n-kk-16.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b70ca497f96de36f9cc30c190064f677579ec9e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-km-16.12.2.tar.xz">kde-l10n-km-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d5b303ed80c886e4c511a2460207ed089b760022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-km-16.12.3.tar.xz">kde-l10n-km-16.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c1f2f6b3e6fd52a9bdc4e24ef152b57ab3af5550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ko-16.12.2.tar.xz">kde-l10n-ko-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dc88cce714028a42df10979211fa71effe2a6d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ko-16.12.3.tar.xz">kde-l10n-ko-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9dda5402f9edb9b06ec6ac25f532c07495f57b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-lt-16.12.2.tar.xz">kde-l10n-lt-16.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>831384fa3da582c5d2b38486a8bc6bcb5afb62b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-lt-16.12.3.tar.xz">kde-l10n-lt-16.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>3ff8dd2b21d25cb82719daff99f3aaf334e33aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-lv-16.12.2.tar.xz">kde-l10n-lv-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1ee58f6723b774e2fde9a8992e4157c8e45167c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-lv-16.12.3.tar.xz">kde-l10n-lv-16.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a6a7791c7b22f95777b3dcf7eb4096cbe46a98d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-mr-16.12.2.tar.xz">kde-l10n-mr-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ca076a2b58930f0b70b6f86270927bee59a10823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-mr-16.12.3.tar.xz">kde-l10n-mr-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>86d3e2c45dffde65d426c2efe428f6350dd41d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nb-16.12.2.tar.xz">kde-l10n-nb-16.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f78aa9255da04693dacbdad7c8d84d0032d53dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nb-16.12.3.tar.xz">kde-l10n-nb-16.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6fff6ee5827385bd9d919e03e34b40004da11161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nds-16.12.2.tar.xz">kde-l10n-nds-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f16a1766a30a0d73ba6b7345a3998f180f461188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nds-16.12.3.tar.xz">kde-l10n-nds-16.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>eff608b236b7f66fef5f1610892e22be26b28ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nl-16.12.2.tar.xz">kde-l10n-nl-16.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>768ffbf87f4a588a5d9ffc1ffd2496df852bdb03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nl-16.12.3.tar.xz">kde-l10n-nl-16.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>5755e7c47560d998793ce2e35e3a53643040c35a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nn-16.12.2.tar.xz">kde-l10n-nn-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0826cd756fee2ad97c93749ab7812ea3deced86a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-nn-16.12.3.tar.xz">kde-l10n-nn-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0d1488e76796bd8df1d06cb61f1d41dd8a4b920d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pa-16.12.2.tar.xz">kde-l10n-pa-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>079c9d50af1861a5fa9276152af2006b595a5964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pa-16.12.3.tar.xz">kde-l10n-pa-16.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d6bd0fa775e2f6513c6c3cf6545dea01b9f81cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pl-16.12.2.tar.xz">kde-l10n-pl-16.12.2</a></td>
   <td align="right">14MB</td>
   <td><tt>8fee7295dd61db00b5f515d26717098b7c0bd5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pl-16.12.3.tar.xz">kde-l10n-pl-16.12.3</a></td>
   <td align="right">14MB</td>
   <td><tt>8b0600f68e1eed0192fb8064bd293fc30e1c077a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pt-16.12.2.tar.xz">kde-l10n-pt-16.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2ed9f8ec95d6a59f04d8b266df2d74ed29b3b0e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pt-16.12.3.tar.xz">kde-l10n-pt-16.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>773b715466579a7c4723c148fa3a4c59cfcb1a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pt_BR-16.12.2.tar.xz">kde-l10n-pt_BR-16.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>f9e573e515db63ed608c0915b2b906f9bb4fc6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-pt_BR-16.12.3.tar.xz">kde-l10n-pt_BR-16.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>1ad1202915ef0af7dd06ffced817d9d4dbd6e157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ro-16.12.2.tar.xz">kde-l10n-ro-16.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9827a89e1c6f166690787395032c0529e1859990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ro-16.12.3.tar.xz">kde-l10n-ro-16.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2cf46f5de31a3fafeaa0b2d5e345f6e309376f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ru-16.12.2.tar.xz">kde-l10n-ru-16.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>ef5edf1cf0cbf2477fdadab60a58a8ecc6663bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ru-16.12.3.tar.xz">kde-l10n-ru-16.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>2bd95307efa302182f17cbe2ea8647f084c080e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sk-16.12.2.tar.xz">kde-l10n-sk-16.12.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>046c2723bf4246a8c3690ed52ff5d197af848ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sk-16.12.3.tar.xz">kde-l10n-sk-16.12.3</a></td>
   <td align="right">4.1MB</td>
   <td><tt>c4bbe3715fbfc339009613857e1804714d52a724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sl-16.12.2.tar.xz">kde-l10n-sl-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>168d838f492cd17cfca898ae4aa7fbaa147f149d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sl-16.12.3.tar.xz">kde-l10n-sl-16.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>67b92ef9142021519003e1c3e45d894f1513e189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sr-16.12.2.tar.xz">kde-l10n-sr-16.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>19dfe4042cd51a9b884370995e6e3a06fb43f638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sr-16.12.3.tar.xz">kde-l10n-sr-16.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6b4a3df342acc8408883562c122535afa3f7ae4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sv-16.12.2.tar.xz">kde-l10n-sv-16.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>dd36fefd534b9496a5ea8f05027792d4fca8f78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-sv-16.12.3.tar.xz">kde-l10n-sv-16.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>bc8fa8809b6e83f26f970b7f5235335755fe3a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-tr-16.12.2.tar.xz">kde-l10n-tr-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>fa6d21f2dc8a6a719697b171133330581d2fbc32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-tr-16.12.3.tar.xz">kde-l10n-tr-16.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>04438b3fe7dbe2d8e0767f6bdbd31b8f2c21aa31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ug-16.12.2.tar.xz">kde-l10n-ug-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e23226603356f39242c0f9823494ec37b1767736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-ug-16.12.3.tar.xz">kde-l10n-ug-16.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3ed4978f0aae6aa74bb7732d81a75576a91a4a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-uk-16.12.2.tar.xz">kde-l10n-uk-16.12.2</a></td>
   <td align="right">22MB</td>
   <td><tt>07c3087dcc96e8519f7a3065e5a69b50eb44ea08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-uk-16.12.3.tar.xz">kde-l10n-uk-16.12.3</a></td>
   <td align="right">22MB</td>
   <td><tt>f19b95446b435cea0dc54f9308ca6299d140965e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-wa-16.12.2.tar.xz">kde-l10n-wa-16.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2a1b73abaa71689aef886f217cf60563660aca3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-wa-16.12.3.tar.xz">kde-l10n-wa-16.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3097683a78c24e2af6c02067d5a482548e331aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-zh_CN-16.12.2.tar.xz">kde-l10n-zh_CN-16.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7ab07b1d611fd657949c5f0bb41aa3be909fd132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-zh_CN-16.12.3.tar.xz">kde-l10n-zh_CN-16.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>ff4b0e24b7d80394525f3297be154359f9f1e2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-zh_TW-16.12.2.tar.xz">kde-l10n-zh_TW-16.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5e40e7e9b87f0f363afb61594f152a3c59cb0b54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.3/src/kde-l10n/kde-l10n-zh_TW-16.12.3.tar.xz">kde-l10n-zh_TW-16.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>db077232878f7eb5af902bf6380e91b6ce911840</tt></td>
</tr>

</table>
