<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-17.04.1.tar.xz">akonadi-17.04.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>dcffa61d3754b1395056d5e739833ce323a1d87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-calendar-17.04.1.tar.xz">akonadi-calendar-17.04.1</a></td>
   <td align="right">272kB</td>
   <td><tt>4084c2ce47987721527e5dde3d29bc6ad8b9c321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-calendar-tools-17.04.1.tar.xz">akonadi-calendar-tools-17.04.1</a></td>
   <td align="right">216kB</td>
   <td><tt>0b8fc47576358d7f7f0965839679fc85b26402e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadiconsole-17.04.1.tar.xz">akonadiconsole-17.04.1</a></td>
   <td align="right">181kB</td>
   <td><tt>b2dc492569b650016462cd478995dea8a24e1573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-contacts-17.04.1.tar.xz">akonadi-contacts-17.04.1</a></td>
   <td align="right">339kB</td>
   <td><tt>74d8df55ec4d615efc18a8318411909ef910c3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-import-wizard-17.04.1.tar.xz">akonadi-import-wizard-17.04.1</a></td>
   <td align="right">423kB</td>
   <td><tt>49c683d5a871de0924be6f9b06b4d7ceba9947a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-mime-17.04.1.tar.xz">akonadi-mime-17.04.1</a></td>
   <td align="right">127kB</td>
   <td><tt>3dd709604befd28a2aeb7ab348a1f124665bdf6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-notes-17.04.1.tar.xz">akonadi-notes-17.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>1de0bd8862ca50612101ec76a6be899dfab99a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akonadi-search-17.04.1.tar.xz">akonadi-search-17.04.1</a></td>
   <td align="right">78kB</td>
   <td><tt>39fe11444574cc14d2a8940f140aa330e1c7a60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/akregator-17.04.1.tar.xz">akregator-17.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>45962425cebe26fe2e851bef0ad01aedd555435b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/analitza-17.04.1.tar.xz">analitza-17.04.1</a></td>
   <td align="right">320kB</td>
   <td><tt>ae2ac3d113880eb7911cbad571fa5687e0b585d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ark-17.04.1.tar.xz">ark-17.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>17c97d3894b16f65dd806089c9ea79e555fac39c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/artikulate-17.04.1.tar.xz">artikulate-17.04.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0ca7ed17790980ffee27a0c192b1870a613215cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/audiocd-kio-17.04.1.tar.xz">audiocd-kio-17.04.1</a></td>
   <td align="right">243kB</td>
   <td><tt>7e32e44280f081161fe662bb44b2806248d2060c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/baloo-widgets-17.04.1.tar.xz">baloo-widgets-17.04.1</a></td>
   <td align="right">147kB</td>
   <td><tt>e8f1b14200605874a42521ca623d2b910d350941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/blinken-17.04.1.tar.xz">blinken-17.04.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0614ad3bdf80e49742438b5608f17f1755fde9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/blogilo-17.04.1.tar.xz">blogilo-17.04.1</a></td>
   <td align="right">785kB</td>
   <td><tt>fcf013eaf68722f2b2f6bc150a21b14f98217688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/bomber-17.04.1.tar.xz">bomber-17.04.1</a></td>
   <td align="right">736kB</td>
   <td><tt>28add43268be23fabcf84fd58b468677042e632c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/bovo-17.04.1.tar.xz">bovo-17.04.1</a></td>
   <td align="right">181kB</td>
   <td><tt>83712b4efafd0f9bb66e849ed5af4a444f0eb456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/calendarsupport-17.04.1.tar.xz">calendarsupport-17.04.1</a></td>
   <td align="right">656kB</td>
   <td><tt>42d0cd9ea07cdb9cde9f8ac4c4066a0763e2b7e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/cantor-17.04.1.tar.xz">cantor-17.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5645f7fcf35a3e0e97992c3d44343fdf40eba525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/cervisia-17.04.1.tar.xz">cervisia-17.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5a97dac5d5730bbde06e478a7c1e4f2317a81c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/dolphin-17.04.1.tar.xz">dolphin-17.04.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>330c5856799bd27414970d698f08bb94992d7613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/dolphin-plugins-17.04.1.tar.xz">dolphin-plugins-17.04.1</a></td>
   <td align="right">182kB</td>
   <td><tt>b162f15cff3992293a2a79caa6c60b4595bef37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/dragon-17.04.1.tar.xz">dragon-17.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>958b40858b3b197b8b9d672ec72d0d3bcfc684a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/eventviews-17.04.1.tar.xz">eventviews-17.04.1</a></td>
   <td align="right">424kB</td>
   <td><tt>a78817a41aebaf39067283a083efdf8faf83942a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ffmpegthumbs-17.04.1.tar.xz">ffmpegthumbs-17.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>4610a39edb8d7cd6042270699481f1fd0a6b7e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/filelight-17.04.1.tar.xz">filelight-17.04.1</a></td>
   <td align="right">638kB</td>
   <td><tt>1d754d0ae76c982576e0b2ff4acb01e5224db0f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/granatier-17.04.1.tar.xz">granatier-17.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>63dfd82fc3747dd659ae8c9c34ea20d2f599e794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/grantlee-editor-17.04.1.tar.xz">grantlee-editor-17.04.1</a></td>
   <td align="right">108kB</td>
   <td><tt>e3138e65144e24137cd64fbb54b89c2396eefd12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/grantleetheme-17.04.1.tar.xz">grantleetheme-17.04.1</a></td>
   <td align="right">49kB</td>
   <td><tt>bf04eba522d1c8329f3786024b879afacb608840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/gwenview-17.04.1.tar.xz">gwenview-17.04.1</a></td>
   <td align="right">5.6MB</td>
   <td><tt>1bfbe69c16971c43ac72de73cd2a829cae345bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/incidenceeditor-17.04.1.tar.xz">incidenceeditor-17.04.1</a></td>
   <td align="right">510kB</td>
   <td><tt>c8750081be8e13c39ef7ff9a70baff1ab39127f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/jovie-17.04.1.tar.xz">jovie-17.04.1</a></td>
   <td align="right">385kB</td>
   <td><tt>9876b34357c38fe2c712e5da6de991cf510e9ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/juk-17.04.1.tar.xz">juk-17.04.1</a></td>
   <td align="right">435kB</td>
   <td><tt>d6dd51ea46afaadba9ec89950dcda77e9fc4a240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/k3b-17.04.1.tar.xz">k3b-17.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>51a18fc36acebecb4d687ce076064c7e808c2588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kaccessible-17.04.1.tar.xz">kaccessible-17.04.1</a></td>
   <td align="right">20kB</td>
   <td><tt>f763587fac262c5ca8db44a2ae7e3055d69e205f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kaccounts-integration-17.04.1.tar.xz">kaccounts-integration-17.04.1</a></td>
   <td align="right">67kB</td>
   <td><tt>531fa4ffc5d9d4d2148aa1e1ee0179600efc2a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kaccounts-providers-17.04.1.tar.xz">kaccounts-providers-17.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>14cc6c878dbe844865c250521cf60624452a11b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kaddressbook-17.04.1.tar.xz">kaddressbook-17.04.1</a></td>
   <td align="right">548kB</td>
   <td><tt>d0bc8b670e3f01130c6c014492ffbc5a10315334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kajongg-17.04.1.tar.xz">kajongg-17.04.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b0592f0ed5370abbe27fd2e9c25c854d97354790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kalarm-17.04.1.tar.xz">kalarm-17.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f526fca2d0d2b670665ea841afb6b055cb834ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kalarmcal-17.04.1.tar.xz">kalarmcal-17.04.1</a></td>
   <td align="right">492kB</td>
   <td><tt>1f6a5f4b62646286d72cd8218c104d35ec1b3328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kalgebra-17.04.1.tar.xz">kalgebra-17.04.1</a></td>
   <td align="right">673kB</td>
   <td><tt>270a8f880a2ff380f02b7e245ad5f66ffae5e141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kalzium-17.04.1.tar.xz">kalzium-17.04.1</a></td>
   <td align="right">23MB</td>
   <td><tt>1e8161133c833d50023af6bab329ed08e72e6dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kamera-17.04.1.tar.xz">kamera-17.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>4790eb837deac0bde9b691cfc96843ebd37b17aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kanagram-17.04.1.tar.xz">kanagram-17.04.1</a></td>
   <td align="right">7.2MB</td>
   <td><tt>b2eede86529dcb33d5e9d07b030c54de1c2a71f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kapman-17.04.1.tar.xz">kapman-17.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>74a18e2bfaf694d026d13ca9f8edc4cfda6b0272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kapptemplate-17.04.1.tar.xz">kapptemplate-17.04.1</a></td>
   <td align="right">480kB</td>
   <td><tt>30f98e462b90e982f2534a62ef60676a213ce242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kate-17.04.1.tar.xz">kate-17.04.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>147c51f82c9931b64844cec12c342580e2babca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/katomic-17.04.1.tar.xz">katomic-17.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>76fa00761ef83923b5bf9fe60cb8b816cf4add95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kblackbox-17.04.1.tar.xz">kblackbox-17.04.1</a></td>
   <td align="right">392kB</td>
   <td><tt>5bb355234de71550cdf514eba10fa5d8a57923cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kblocks-17.04.1.tar.xz">kblocks-17.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>edde3f43ef9d9085b91d7f78b2fb61bc48b6dfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kblog-17.04.1.tar.xz">kblog-17.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>3a68e6627b4729a9cb22d199bf6d31e902282085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kbounce-17.04.1.tar.xz">kbounce-17.04.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>450c3c2c707f1b3a9e8acb45447b910619698966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kbreakout-17.04.1.tar.xz">kbreakout-17.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4ee154883b630620705a550e1b2e0185bdadd963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kbruch-17.04.1.tar.xz">kbruch-17.04.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>8551b4a76f1775e25acf5c4387e16aacbdec05ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcachegrind-17.04.1.tar.xz">kcachegrind-17.04.1</a></td>
   <td align="right">780kB</td>
   <td><tt>07197e66b93e0fa05214be0b897bdd0253a4fa40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcalc-17.04.1.tar.xz">kcalc-17.04.1</a></td>
   <td align="right">354kB</td>
   <td><tt>21b0af01a0ae807de2f19699bb065f3179d913b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcalcore-17.04.1.tar.xz">kcalcore-17.04.1</a></td>
   <td align="right">286kB</td>
   <td><tt>3bf89ab7248a163ff73558e8b1663c1ba974a627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcalutils-17.04.1.tar.xz">kcalutils-17.04.1</a></td>
   <td align="right">319kB</td>
   <td><tt>02ab926ce92cfccccb6b756890954869c0fd3b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcharselect-17.04.1.tar.xz">kcharselect-17.04.1</a></td>
   <td align="right">342kB</td>
   <td><tt>5d086911cb04e97f12b54ee5ec38c7be344992ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcolorchooser-17.04.1.tar.xz">kcolorchooser-17.04.1</a></td>
   <td align="right">15kB</td>
   <td><tt>0b8d78f4e1729555ed35f1e28a8a44527d62803d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcontacts-17.04.1.tar.xz">kcontacts-17.04.1</a></td>
   <td align="right">202kB</td>
   <td><tt>d6539d8b101d5a8c8a3dee6be76f0947a0cc0e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kcron-17.04.1.tar.xz">kcron-17.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4ee02f085958b9bc88edf4c8be010437810ced2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdav-17.04.1.tar.xz">kdav-17.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>3c0ffc58f95662fd2f839ba512967a28fcbc95a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdebugsettings-17.04.1.tar.xz">kdebugsettings-17.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>921b4276729052d58bc51c7c388b73a2862796cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-dev-scripts-17.04.1.tar.xz">kde-dev-scripts-17.04.1</a></td>
   <td align="right">307kB</td>
   <td><tt>b28d660e21975913f518047bfdf1e117c0bd56de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-dev-utils-17.04.1.tar.xz">kde-dev-utils-17.04.1</a></td>
   <td align="right">51kB</td>
   <td><tt>4b0fceaf3a2940ee7dde8a0d172fdda73c91e587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdeedu-data-17.04.1.tar.xz">kdeedu-data-17.04.1</a></td>
   <td align="right">780kB</td>
   <td><tt>f6ac1bc83cbb016aaa30dd5de631267cb3e545c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdegraphics-mobipocket-17.04.1.tar.xz">kdegraphics-mobipocket-17.04.1</a></td>
   <td align="right">13kB</td>
   <td><tt>80ad51ff2b53524d59ac43f402d84ce032cda704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdegraphics-thumbnailers-17.04.1.tar.xz">kdegraphics-thumbnailers-17.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>588c516a2c566ec923563a43da71a75faccab2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdelibs-4.14.32.tar.xz">kdelibs-4.14.32</a></td>
   <td align="right">11MB</td>
   <td><tt>59c64466a46933c6c8c44239a0ad8421f2a8bfac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdenetwork-filesharing-17.04.1.tar.xz">kdenetwork-filesharing-17.04.1</a></td>
   <td align="right">328kB</td>
   <td><tt>4e85a5bde1d6c98a9502897d455b262097a4484e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdenlive-17.04.1.tar.xz">kdenlive-17.04.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>3458f34ee7abb47da7a396b74c8e93be0249b5b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdepim-addons-17.04.1.tar.xz">kdepim-addons-17.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3f3f42d2015790bcef74f5ea5df70fe8895f220f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdepim-apps-libs-17.04.1.tar.xz">kdepim-apps-libs-17.04.1</a></td>
   <td align="right">71kB</td>
   <td><tt>0eff1b50b47ade79d9562305cd9b22d06fef7385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdepim-runtime-17.04.1.tar.xz">kdepim-runtime-17.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1d6c652798e129d1f51db5d3c867b720c7780c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-runtime-17.04.1.tar.xz">kde-runtime-17.04.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>95fd8faa4350948579a63104bd1d699d253ed4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdesdk-kioslaves-17.04.1.tar.xz">kdesdk-kioslaves-17.04.1</a></td>
   <td align="right">40kB</td>
   <td><tt>73d07d29a451ecb26654fdd23232dc908360c842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdesdk-thumbnailers-17.04.1.tar.xz">kdesdk-thumbnailers-17.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>3ffeb39eed05d9222c4e843426af37aa5bec2d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdf-17.04.1.tar.xz">kdf-17.04.1</a></td>
   <td align="right">517kB</td>
   <td><tt>e7fdb73c5b0b910c7679752695a4890fbae38d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdialog-17.04.1.tar.xz">kdialog-17.04.1</a></td>
   <td align="right">90kB</td>
   <td><tt>7c446f0c17bb36eea7fc31b1edb0dc434986d10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kdiamond-17.04.1.tar.xz">kdiamond-17.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>0f75584265e61df9115564d54c571e5ab98a1d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/keditbookmarks-17.04.1.tar.xz">keditbookmarks-17.04.1</a></td>
   <td align="right">178kB</td>
   <td><tt>5bcee7bf6a2c65567d96ecbb4dcaa1e05395f97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kfilereplace-17.04.1.tar.xz">kfilereplace-17.04.1</a></td>
   <td align="right">745kB</td>
   <td><tt>b7e2ddf2658f5fd97ffe215dc9d8a710c4032d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kfind-17.04.1.tar.xz">kfind-17.04.1</a></td>
   <td align="right">205kB</td>
   <td><tt>8aee40e49c98faee6f4b6d85c3d6b6353c965a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kfloppy-17.04.1.tar.xz">kfloppy-17.04.1</a></td>
   <td align="right">193kB</td>
   <td><tt>b415f777ac10bfa79d73c2fc5ca9942b4ff2c4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kfourinline-17.04.1.tar.xz">kfourinline-17.04.1</a></td>
   <td align="right">560kB</td>
   <td><tt>1475ffb13fa1937570a5f70df6eec85bc2f94d6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kgeography-17.04.1.tar.xz">kgeography-17.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>5cbd01b6f759049fed414dbd221b297fa84b657c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kget-17.04.1.tar.xz">kget-17.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8f6699604e0309436fc4c4a925a5d30b79eb4999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kgoldrunner-17.04.1.tar.xz">kgoldrunner-17.04.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3bea82dffc0f4d0bea75d987e9a4093fea996f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kgpg-17.04.1.tar.xz">kgpg-17.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8bc74e860d6d171e75580639e80b1a9b8bf2674a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/khangman-17.04.1.tar.xz">khangman-17.04.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>70c03309c01c4784f5c84463c1ad93e894f7354b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/khelpcenter-17.04.1.tar.xz">khelpcenter-17.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>90240bdb4720858b9421b9dbf9447476352d28e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kholidays-17.04.1.tar.xz">kholidays-17.04.1</a></td>
   <td align="right">196kB</td>
   <td><tt>2d9c5702af652b80c734cff034c87ae9dc82d0cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kidentitymanagement-17.04.1.tar.xz">kidentitymanagement-17.04.1</a></td>
   <td align="right">144kB</td>
   <td><tt>84c1e9f34b54de76409c1cb9649f8d9f19aac6cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kig-17.04.1.tar.xz">kig-17.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5590c3029a7c6a094d829e57c84af185cefc6712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kigo-17.04.1.tar.xz">kigo-17.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2611cd94c94fa254e0cb2bc71705233dc9d57e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/killbots-17.04.1.tar.xz">killbots-17.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>94febb8505e8e8b7cb4dd96bff0f056f9501b151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kimagemapeditor-17.04.1.tar.xz">kimagemapeditor-17.04.1</a></td>
   <td align="right">397kB</td>
   <td><tt>51fad39dd3e6a900055f89cace1bc5c85aef28e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kimap-17.04.1.tar.xz">kimap-17.04.1</a></td>
   <td align="right">116kB</td>
   <td><tt>a055fccbe98a859555d717de8b55003eb83e1bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kio-extras-17.04.1.tar.xz">kio-extras-17.04.1</a></td>
   <td align="right">539kB</td>
   <td><tt>d7dc77daad4eaf919a5d35b79a2c0e8e3428e62d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kiriki-17.04.1.tar.xz">kiriki-17.04.1</a></td>
   <td align="right">318kB</td>
   <td><tt>01962aa063251b6f15566516582f262592946251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kiten-17.04.1.tar.xz">kiten-17.04.1</a></td>
   <td align="right">11MB</td>
   <td><tt>9f9ef4aec0134adfcb83d19c7079e8db80dd0f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kjumpingcube-17.04.1.tar.xz">kjumpingcube-17.04.1</a></td>
   <td align="right">285kB</td>
   <td><tt>52677268ea100bd0ca7102cdeb620b883040608f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kldap-17.04.1.tar.xz">kldap-17.04.1</a></td>
   <td align="right">150kB</td>
   <td><tt>90b09e3513a3d96c8c55db7bdd79a764dd48fc01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kleopatra-17.04.1.tar.xz">kleopatra-17.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6d2a20d1ce1765a0e2c86aa835c2ebace5b1b028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/klettres-17.04.1.tar.xz">klettres-17.04.1</a></td>
   <td align="right">20MB</td>
   <td><tt>63da1627deb233c9fe469bf49c29033d3056ef84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/klickety-17.04.1.tar.xz">klickety-17.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3ed7a4eaca7ac034efb62950b53b40a85a150e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/klines-17.04.1.tar.xz">klines-17.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>99fcf9737cf9cbc079b2994b50844ea6a5c42747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/klinkstatus-17.04.1.tar.xz">klinkstatus-17.04.1</a></td>
   <td align="right">440kB</td>
   <td><tt>52f82712bf9ab99dd1d9d51e1043931001eb946a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmag-17.04.1.tar.xz">kmag-17.04.1</a></td>
   <td align="right">84kB</td>
   <td><tt>9ca78a0213e45ff1fe17de5670e62b3904d15360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmahjongg-17.04.1.tar.xz">kmahjongg-17.04.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>db94d5c8d405d6479b0ac025728aacb889766ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmail-17.04.1.tar.xz">kmail-17.04.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>cfbdfa005f32a91e4773ac057fb4ecb9a038a81c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmail-account-wizard-17.04.1.tar.xz">kmail-account-wizard-17.04.1</a></td>
   <td align="right">146kB</td>
   <td><tt>324586b04525aa3877700e5d5a76360967af8a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmailtransport-17.04.1.tar.xz">kmailtransport-17.04.1</a></td>
   <td align="right">222kB</td>
   <td><tt>0327788ff841697be89b8d60c5a12f12f746cdd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmbox-17.04.1.tar.xz">kmbox-17.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>943d364c853e4aa68922f7c938cb91a7594fe813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmime-17.04.1.tar.xz">kmime-17.04.1</a></td>
   <td align="right">141kB</td>
   <td><tt>e14123ebcbb8b139728369f27407b1a177a9e6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmines-17.04.1.tar.xz">kmines-17.04.1</a></td>
   <td align="right">862kB</td>
   <td><tt>479dc0a3d10d744877932ae8de9b33c6007797dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmix-17.04.1.tar.xz">kmix-17.04.1</a></td>
   <td align="right">379kB</td>
   <td><tt>ab0e78e1bbb113821288e8c42025fbff4c849503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmousetool-17.04.1.tar.xz">kmousetool-17.04.1</a></td>
   <td align="right">35kB</td>
   <td><tt>e19eba09a77d8b213a66f79ea1801591f27c87ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmouth-17.04.1.tar.xz">kmouth-17.04.1</a></td>
   <td align="right">271kB</td>
   <td><tt>0498dec5061b612b7291c5968b87510c86a62511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kmplot-17.04.1.tar.xz">kmplot-17.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>27ec26abe1a20f30d566d25a29bb1dfdb502446c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/knavalbattle-17.04.1.tar.xz">knavalbattle-17.04.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cfc9e2df10ef51e13fae223c00c1d90686bca62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/knetwalk-17.04.1.tar.xz">knetwalk-17.04.1</a></td>
   <td align="right">958kB</td>
   <td><tt>b676e8ae5ad83bbcfd5655c25a89abbb535c9f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/knotes-17.04.1.tar.xz">knotes-17.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>81ce0eef33efa7f7c205e86b941150d2eefc30a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kolf-17.04.1.tar.xz">kolf-17.04.1</a></td>
   <td align="right">750kB</td>
   <td><tt>b2fdc690889da8abd7a3e9543b4dddd3eb59d903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kollision-17.04.1.tar.xz">kollision-17.04.1</a></td>
   <td align="right">265kB</td>
   <td><tt>ff2ca76511a5ae8670b2e91282a90af50008b7db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kolourpaint-17.04.1.tar.xz">kolourpaint-17.04.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>a7b63c9d83b1bf8753ab0a09c7b086936f83b78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kompare-17.04.1.tar.xz">kompare-17.04.1</a></td>
   <td align="right">691kB</td>
   <td><tt>780ee11a702eaae4745ed46d1d391a962e43b157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/konqueror-17.04.1.tar.xz">konqueror-17.04.1</a></td>
   <td align="right">7.4MB</td>
   <td><tt>916678386d30921fc9366d5ccd8fc8798271a9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/konquest-17.04.1.tar.xz">konquest-17.04.1</a></td>
   <td align="right">396kB</td>
   <td><tt>8e438e036f57d53cef6ba68a2f5a9283f4d93670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/konsole-17.04.1.tar.xz">konsole-17.04.1</a></td>
   <td align="right">984kB</td>
   <td><tt>74bf5a25a5729ed057a0dc6b3ef6d160801cef36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kontact-17.04.1.tar.xz">kontact-17.04.1</a></td>
   <td align="right">843kB</td>
   <td><tt>4799025bff045e6d698b88320327f889a389f309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kontactinterface-17.04.1.tar.xz">kontactinterface-17.04.1</a></td>
   <td align="right">31kB</td>
   <td><tt>218e4d88387f293990131b22d6de5695b243ad2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kopete-17.04.1.tar.xz">kopete-17.04.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f9dc8d990a0816fd2f769dc1316d09aa25121f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/korganizer-17.04.1.tar.xz">korganizer-17.04.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7ee9ca12a0559bb24fc8165230ce844dffac3f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kpat-17.04.1.tar.xz">kpat-17.04.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>2359cf089b3e0270138505969b781a017b27f879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kpimtextedit-17.04.1.tar.xz">kpimtextedit-17.04.1</a></td>
   <td align="right">135kB</td>
   <td><tt>d497e8c6a2841cd6d8da58158c8e0a8afa4e923c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kppp-17.04.1.tar.xz">kppp-17.04.1</a></td>
   <td align="right">684kB</td>
   <td><tt>e5a390c01a53a1eb968dc13b36c58e3733facc30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kqtquickcharts-17.04.1.tar.xz">kqtquickcharts-17.04.1</a></td>
   <td align="right">24kB</td>
   <td><tt>5397dbc59df858d0b3f3bab4cb34a8200e20363e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/krdc-17.04.1.tar.xz">krdc-17.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0e10fee4e1cff98f21b9faeecef2418fee726b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kremotecontrol-17.04.1.tar.xz">kremotecontrol-17.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b4c3bd921664864fc2ac764d3b1e608a2da15c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kreversi-17.04.1.tar.xz">kreversi-17.04.1</a></td>
   <td align="right">463kB</td>
   <td><tt>25e3721dc4515ecb35227f7889ca95b5fb95e65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/krfb-17.04.1.tar.xz">krfb-17.04.1</a></td>
   <td align="right">960kB</td>
   <td><tt>74fe2dba01b9545117f7d29405e1345f86788f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kross-interpreters-17.04.1.tar.xz">kross-interpreters-17.04.1</a></td>
   <td align="right">141kB</td>
   <td><tt>220a76b258774d765f6a2436239c14aff5a72a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kruler-17.04.1.tar.xz">kruler-17.04.1</a></td>
   <td align="right">263kB</td>
   <td><tt>92c5daba58199b9a1b66dfd3d765ddcd6dddb6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ksaneplugin-17.04.1.tar.xz">ksaneplugin-17.04.1</a></td>
   <td align="right">12kB</td>
   <td><tt>26b74469daa64ee7cebc0492d9ad7a2bf4219f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kscd-17.04.1.tar.xz">kscd-17.04.1</a></td>
   <td align="right">90kB</td>
   <td><tt>6d57a63d3615a8898d62b9ba1a7c72f77c487054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kshisen-17.04.1.tar.xz">kshisen-17.04.1</a></td>
   <td align="right">692kB</td>
   <td><tt>3104b3982b11f13353ddcb2a5b1225da7a3bd5ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ksirk-17.04.1.tar.xz">ksirk-17.04.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>e76f9da795c767f0432b6fb187739cb9c0dc56a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ksnakeduel-17.04.1.tar.xz">ksnakeduel-17.04.1</a></td>
   <td align="right">291kB</td>
   <td><tt>e639e5e73bf6ea22a0f9ce5c19bb41bcdfbf4aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kspaceduel-17.04.1.tar.xz">kspaceduel-17.04.1</a></td>
   <td align="right">247kB</td>
   <td><tt>fe63d44e511cadeb872ff664e3425209849ad429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ksquares-17.04.1.tar.xz">ksquares-17.04.1</a></td>
   <td align="right">210kB</td>
   <td><tt>0444e835c8d684f1a6132eb28376bf595575dde4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kstars-17.04.1.tar.xz">kstars-17.04.1</a></td>
   <td align="right">58MB</td>
   <td><tt>10500d5bf69c19424f195c649bfb6474881df3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ksudoku-17.04.1.tar.xz">ksudoku-17.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2fca3c779b77a555aa7ce0d9b1cd6917b194c09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ksystemlog-17.04.1.tar.xz">ksystemlog-17.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7a33822df2eae7d99bebcb33d8b6266676328112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kteatime-17.04.1.tar.xz">kteatime-17.04.1</a></td>
   <td align="right">289kB</td>
   <td><tt>92b98cc4e5e689557cd4d995ad271efec651a0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktimer-17.04.1.tar.xz">ktimer-17.04.1</a></td>
   <td align="right">440kB</td>
   <td><tt>ab7b149e1c3eb84275bc613b844a9c3300932986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktnef-17.04.1.tar.xz">ktnef-17.04.1</a></td>
   <td align="right">293kB</td>
   <td><tt>6c4d76ccabaea51f5755834b210755b1cedd4848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktouch-17.04.1.tar.xz">ktouch-17.04.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>c41f0e22cdf739f132bac16cfc4f4fc1b2bdc580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-accounts-kcm-17.04.1.tar.xz">ktp-accounts-kcm-17.04.1</a></td>
   <td align="right">257kB</td>
   <td><tt>eafe16ca6aac3e6dd394810661030a8b224fc427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-approver-17.04.1.tar.xz">ktp-approver-17.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>4e481e078a78d4240c8b8d5f6c8307c7ce370282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-auth-handler-17.04.1.tar.xz">ktp-auth-handler-17.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>68b3ebe09b65d9432dc57147a7317702dde31c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-call-ui-17.04.1.tar.xz">ktp-call-ui-17.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>60ed25cd2f3f5c276512b8b479805ec831524c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-common-internals-17.04.1.tar.xz">ktp-common-internals-17.04.1</a></td>
   <td align="right">431kB</td>
   <td><tt>a316fb9bce525b64cc7b7beefbbe1d7fb92afbc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-contact-list-17.04.1.tar.xz">ktp-contact-list-17.04.1</a></td>
   <td align="right">129kB</td>
   <td><tt>b5f53cce3cf8e412a88a2198159b7a42c11ce2c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-contact-runner-17.04.1.tar.xz">ktp-contact-runner-17.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>6befaddf167729d6ea76a020ff26145408c54d42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-desktop-applets-17.04.1.tar.xz">ktp-desktop-applets-17.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>3e25587bf17e3ecc5a873991274ff360b6ddfd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-filetransfer-handler-17.04.1.tar.xz">ktp-filetransfer-handler-17.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>1276d4dab8610330c3e2136c82eba5e8bdb0d653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-kded-module-17.04.1.tar.xz">ktp-kded-module-17.04.1</a></td>
   <td align="right">79kB</td>
   <td><tt>b1606e25b01ea6c1cfc608796f0e0eb353849b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-send-file-17.04.1.tar.xz">ktp-send-file-17.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>cdc7336677fb369f547d95d6b2c228ab229bccb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktp-text-ui-17.04.1.tar.xz">ktp-text-ui-17.04.1</a></td>
   <td align="right">455kB</td>
   <td><tt>e727ca446c45cec765c434632131f1854f6e7d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/ktuberling-17.04.1.tar.xz">ktuberling-17.04.1</a></td>
   <td align="right">31MB</td>
   <td><tt>269db65a32b255fc527f32ed7fc0b3f0826e845a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kturtle-17.04.1.tar.xz">kturtle-17.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>661f72bff7624b7316a2eabdde5c1ae258362b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kubrick-17.04.1.tar.xz">kubrick-17.04.1</a></td>
   <td align="right">105kB</td>
   <td><tt>b270a3b07e607d6b808ebd4cd99b27afd6374e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kwalletmanager-17.04.1.tar.xz">kwalletmanager-17.04.1</a></td>
   <td align="right">728kB</td>
   <td><tt>0dac829d15ebc738d1195d0fce0c8d4b5b9cc132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kwave-17.04.1.tar.xz">kwave-17.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>84b20422430805532bae62cb74a8c56ed073f029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kwordquiz-17.04.1.tar.xz">kwordquiz-17.04.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>6827600844527689193cafa56b118f27fb69017a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libgravatar-17.04.1.tar.xz">libgravatar-17.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>fffdbebe05271e909b431f5604ba31afd57b3361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkcddb-17.04.1.tar.xz">libkcddb-17.04.1</a></td>
   <td align="right">415kB</td>
   <td><tt>c52453c0f5234afa5f1f88e665aa4fda26deb4e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkcompactdisc-17.04.1.tar.xz">libkcompactdisc-17.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>4d07369b961bd94dc847cd75f700259a6342c25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkdcraw-17.04.1.tar.xz">libkdcraw-17.04.1</a></td>
   <td align="right">41kB</td>
   <td><tt>d9853d0b5efa43defd8eab6f34569760680a7e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkdegames-17.04.1.tar.xz">libkdegames-17.04.1</a></td>
   <td align="right">5.6MB</td>
   <td><tt>84cf33da71110262b48f1fc6bf0d7ceee1104de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkdepim-17.04.1.tar.xz">libkdepim-17.04.1</a></td>
   <td align="right">333kB</td>
   <td><tt>9d749bc100622de5941e28bd7d0c7f8defc5fcb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkeduvocdocument-17.04.1.tar.xz">libkeduvocdocument-17.04.1</a></td>
   <td align="right">208kB</td>
   <td><tt>fba826b5240db21497cec31b04dd6277f0e6257f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkexiv2-17.04.1.tar.xz">libkexiv2-17.04.1</a></td>
   <td align="right">63kB</td>
   <td><tt>ff0bb52d9a5f807b8c1f181b08096045a45898d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkface-17.04.1.tar.xz">libkface-17.04.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>66fb3ecc54056a50621f96e44312e60a2683fd56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkgapi-17.04.1.tar.xz">libkgapi-17.04.1</a></td>
   <td align="right">171kB</td>
   <td><tt>eb3cb3c1db2c0d391bb19cb47c4f41392de9ee21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkgeomap-17.04.1.tar.xz">libkgeomap-17.04.1</a></td>
   <td align="right">146kB</td>
   <td><tt>2628a4c2088ab91dc4cb13dbb9cd8c298ed4432e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkipi-17.04.1.tar.xz">libkipi-17.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>696a01a228dccbbc0cc71232adbfb8a9f0055ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkleo-17.04.1.tar.xz">libkleo-17.04.1</a></td>
   <td align="right">284kB</td>
   <td><tt>3669f907682738bca0594f9c30e322d87eb4c688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkmahjongg-17.04.1.tar.xz">libkmahjongg-17.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>02a6fba1938d8211d3f0e5860bdccb763de6f8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libkomparediff2-17.04.1.tar.xz">libkomparediff2-17.04.1</a></td>
   <td align="right">175kB</td>
   <td><tt>2b99227618352f643d1b2b72f5d187ff6005560a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libksane-17.04.1.tar.xz">libksane-17.04.1</a></td>
   <td align="right">134kB</td>
   <td><tt>c3ca59a80502490d3445a43fb5ab9631876d0f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/libksieve-17.04.1.tar.xz">libksieve-17.04.1</a></td>
   <td align="right">513kB</td>
   <td><tt>4220f02572eb39ad57370c4d90e814e0aa3f79f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/lokalize-17.04.1.tar.xz">lokalize-17.04.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bc97cd877f1d82e56ef7e2c8cb1fdc8afc2690dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/lskat-17.04.1.tar.xz">lskat-17.04.1</a></td>
   <td align="right">906kB</td>
   <td><tt>031bf0e2444a70fe34dee4e46add44e347bdfefb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/mailcommon-17.04.1.tar.xz">mailcommon-17.04.1</a></td>
   <td align="right">644kB</td>
   <td><tt>cfac3523f08610049a61fcadbe0777cd86a499fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/mailimporter-17.04.1.tar.xz">mailimporter-17.04.1</a></td>
   <td align="right">526kB</td>
   <td><tt>42fdf9d4aaf8e70da3f2ca4dd3236da174fe6288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/marble-17.04.1.tar.xz">marble-17.04.1</a></td>
   <td align="right">49MB</td>
   <td><tt>d2939744f40db836b67cd944f1d1aa85d5c2c73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/mbox-importer-17.04.1.tar.xz">mbox-importer-17.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>9a41f079a29ca32ccdf6bd13ba3e9d8e94d00b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/messagelib-17.04.1.tar.xz">messagelib-17.04.1</a></td>
   <td align="right">10MB</td>
   <td><tt>d2cfd99025fdb601f797db1c757b5f0328e53bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/minuet-17.04.1.tar.xz">minuet-17.04.1</a></td>
   <td align="right">26MB</td>
   <td><tt>9c033c08060bcdd5f7900147fbc2bac71b1f4c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/okteta-17.04.1.tar.xz">okteta-17.04.1</a></td>
   <td align="right">937kB</td>
   <td><tt>9910edb7bc2bbd2291d92e23c382005920222ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/okular-17.04.1.tar.xz">okular-17.04.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a5fb82279a79149e91d71a623e9295ca421d2e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/palapeli-17.04.1.tar.xz">palapeli-17.04.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4b6dd1d897d412cbf88e3e18632c3a3985bde88a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/parley-17.04.1.tar.xz">parley-17.04.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>4520970b897d7f420da0eb73a08def1110ca46b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/picmi-17.04.1.tar.xz">picmi-17.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>02f0ccc26578a70ff009ad003430e46172b792de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/pimcommon-17.04.1.tar.xz">pimcommon-17.04.1</a></td>
   <td align="right">265kB</td>
   <td><tt>7538d1bffc41c603c35dd61a108306262e4c67e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/pim-data-exporter-17.04.1.tar.xz">pim-data-exporter-17.04.1</a></td>
   <td align="right">259kB</td>
   <td><tt>f28c0ec4cf0cbd1c866616183abbc82e867f31b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/pim-sieve-editor-17.04.1.tar.xz">pim-sieve-editor-17.04.1</a></td>
   <td align="right">428kB</td>
   <td><tt>1e02f46d56e37fe5b2a4ccd1b1cb95f5b903f5c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/poxml-17.04.1.tar.xz">poxml-17.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>ce504659b90d550c450aec80d5b5658f9858a618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/print-manager-17.04.1.tar.xz">print-manager-17.04.1</a></td>
   <td align="right">232kB</td>
   <td><tt>42119e8b4ad3344963a340f50b091e2462e226f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/rocs-17.04.1.tar.xz">rocs-17.04.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e5dee400eeff9ad79e6c3e25ab4433c125c7baf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/signon-kwallet-extension-17.04.1.tar.xz">signon-kwallet-extension-17.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>f9fb3b710649bd69c6a5a9057a89d6285ef1df0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/spectacle-17.04.1.tar.xz">spectacle-17.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2c6c3cc8025b724fa24051bcabae6e82f71c811a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/step-17.04.1.tar.xz">step-17.04.1</a></td>
   <td align="right">841kB</td>
   <td><tt>bb73ddb83f24aee2eea74b6fabbb4f3985000ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/svgpart-17.04.1.tar.xz">svgpart-17.04.1</a></td>
   <td align="right">18kB</td>
   <td><tt>143589641f47ce7e60db7be6c59d513aeb22a2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/sweeper-17.04.1.tar.xz">sweeper-17.04.1</a></td>
   <td align="right">80kB</td>
   <td><tt>f803a23deeb6db32530c8e45d75863f1997975c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/syndication-17.04.1.tar.xz">syndication-17.04.1</a></td>
   <td align="right">156kB</td>
   <td><tt>941f46d7c978a3805332f60ba66b76b82faa0abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/umbrello-17.04.1.tar.xz">umbrello-17.04.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4ed1e7faaebe0c7af98cb80b8af516f645a91d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/zeroconf-ioslave-17.04.1.tar.xz">zeroconf-ioslave-17.04.1</a></td>
   <td align="right">25kB</td>
   <td><tt>20f5e92d59a016ff5b02c0bbcc5e3910a55b49ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ar-17.04.1.tar.xz">kde-l10n-ar-17.04.1</a></td>
   <td align="right">630kB</td>
   <td><tt>66d33bf133dc7a76c034997b6b5e6284a527a7ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ast-17.04.1.tar.xz">kde-l10n-ast-17.04.1</a></td>
   <td align="right">461kB</td>
   <td><tt>6d0056f462a53ee488b035e29007ef602d702711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-bg-17.04.1.tar.xz">kde-l10n-bg-17.04.1</a></td>
   <td align="right">557kB</td>
   <td><tt>d214e89e3bab93b81d8ee0bf7b668598bf339023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-bs-17.04.1.tar.xz">kde-l10n-bs-17.04.1</a></td>
   <td align="right">678kB</td>
   <td><tt>ee22a14a405717a7f668fdff7eb4ff2cb160b607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ca-17.04.1.tar.xz">kde-l10n-ca-17.04.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>c668e61604ed64d94829cd476e4be89229b1bcbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ca@valencia-17.04.1.tar.xz">kde-l10n-ca@valencia-17.04.1</a></td>
   <td align="right">657kB</td>
   <td><tt>adbce6b84d47e268b680d0b5d1ed43c59f2f766c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-cs-17.04.1.tar.xz">kde-l10n-cs-17.04.1</a></td>
   <td align="right">626kB</td>
   <td><tt>76379b39e0ddf2e507ec7f33e81feabd2a1c569f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-da-17.04.1.tar.xz">kde-l10n-da-17.04.1</a></td>
   <td align="right">1009kB</td>
   <td><tt>beaaf2514dc1abde660c0054882236b3710540c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-de-17.04.1.tar.xz">kde-l10n-de-17.04.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>557fbfe887ecd6385edbe38baae97bde7186368b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-el-17.04.1.tar.xz">kde-l10n-el-17.04.1</a></td>
   <td align="right">841kB</td>
   <td><tt>3251f38211b8dc4bf8b64f8688c3c2c5a3d82bed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-en_GB-17.04.1.tar.xz">kde-l10n-en_GB-17.04.1</a></td>
   <td align="right">584kB</td>
   <td><tt>9f95c554e16246028c54e9dae2bdd76d380a0a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-eo-17.04.1.tar.xz">kde-l10n-eo-17.04.1</a></td>
   <td align="right">569kB</td>
   <td><tt>5aeccafb02d0ea6adb91b81df8a957ee99636290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-es-17.04.1.tar.xz">kde-l10n-es-17.04.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>b26c283b54245818d1cbd73f5b66a109a3bf4f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-et-17.04.1.tar.xz">kde-l10n-et-17.04.1</a></td>
   <td align="right">995kB</td>
   <td><tt>137037077146ac0f30594f0db23b78afbd8e6d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-eu-17.04.1.tar.xz">kde-l10n-eu-17.04.1</a></td>
   <td align="right">650kB</td>
   <td><tt>05bf8955755b0ea3ab011ad81dd868c1f5d94d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-fa-17.04.1.tar.xz">kde-l10n-fa-17.04.1</a></td>
   <td align="right">588kB</td>
   <td><tt>8fdb0d91ea959885cf4330e70ab60232e36cff13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-fi-17.04.1.tar.xz">kde-l10n-fi-17.04.1</a></td>
   <td align="right">713kB</td>
   <td><tt>5ab4e86ef46f55825eed8bb88fb04bbae64c03d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-fr-17.04.1.tar.xz">kde-l10n-fr-17.04.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>c37a3aaa64c99333b50cf93c74ca212919f5b09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ga-17.04.1.tar.xz">kde-l10n-ga-17.04.1</a></td>
   <td align="right">617kB</td>
   <td><tt>b2f9ad7de7d74ef7a60bb559569b7e3f6ae8886e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-gl-17.04.1.tar.xz">kde-l10n-gl-17.04.1</a></td>
   <td align="right">809kB</td>
   <td><tt>ac7e34df90272cd7588266f58e1f6a80054cd287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-he-17.04.1.tar.xz">kde-l10n-he-17.04.1</a></td>
   <td align="right">492kB</td>
   <td><tt>4347eb49efdb3234dd7bcc5455e35d178acb73e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-hi-17.04.1.tar.xz">kde-l10n-hi-17.04.1</a></td>
   <td align="right">542kB</td>
   <td><tt>ca81138372a2ab4e5f2362323cef44e11105ad05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-hr-17.04.1.tar.xz">kde-l10n-hr-17.04.1</a></td>
   <td align="right">550kB</td>
   <td><tt>820eec1c7ebebca20c7a42d48ea3328610a0df6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-hu-17.04.1.tar.xz">kde-l10n-hu-17.04.1</a></td>
   <td align="right">706kB</td>
   <td><tt>5c86d826b280756ba47cca133fbb9e295c29ee4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ia-17.04.1.tar.xz">kde-l10n-ia-17.04.1</a></td>
   <td align="right">469kB</td>
   <td><tt>acbeb8d36811754f24751f9b82222cbb821d04bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-id-17.04.1.tar.xz">kde-l10n-id-17.04.1</a></td>
   <td align="right">184kB</td>
   <td><tt>09390a87c5c478bd95bbc6daab5306ae4aa02821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-is-17.04.1.tar.xz">kde-l10n-is-17.04.1</a></td>
   <td align="right">534kB</td>
   <td><tt>639df917a0b720cbd9971d0ff824b2178b95f8b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-it-17.04.1.tar.xz">kde-l10n-it-17.04.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>251efa18feac3106cadbb2b616ce456d0f774201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ja-17.04.1.tar.xz">kde-l10n-ja-17.04.1</a></td>
   <td align="right">605kB</td>
   <td><tt>21f0f3356a00965f09e185bf22d7d49fce6a7d6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-kk-17.04.1.tar.xz">kde-l10n-kk-17.04.1</a></td>
   <td align="right">700kB</td>
   <td><tt>faf6958613c9df1780fd9d96cb6d0326ee87e483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-km-17.04.1.tar.xz">kde-l10n-km-17.04.1</a></td>
   <td align="right">641kB</td>
   <td><tt>1e2922ea698b18ca2bbb4ded0da0ad513616c849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ko-17.04.1.tar.xz">kde-l10n-ko-17.04.1</a></td>
   <td align="right">533kB</td>
   <td><tt>35d8baca482115a05ebee94a7dfad3eee660b797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-lt-17.04.1.tar.xz">kde-l10n-lt-17.04.1</a></td>
   <td align="right">600kB</td>
   <td><tt>0ccfbce2711ee578176e05014896c2157ba46590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-lv-17.04.1.tar.xz">kde-l10n-lv-17.04.1</a></td>
   <td align="right">625kB</td>
   <td><tt>360f5fa34d68f2921b59faedc8cddcda1425809e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-mr-17.04.1.tar.xz">kde-l10n-mr-17.04.1</a></td>
   <td align="right">512kB</td>
   <td><tt>25535b64eee3b9c6167806bf1b5887a2704d5954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-nb-17.04.1.tar.xz">kde-l10n-nb-17.04.1</a></td>
   <td align="right">672kB</td>
   <td><tt>ee34ce2cef23fb9ed518e888a1ab00096ddfcc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-nds-17.04.1.tar.xz">kde-l10n-nds-17.04.1</a></td>
   <td align="right">733kB</td>
   <td><tt>b8ebf4469c5e805299bf3242b9a72e04818b8f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-nl-17.04.1.tar.xz">kde-l10n-nl-17.04.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>59597b1499989365cdac495cc8f34c90d00d3eb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-nn-17.04.1.tar.xz">kde-l10n-nn-17.04.1</a></td>
   <td align="right">619kB</td>
   <td><tt>5c25e58192d3fd8bda8b6a9afd3452dbebfa2c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-pa-17.04.1.tar.xz">kde-l10n-pa-17.04.1</a></td>
   <td align="right">505kB</td>
   <td><tt>8e8698c85ab2663f93e05e047591dd2c7f4060eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-pl-17.04.1.tar.xz">kde-l10n-pl-17.04.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5b68db1f8bc721d2d6a5d4a10df3435225479adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-pt-17.04.1.tar.xz">kde-l10n-pt-17.04.1</a></td>
   <td align="right">1016kB</td>
   <td><tt>14e275d0a6b18753c319e28f0f3738f43a82f740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-pt_BR-17.04.1.tar.xz">kde-l10n-pt_BR-17.04.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>13256f3dcb0745d8cd533288f175b73c97bb638d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ro-17.04.1.tar.xz">kde-l10n-ro-17.04.1</a></td>
   <td align="right">696kB</td>
   <td><tt>aceb2257327ca9b95c07411daf2da28ddda060b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ru-17.04.1.tar.xz">kde-l10n-ru-17.04.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>76071e9c996ab2db29a6ee31ee976fec67a371ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-sk-17.04.1.tar.xz">kde-l10n-sk-17.04.1</a></td>
   <td align="right">661kB</td>
   <td><tt>0fd31e89640917faec7a0e81fe1348026d8e9c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-sl-17.04.1.tar.xz">kde-l10n-sl-17.04.1</a></td>
   <td align="right">710kB</td>
   <td><tt>e695bde6a00165dfb1a42288504d9252d5de4f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-sr-17.04.1.tar.xz">kde-l10n-sr-17.04.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>3cc1481a29de67acd6b6f23fbce4d8dcde054192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-sv-17.04.1.tar.xz">kde-l10n-sv-17.04.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>16624d502769112b56b4d1d1c2a2e52f31c0ae82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-tr-17.04.1.tar.xz">kde-l10n-tr-17.04.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4d5905346848d2e67717a764e08cafbea369fde6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-ug-17.04.1.tar.xz">kde-l10n-ug-17.04.1</a></td>
   <td align="right">529kB</td>
   <td><tt>05443afb310ba68bbce664fdd940729f166ced7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-uk-17.04.1.tar.xz">kde-l10n-uk-17.04.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>eb62df1e1a17a394a966ed4a4fa1caeae26fd10c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-wa-17.04.1.tar.xz">kde-l10n-wa-17.04.1</a></td>
   <td align="right">403kB</td>
   <td><tt>da7811305d67216b3cee3dd6b8241920c63baf58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-zh_CN-17.04.1.tar.xz">kde-l10n-zh_CN-17.04.1</a></td>
   <td align="right">652kB</td>
   <td><tt>2e2b0a44f73a70ae40f151970cf344ebd90f824f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.1/src/kde-l10n/kde-l10n-zh_TW-17.04.1.tar.xz">kde-l10n-zh_TW-17.04.1</a></td>
   <td align="right">714kB</td>
   <td><tt>c98440f8dad13743170866860bd414fa83518643</tt></td>
</tr>

</table>
