<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-18.08.0.tar.xz">akonadi-18.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>49fa105a15bec7b40393e5644e262c2c9bd4e38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-calendar-18.08.0.tar.xz">akonadi-calendar-18.08.0</a></td>
   <td align="right">326kB</td>
   <td><tt>0a2749d23aa17c2467e8272262a2bbef8c85cbe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-calendar-tools-18.08.0.tar.xz">akonadi-calendar-tools-18.08.0</a></td>
   <td align="right">219kB</td>
   <td><tt>7f2153606aa3de6274c4a64e4492317291fc667a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadiconsole-18.08.0.tar.xz">akonadiconsole-18.08.0</a></td>
   <td align="right">187kB</td>
   <td><tt>90cf49633dbdfe339f7828ef882ae7a57c3fb0c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-contacts-18.08.0.tar.xz">akonadi-contacts-18.08.0</a></td>
   <td align="right">380kB</td>
   <td><tt>11b777bd751cee183d6891de75dbfce176fb8128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-import-wizard-18.08.0.tar.xz">akonadi-import-wizard-18.08.0</a></td>
   <td align="right">429kB</td>
   <td><tt>3378336d7562685de148458a4892867e4295c03e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-mime-18.08.0.tar.xz">akonadi-mime-18.08.0</a></td>
   <td align="right">133kB</td>
   <td><tt>9f9b0ce659e29494e29e42abb0d4358ae6954e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-notes-18.08.0.tar.xz">akonadi-notes-18.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>93f898d049f2f68f511af6de6fdf90da8b55ba5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akonadi-search-18.08.0.tar.xz">akonadi-search-18.08.0</a></td>
   <td align="right">80kB</td>
   <td><tt>e6f0929beafb28fa192a33e8f63c16353499a0b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/akregator-18.08.0.tar.xz">akregator-18.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9bae0861a9b8d741a95e41928f109079e2950844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/analitza-18.08.0.tar.xz">analitza-18.08.0</a></td>
   <td align="right">323kB</td>
   <td><tt>0a4e656e3269bf6af4376519c5c6272fa476fe91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ark-18.08.0.tar.xz">ark-18.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>90e2d23db78c8110c473a035b435871951fb2b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/artikulate-18.08.0.tar.xz">artikulate-18.08.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d96eee7ff3e881c9f7f7e551242936cc8d384bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/audiocd-kio-18.08.0.tar.xz">audiocd-kio-18.08.0</a></td>
   <td align="right">242kB</td>
   <td><tt>5b2eceebc4f33597a92704230b3b2a3958cf1910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/baloo-widgets-18.08.0.tar.xz">baloo-widgets-18.08.0</a></td>
   <td align="right">238kB</td>
   <td><tt>c54e250f96e146cbfa874fb6a6d2302aab216cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/blinken-18.08.0.tar.xz">blinken-18.08.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b932a2fa4dc4b40617688a0799977ec278afecdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/bomber-18.08.0.tar.xz">bomber-18.08.0</a></td>
   <td align="right">800kB</td>
   <td><tt>3d481bb032935c58a7bb088710ccde8e09646712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/bovo-18.08.0.tar.xz">bovo-18.08.0</a></td>
   <td align="right">194kB</td>
   <td><tt>ff26e06d0b1a6efd5fc0bbb3aa49c5cea49304ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/calendarsupport-18.08.0.tar.xz">calendarsupport-18.08.0</a></td>
   <td align="right">632kB</td>
   <td><tt>0b6527451bb7823ec32ab8948efbf53288c300aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/cantor-18.08.0.tar.xz">cantor-18.08.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ebe4a558737c1e70771665d239cc097352a39200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/cervisia-18.08.0.tar.xz">cervisia-18.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d0392767a684759a5c2e169451f6d7d2b268a2bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/dolphin-18.08.0.tar.xz">dolphin-18.08.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>b38d5e8ae0209cec9b198e5f832f9ad690461041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/dolphin-plugins-18.08.0.tar.xz">dolphin-plugins-18.08.0</a></td>
   <td align="right">188kB</td>
   <td><tt>ad39f557b4d30e07fac04c541ee7506545c4cd9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/dragon-18.08.0.tar.xz">dragon-18.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ec06ba4880d3a821b7ca2b317d4ec063782bc918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/eventviews-18.08.0.tar.xz">eventviews-18.08.0</a></td>
   <td align="right">431kB</td>
   <td><tt>4395a12a49837a22ea8be6504491cf285038f1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ffmpegthumbs-18.08.0.tar.xz">ffmpegthumbs-18.08.0</a></td>
   <td align="right">21kB</td>
   <td><tt>f1be4238f9737d23ec89a21366af01a5ff4d0fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/filelight-18.08.0.tar.xz">filelight-18.08.0</a></td>
   <td align="right">643kB</td>
   <td><tt>0716c83f3b451ccf699afdbf9d328d87b6e87937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/granatier-18.08.0.tar.xz">granatier-18.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e6d63c69d6494b72d2f600ec6e4f80b22021a8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/grantlee-editor-18.08.0.tar.xz">grantlee-editor-18.08.0</a></td>
   <td align="right">108kB</td>
   <td><tt>1f06a98824f1e4b84df850bdaa06d94688c48a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/grantleetheme-18.08.0.tar.xz">grantleetheme-18.08.0</a></td>
   <td align="right">50kB</td>
   <td><tt>73d89719e21282972bc875f58cbbcf9d9f53300f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/gwenview-18.08.0.tar.xz">gwenview-18.08.0</a></td>
   <td align="right">5.8MB</td>
   <td><tt>f5e9f63226d095532104b749cc2a385fdf81ff77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/incidenceeditor-18.08.0.tar.xz">incidenceeditor-18.08.0</a></td>
   <td align="right">510kB</td>
   <td><tt>16cf276a8aebaeaa0a907baa8c88d433e51c7b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/juk-18.08.0.tar.xz">juk-18.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8afb76abab9bc3dd3b80f2b8a695ccf8be0e2334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/k3b-18.08.0.tar.xz">k3b-18.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>910639c095dcf2373672d71de7377410eb06aed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kaccounts-integration-18.08.0.tar.xz">kaccounts-integration-18.08.0</a></td>
   <td align="right">69kB</td>
   <td><tt>56bfc2227e29e027ba30eaf839a5c4d6ef95c8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kaccounts-providers-18.08.0.tar.xz">kaccounts-providers-18.08.0</a></td>
   <td align="right">31kB</td>
   <td><tt>d9d78c181fbfc5627522140830e11651c700f97b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kaddressbook-18.08.0.tar.xz">kaddressbook-18.08.0</a></td>
   <td align="right">525kB</td>
   <td><tt>2f4880e8ecc25e6f800ab24ebad4a610e72160bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kajongg-18.08.0.tar.xz">kajongg-18.08.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b3451ad87537bfef9051e229f782e6bbd3b2ad51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kalarm-18.08.0.tar.xz">kalarm-18.08.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>220c9730d4ec0d7bc65a29ef53397f867e51535c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kalarmcal-18.08.0.tar.xz">kalarmcal-18.08.0</a></td>
   <td align="right">560kB</td>
   <td><tt>96d700d48584a24f0e3899c625d12f3bd47a89b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kalgebra-18.08.0.tar.xz">kalgebra-18.08.0</a></td>
   <td align="right">690kB</td>
   <td><tt>e5138972587e3dcec831acf8658e3eaf14c338ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kalzium-18.08.0.tar.xz">kalzium-18.08.0</a></td>
   <td align="right">23MB</td>
   <td><tt>1b86fbe5d5275b0e8f012429dda3d054d5e47614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kamera-18.08.0.tar.xz">kamera-18.08.0</a></td>
   <td align="right">95kB</td>
   <td><tt>cb42aa76523001d00bb3564ba45751306078eebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kamoso-18.08.0.tar.xz">kamoso-18.08.0</a></td>
   <td align="right">178kB</td>
   <td><tt>2a1ad0b4b529dc0cb3cf8d8a4a91f503a62165a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kanagram-18.08.0.tar.xz">kanagram-18.08.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>b3ef3e36979b34df390b1ecb7a435821639936e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kapman-18.08.0.tar.xz">kapman-18.08.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>407edd519c3d4ff4d7b17b0cf47b9609a689ff3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kapptemplate-18.08.0.tar.xz">kapptemplate-18.08.0</a></td>
   <td align="right">309kB</td>
   <td><tt>c5fce924651ff3496a6f0d8d63b92bbf2e8b19c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kate-18.08.0.tar.xz">kate-18.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a87d7511ba28f924130e0663795414cc5f3a049d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/katomic-18.08.0.tar.xz">katomic-18.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>221e98363c4d05cda86556b443d31b669cf4103c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kbackup-18.08.0.tar.xz">kbackup-18.08.0</a></td>
   <td align="right">342kB</td>
   <td><tt>5728702a2bc1342f1986d3ae6b5e4fd7b30f6d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kblackbox-18.08.0.tar.xz">kblackbox-18.08.0</a></td>
   <td align="right">434kB</td>
   <td><tt>1eeb39232950c59717a864d84ff289624b42d5c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kblocks-18.08.0.tar.xz">kblocks-18.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b8178a0e91db1167bedeb3b67e73d9e5af9efdc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kblog-18.08.0.tar.xz">kblog-18.08.0</a></td>
   <td align="right">71kB</td>
   <td><tt>218c8a2b654f099b7192e645ef5a5c8e0ff06c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kbounce-18.08.0.tar.xz">kbounce-18.08.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>738a87b9c9cc2ab2a4d290eab338c87e050acc8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kbreakout-18.08.0.tar.xz">kbreakout-18.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>55f6f85488fcc97086f0acd3370ab75c133a7b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kbruch-18.08.0.tar.xz">kbruch-18.08.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>e3d08c17eac8f7365c7096e1e5e9d8b32a65db48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcachegrind-18.08.0.tar.xz">kcachegrind-18.08.0</a></td>
   <td align="right">790kB</td>
   <td><tt>123e5bf603f8322f90ff1c8a153cd76d118587c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcalc-18.08.0.tar.xz">kcalc-18.08.0</a></td>
   <td align="right">353kB</td>
   <td><tt>b1334f97ec809ce6fdef1084716c2a5890b3b11b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcalcore-18.08.0.tar.xz">kcalcore-18.08.0</a></td>
   <td align="right">246kB</td>
   <td><tt>be9097f476f16f66553b8edf049b3db5e91331f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcalutils-18.08.0.tar.xz">kcalutils-18.08.0</a></td>
   <td align="right">317kB</td>
   <td><tt>26d84056840630d790060b74ac9ea125ae633035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcharselect-18.08.0.tar.xz">kcharselect-18.08.0</a></td>
   <td align="right">346kB</td>
   <td><tt>8c3f64f9969a7c8129e04d3f77491aab7e505db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcolorchooser-18.08.0.tar.xz">kcolorchooser-18.08.0</a></td>
   <td align="right">16kB</td>
   <td><tt>72b4e21598fdad5eb53750b7b9c5eb3eaf0d79dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcontacts-18.08.0.tar.xz">kcontacts-18.08.0</a></td>
   <td align="right">202kB</td>
   <td><tt>1d0fb4042ba861f8678bf9195022e0e6e87c73c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kcron-18.08.0.tar.xz">kcron-18.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>635bf4c0cce186c2517659e11014635bcc11d051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdav-18.08.0.tar.xz">kdav-18.08.0</a></td>
   <td align="right">48kB</td>
   <td><tt>bd14073ae616cc04b4f24ceba202c47147391992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdebugsettings-18.08.0.tar.xz">kdebugsettings-18.08.0</a></td>
   <td align="right">51kB</td>
   <td><tt>2977f6bd4046035d8c907181b7f8e5e130d26617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kde-dev-scripts-18.08.0.tar.xz">kde-dev-scripts-18.08.0</a></td>
   <td align="right">368kB</td>
   <td><tt>11ea6800e44737852d16c54b0c050cd9904f5022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kde-dev-utils-18.08.0.tar.xz">kde-dev-utils-18.08.0</a></td>
   <td align="right">59kB</td>
   <td><tt>53f14c445891d6e178729b24639fd70e28eeb1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdeedu-data-18.08.0.tar.xz">kdeedu-data-18.08.0</a></td>
   <td align="right">320kB</td>
   <td><tt>20e787cb1043b36a01c2f5a47477fbbda7d2896d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdegraphics-mobipocket-18.08.0.tar.xz">kdegraphics-mobipocket-18.08.0</a></td>
   <td align="right">13kB</td>
   <td><tt>cc0fc7fea305e095d8393318f085a6193ae46a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdegraphics-thumbnailers-18.08.0.tar.xz">kdegraphics-thumbnailers-18.08.0</a></td>
   <td align="right">40kB</td>
   <td><tt>a041d356efe70474a49ac9927813b4f0b80552f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdenetwork-filesharing-18.08.0.tar.xz">kdenetwork-filesharing-18.08.0</a></td>
   <td align="right">305kB</td>
   <td><tt>4cc016ef036f6171519f62eebed54e3716f13298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdenlive-18.08.0.tar.xz">kdenlive-18.08.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>f0e0d13758df6a183e00df2637767f988d003e03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdepim-addons-18.08.0.tar.xz">kdepim-addons-18.08.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b93601a08fa9a39bb8d6848be9c6dd78d96da93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdepim-apps-libs-18.08.0.tar.xz">kdepim-apps-libs-18.08.0</a></td>
   <td align="right">70kB</td>
   <td><tt>d279ec4656b5a60eaf820898d38a5eabbdbedf40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdepim-runtime-18.08.0.tar.xz">kdepim-runtime-18.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d4bc41aefe91e9966b05c67252b36874e5d00b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdesdk-kioslaves-18.08.0.tar.xz">kdesdk-kioslaves-18.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>7096e055ffbeae865338b4904e44d4404717f54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdesdk-thumbnailers-18.08.0.tar.xz">kdesdk-thumbnailers-18.08.0</a></td>
   <td align="right">16kB</td>
   <td><tt>04953b72ddadebc887e56efbd6dfe996bce7ac01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdf-18.08.0.tar.xz">kdf-18.08.0</a></td>
   <td align="right">543kB</td>
   <td><tt>2c33ad1953cb5a6dee05f0ebb14fdbec69a263c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdialog-18.08.0.tar.xz">kdialog-18.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>c3ad837cff1bf1492939edcfab7f1d86e58e7470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kdiamond-18.08.0.tar.xz">kdiamond-18.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>2dd97a2f5ac4ebce15b0d700f7b2ee0290db7e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/keditbookmarks-18.08.0.tar.xz">keditbookmarks-18.08.0</a></td>
   <td align="right">179kB</td>
   <td><tt>c4305778678ddcd31c64927036b669c6b214cb53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kfind-18.08.0.tar.xz">kfind-18.08.0</a></td>
   <td align="right">205kB</td>
   <td><tt>668569a59f743c2315d713b36cee4ac48da74695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kfloppy-18.08.0.tar.xz">kfloppy-18.08.0</a></td>
   <td align="right">195kB</td>
   <td><tt>735265e0e08ea6ae65aa95abf9ce86a04efb61d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kfourinline-18.08.0.tar.xz">kfourinline-18.08.0</a></td>
   <td align="right">620kB</td>
   <td><tt>6872e9bae9192a1b2df971aa322d795d815396f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kgeography-18.08.0.tar.xz">kgeography-18.08.0</a></td>
   <td align="right">10MB</td>
   <td><tt>c41511004734eb3fee2219606d049f6ba580883e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kget-18.08.0.tar.xz">kget-18.08.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>00501885f3698993bbcd7a0637611ceae7f3f73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kgoldrunner-18.08.0.tar.xz">kgoldrunner-18.08.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7a1fa735b134a192bb2589ab4a1afd9015bfa1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kgpg-18.08.0.tar.xz">kgpg-18.08.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>bba7e1e2adc0a911a358e1ce80139f7035f62bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/khangman-18.08.0.tar.xz">khangman-18.08.0</a></td>
   <td align="right">6.9MB</td>
   <td><tt>0a123219b2771964d9a02c6ffa7ca222f6322870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/khelpcenter-18.08.0.tar.xz">khelpcenter-18.08.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>6e6e1d1aef914abdd683ef1e37b4ed54e1757977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kidentitymanagement-18.08.0.tar.xz">kidentitymanagement-18.08.0</a></td>
   <td align="right">144kB</td>
   <td><tt>9e1d17c2312a0085516154600d74055a651aaf01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kig-18.08.0.tar.xz">kig-18.08.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>bc51fcd504cc5953df02a1e3910de024b249c0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kigo-18.08.0.tar.xz">kigo-18.08.0</a></td>
   <td align="right">4.9MB</td>
   <td><tt>bd74cd18ca16c93ff2eda6c7f56b0af13d920339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/killbots-18.08.0.tar.xz">killbots-18.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0294adc842d9b015863f54dba3110bf872f6b2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kimagemapeditor-18.08.0.tar.xz">kimagemapeditor-18.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3b459a05ce8ca78f408855518e7dd6c13632d012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kimap-18.08.0.tar.xz">kimap-18.08.0</a></td>
   <td align="right">116kB</td>
   <td><tt>0bf2eca0ef816171b1a462b7794296a5d7a98431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kio-extras-18.08.0.tar.xz">kio-extras-18.08.0</a></td>
   <td align="right">534kB</td>
   <td><tt>a9902c95959dab51fd58141634c040056a272dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kiriki-18.08.0.tar.xz">kiriki-18.08.0</a></td>
   <td align="right">363kB</td>
   <td><tt>2a4054f395c8f9258113e48a1cf2795577047471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kiten-18.08.0.tar.xz">kiten-18.08.0</a></td>
   <td align="right">11MB</td>
   <td><tt>adc9cd899fdf9eff6a675fc5aabffff019810f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kitinerary-18.08.0.tar.xz">kitinerary-18.08.0</a></td>
   <td align="right">607kB</td>
   <td><tt>6b4ae81789e7283648c3c052e3c28681ba69407b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kjumpingcube-18.08.0.tar.xz">kjumpingcube-18.08.0</a></td>
   <td align="right">279kB</td>
   <td><tt>e65c9df7e03ea0b5d8f1eeb2164d8811b559930d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kldap-18.08.0.tar.xz">kldap-18.08.0</a></td>
   <td align="right">152kB</td>
   <td><tt>49fdf7de601fbf6eb73e1bce680a6e74d1eb333f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kleopatra-18.08.0.tar.xz">kleopatra-18.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a11525302e8da87ff1309a1885a92c05b46efc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/klettres-18.08.0.tar.xz">klettres-18.08.0</a></td>
   <td align="right">20MB</td>
   <td><tt>f80e59aec5b720a5f9f156c22ec401fe10605bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/klickety-18.08.0.tar.xz">klickety-18.08.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f793aa9aeb94ea56c79be5dbb05b69d89d9d113a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/klines-18.08.0.tar.xz">klines-18.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a01faab0a8268f453b6f1ae7bf409f4c7c6ed6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmag-18.08.0.tar.xz">kmag-18.08.0</a></td>
   <td align="right">613kB</td>
   <td><tt>6a507bc807c9df382685ddaaccf6f2b52f2e0be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmahjongg-18.08.0.tar.xz">kmahjongg-18.08.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>3fcbab9fb9ae42a9c00123a9c1ee5c7336d67dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmail-18.08.0.tar.xz">kmail-18.08.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>e6e426e2483ebf07970e8da15f89316701ff7070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmail-account-wizard-18.08.0.tar.xz">kmail-account-wizard-18.08.0</a></td>
   <td align="right">152kB</td>
   <td><tt>2ba8307889d67491cfda9e1046fe67724ae12f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmailtransport-18.08.0.tar.xz">kmailtransport-18.08.0</a></td>
   <td align="right">161kB</td>
   <td><tt>8b6051d89492df805577501a66e45d72db903cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmbox-18.08.0.tar.xz">kmbox-18.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>fe1a714fa99f11f15c5b78273c0e8b590aeca887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmime-18.08.0.tar.xz">kmime-18.08.0</a></td>
   <td align="right">143kB</td>
   <td><tt>c5407f7540921235b11ed873335a2f5a438d4002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmines-18.08.0.tar.xz">kmines-18.08.0</a></td>
   <td align="right">880kB</td>
   <td><tt>54cd703073fa4ab030a19b4baaa396d95a384983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmix-18.08.0.tar.xz">kmix-18.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>469a9bf2c3b0d136227490c6d5a0622003bea302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmousetool-18.08.0.tar.xz">kmousetool-18.08.0</a></td>
   <td align="right">110kB</td>
   <td><tt>cba1bab096ee0cc952ae19f7b51ba56187a22847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmouth-18.08.0.tar.xz">kmouth-18.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f22ce6350363c26f5220d7e0ccd8930b8985fcff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kmplot-18.08.0.tar.xz">kmplot-18.08.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d0a144b093e7798dffa0606765f940445f1b871b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/knavalbattle-18.08.0.tar.xz">knavalbattle-18.08.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>322b93857c8643872f4099ad56c496509739b14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/knetwalk-18.08.0.tar.xz">knetwalk-18.08.0</a></td>
   <td align="right">1012kB</td>
   <td><tt>c2353ab4afb1bfc064785aad5b9abf8d4ea87b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/knotes-18.08.0.tar.xz">knotes-18.08.0</a></td>
   <td align="right">330kB</td>
   <td><tt>cb59feebcb01131630e3fba739c2482bdef5e2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kolf-18.08.0.tar.xz">kolf-18.08.0</a></td>
   <td align="right">903kB</td>
   <td><tt>11912d4a4efcbf877bf69049d2d3efcff096bdf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kollision-18.08.0.tar.xz">kollision-18.08.0</a></td>
   <td align="right">273kB</td>
   <td><tt>157e8e3ae6016218755b34fea00801b46931a0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kolourpaint-18.08.0.tar.xz">kolourpaint-18.08.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>437d5cd56fcd627fe76014696caef24ca81e2089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kompare-18.08.0.tar.xz">kompare-18.08.0</a></td>
   <td align="right">783kB</td>
   <td><tt>58a49e02233ae326b1e30da9fac816a341f5764b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/konqueror-18.08.0.tar.xz">konqueror-18.08.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>97c6bd44879220c50ae17409900b6a824cdbf2bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/konquest-18.08.0.tar.xz">konquest-18.08.0</a></td>
   <td align="right">643kB</td>
   <td><tt>9be9392cc410ccb39fdc58b4f2d554711bc92373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/konsole-18.08.0.tar.xz">konsole-18.08.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>10defe64520ec8d0b80b56407474e94420fb1228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kontact-18.08.0.tar.xz">kontact-18.08.0</a></td>
   <td align="right">844kB</td>
   <td><tt>0c318da4915a9cbd900113657d61a7a0abff323e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kontactinterface-18.08.0.tar.xz">kontactinterface-18.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>14371be3dbb2bf9b7335e53796ace08a11088cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kopete-18.08.0.tar.xz">kopete-18.08.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>626b7c813e7a641521265fa0e8fe502e550b1e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/korganizer-18.08.0.tar.xz">korganizer-18.08.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5e5b61dff1c026a5972efc6fe111ab97dc404b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kpat-18.08.0.tar.xz">kpat-18.08.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e53dfbf755202a278aac2c740db40a8bf14d313f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kpimtextedit-18.08.0.tar.xz">kpimtextedit-18.08.0</a></td>
   <td align="right">139kB</td>
   <td><tt>322119e3ba9c6cd4be8b04eb12baa4d7c3456574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kpkpass-18.08.0.tar.xz">kpkpass-18.08.0</a></td>
   <td align="right">22kB</td>
   <td><tt>cc803818cf9d25f9841324191cdafea73b8e9acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kqtquickcharts-18.08.0.tar.xz">kqtquickcharts-18.08.0</a></td>
   <td align="right">25kB</td>
   <td><tt>39109dd0f693cb39b26a76dc5536942465b37fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/krdc-18.08.0.tar.xz">krdc-18.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b8f3defb55bfa71fdb60ee5ec4502801a1a1bb0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kreversi-18.08.0.tar.xz">kreversi-18.08.0</a></td>
   <td align="right">921kB</td>
   <td><tt>cf4f859236ca5543db7ab78b22cf15428ed50e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/krfb-18.08.0.tar.xz">krfb-18.08.0</a></td>
   <td align="right">971kB</td>
   <td><tt>c5785962fc992fe26176b7b27aed5696ef6bdc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kross-interpreters-18.08.0.tar.xz">kross-interpreters-18.08.0</a></td>
   <td align="right">141kB</td>
   <td><tt>2581bd80fd5b6f69419f0cdcbb86efb1afae6763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kruler-18.08.0.tar.xz">kruler-18.08.0</a></td>
   <td align="right">289kB</td>
   <td><tt>d62b885082708ac92833d5b2ca47e8761bfa3c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kshisen-18.08.0.tar.xz">kshisen-18.08.0</a></td>
   <td align="right">801kB</td>
   <td><tt>30e3ac1bd6cabad93bc2f7b811b1577d676ae257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ksirk-18.08.0.tar.xz">ksirk-18.08.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>a466ec18c0fa82e9209374a9666b1c65f80a1531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ksmtp-18.08.0.tar.xz">ksmtp-18.08.0</a></td>
   <td align="right">37kB</td>
   <td><tt>fe3330bafe20a7c5ce575970a12d4e60ac83047c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ksnakeduel-18.08.0.tar.xz">ksnakeduel-18.08.0</a></td>
   <td align="right">591kB</td>
   <td><tt>21c5c5d1870217f8fabb72b56f76de7032034e02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kspaceduel-18.08.0.tar.xz">kspaceduel-18.08.0</a></td>
   <td align="right">596kB</td>
   <td><tt>053aca8ba56608c7a4baee35aee6416d00eb1820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ksquares-18.08.0.tar.xz">ksquares-18.08.0</a></td>
   <td align="right">252kB</td>
   <td><tt>7d4cae2796f643d19d22bc5a06417c5552e9e5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ksudoku-18.08.0.tar.xz">ksudoku-18.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b3e6aa9054fbc1f13d5f50b561e31bcaa54f855f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ksystemlog-18.08.0.tar.xz">ksystemlog-18.08.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>38edaa4901394667062b774772ea2498f8308c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kteatime-18.08.0.tar.xz">kteatime-18.08.0</a></td>
   <td align="right">291kB</td>
   <td><tt>3115e0b5a6febc6422dcecedcbd9c0effb714c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktimer-18.08.0.tar.xz">ktimer-18.08.0</a></td>
   <td align="right">445kB</td>
   <td><tt>e9b3553c8cf4a60e4222c44cf15e507e74ecc0c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktnef-18.08.0.tar.xz">ktnef-18.08.0</a></td>
   <td align="right">293kB</td>
   <td><tt>ff0ea8f5a57f0387dff0a1eefb0d5aea76221866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktouch-18.08.0.tar.xz">ktouch-18.08.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>31ac00d22c4a2eee2968c1fb72655e0a1a8c71ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-accounts-kcm-18.08.0.tar.xz">ktp-accounts-kcm-18.08.0</a></td>
   <td align="right">257kB</td>
   <td><tt>b1807f54470bb1ca93d8751c859b1a77bbe171cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-approver-18.08.0.tar.xz">ktp-approver-18.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>1a7d048afda2aaad30d96ffedcf20b1892a6165f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-auth-handler-18.08.0.tar.xz">ktp-auth-handler-18.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>809aff14e403ea097412fd1196532decd67e1155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-call-ui-18.08.0.tar.xz">ktp-call-ui-18.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>fff3c518104d7a4fccad51e4d9b5e5b4acb4702e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-common-internals-18.08.0.tar.xz">ktp-common-internals-18.08.0</a></td>
   <td align="right">433kB</td>
   <td><tt>2a1f4a5385513ebc76886113e7eabbd747ba776b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-contact-list-18.08.0.tar.xz">ktp-contact-list-18.08.0</a></td>
   <td align="right">143kB</td>
   <td><tt>62d1c996c6298b1cfec6355cbb018157eb0261ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-contact-runner-18.08.0.tar.xz">ktp-contact-runner-18.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>7f310cdad64c26abfb8e81881ae77465a01ea922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-desktop-applets-18.08.0.tar.xz">ktp-desktop-applets-18.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>3a25fb992db22c2c960483ff0bdddd844b436868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-filetransfer-handler-18.08.0.tar.xz">ktp-filetransfer-handler-18.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>509eb3310cc1362aac1b08b222149bbe44d71567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-kded-module-18.08.0.tar.xz">ktp-kded-module-18.08.0</a></td>
   <td align="right">92kB</td>
   <td><tt>f45ba6db0e973fcf57c76f6c64468690e0b9a0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-send-file-18.08.0.tar.xz">ktp-send-file-18.08.0</a></td>
   <td align="right">28kB</td>
   <td><tt>606d8208216f23f6deb9afdf10e8b7a53fcf7e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktp-text-ui-18.08.0.tar.xz">ktp-text-ui-18.08.0</a></td>
   <td align="right">458kB</td>
   <td><tt>cac7596ccd1c54b3744f0a0dc64c6ac4a7510747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/ktuberling-18.08.0.tar.xz">ktuberling-18.08.0</a></td>
   <td align="right">31MB</td>
   <td><tt>d75bfa33daaa27664d932610145ddd3af7c741a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kturtle-18.08.0.tar.xz">kturtle-18.08.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c8069e9231f99d59bf658b3b756e16775cd14283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kubrick-18.08.0.tar.xz">kubrick-18.08.0</a></td>
   <td align="right">301kB</td>
   <td><tt>16a6fd6df64a98124c49fee739c6a00689416fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kwalletmanager-18.08.0.tar.xz">kwalletmanager-18.08.0</a></td>
   <td align="right">768kB</td>
   <td><tt>c898d7f82a6e4615dee8afa5c19e923078cde862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kwave-18.08.0.tar.xz">kwave-18.08.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>26aa09c28cd497662985161d34dfe8515fe834a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/kwordquiz-18.08.0.tar.xz">kwordquiz-18.08.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>17241683b9e2552d6f39f5e06c56b0a9b49c5ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libgravatar-18.08.0.tar.xz">libgravatar-18.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>a25fd6a798b4073359f91ead1fec6c8c24c4b406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkcddb-18.08.0.tar.xz">libkcddb-18.08.0</a></td>
   <td align="right">416kB</td>
   <td><tt>f4f5e672bb618ba4dab59f9bd7768dfb6d654189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkcompactdisc-18.08.0.tar.xz">libkcompactdisc-18.08.0</a></td>
   <td align="right">86kB</td>
   <td><tt>8a2b83121eba331eab936d74136def1909858b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkdcraw-18.08.0.tar.xz">libkdcraw-18.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>b2c81e76cf36925295a1e1993758a98ced454534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkdegames-18.08.0.tar.xz">libkdegames-18.08.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>70c1086578486c93c8434dfbd8c1396a89940105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkdepim-18.08.0.tar.xz">libkdepim-18.08.0</a></td>
   <td align="right">328kB</td>
   <td><tt>cd80444948cec5ad9654aa11436c861461cf2bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkeduvocdocument-18.08.0.tar.xz">libkeduvocdocument-18.08.0</a></td>
   <td align="right">201kB</td>
   <td><tt>4a9f22b9f05d861459ca6999b3981e5fb572c2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkexiv2-18.08.0.tar.xz">libkexiv2-18.08.0</a></td>
   <td align="right">62kB</td>
   <td><tt>343dee1b9d8a57902e8e34a24b434b079aaab493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkgapi-18.08.0.tar.xz">libkgapi-18.08.0</a></td>
   <td align="right">210kB</td>
   <td><tt>1e0e8d4ba893fb353f2d5baa4b195711fa97d52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkgeomap-18.08.0.tar.xz">libkgeomap-18.08.0</a></td>
   <td align="right">147kB</td>
   <td><tt>cc4fc81ed247fa0fa9bdd0c05eb66d2c4e76af59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkipi-18.08.0.tar.xz">libkipi-18.08.0</a></td>
   <td align="right">101kB</td>
   <td><tt>47da1473b9ffc7e8e3ad316fbb8eb6d143e5a2bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkleo-18.08.0.tar.xz">libkleo-18.08.0</a></td>
   <td align="right">328kB</td>
   <td><tt>9cb52f86be6fb627153bd178fa1f1591ce72a97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkmahjongg-18.08.0.tar.xz">libkmahjongg-18.08.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>69479144017f620449a1abc95351b5db562c9500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libkomparediff2-18.08.0.tar.xz">libkomparediff2-18.08.0</a></td>
   <td align="right">169kB</td>
   <td><tt>e737a0512dd211f7e593ff5df3aacc6c6349ce12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libksane-18.08.0.tar.xz">libksane-18.08.0</a></td>
   <td align="right">134kB</td>
   <td><tt>f3cedeff8d110ac98792b57f764812a0a5f59174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/libksieve-18.08.0.tar.xz">libksieve-18.08.0</a></td>
   <td align="right">537kB</td>
   <td><tt>32b3063ed404258d04be8017bdccd2509df7e0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/lokalize-18.08.0.tar.xz">lokalize-18.08.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2642e866afdae9d8c32c832d61390eefee5ff3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/lskat-18.08.0.tar.xz">lskat-18.08.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>60250dead681590b575422c17d50af4fe057d33d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/mailcommon-18.08.0.tar.xz">mailcommon-18.08.0</a></td>
   <td align="right">675kB</td>
   <td><tt>ce4b44a2659501180fdd63a10442f27c6715133f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/mailimporter-18.08.0.tar.xz">mailimporter-18.08.0</a></td>
   <td align="right">528kB</td>
   <td><tt>073bb65eda6aa34e6b686955e155c982261c446c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/marble-18.08.0.tar.xz">marble-18.08.0</a></td>
   <td align="right">49MB</td>
   <td><tt>82d61134521f916f783cc90c0f3ca7e52d005e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/mbox-importer-18.08.0.tar.xz">mbox-importer-18.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>bef07943fb0aedb8bd15decc739c7850e7fe5826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/messagelib-18.08.0.tar.xz">messagelib-18.08.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>a3d9723db50109f224f2afe399bb1e0c457ecf52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/minuet-18.08.0.tar.xz">minuet-18.08.0</a></td>
   <td align="right">26MB</td>
   <td><tt>a69bd88d3b858dda1fa739fd34f394ee35d51539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/okular-18.08.0.tar.xz">okular-18.08.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>cf881622fed617777b13eb3aff4f0bc7851ade73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/palapeli-18.08.0.tar.xz">palapeli-18.08.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c7c69c26c894bae6c0fbfbc347422c28e21c96c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/parley-18.08.0.tar.xz">parley-18.08.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>756646c4180472bb06d0e4d82b03f08bc6b3b473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/picmi-18.08.0.tar.xz">picmi-18.08.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1a011927da87567b313adc32a3feed16a6e29c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/pimcommon-18.08.0.tar.xz">pimcommon-18.08.0</a></td>
   <td align="right">286kB</td>
   <td><tt>9a42ed6ddbc80a4b3fe618469540e82cf0be69cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/pim-data-exporter-18.08.0.tar.xz">pim-data-exporter-18.08.0</a></td>
   <td align="right">263kB</td>
   <td><tt>28b2b64d78c202a9ecc67ddc4be980d289e1193b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/pim-sieve-editor-18.08.0.tar.xz">pim-sieve-editor-18.08.0</a></td>
   <td align="right">437kB</td>
   <td><tt>25750a4457e23f4e3c578d000a2577271437376b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/poxml-18.08.0.tar.xz">poxml-18.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>79b89899fd7c13a579762cef6a59f64e884118a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/print-manager-18.08.0.tar.xz">print-manager-18.08.0</a></td>
   <td align="right">233kB</td>
   <td><tt>61f64258ddded6e79a6fdd888eae32ce423e87d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/rocs-18.08.0.tar.xz">rocs-18.08.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>605a754670b92d8031b75d1e27bd7bffbf8cfefa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/signon-kwallet-extension-18.08.0.tar.xz">signon-kwallet-extension-18.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>a7a7cd80db247c9e645ece4ac4141a15fb15a68e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/spectacle-18.08.0.tar.xz">spectacle-18.08.0</a></td>
   <td align="right">1022kB</td>
   <td><tt>af12116b810b7211fd64918493aa912a05ddca0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/step-18.08.0.tar.xz">step-18.08.0</a></td>
   <td align="right">839kB</td>
   <td><tt>4d66a8c6644e44ff0234ad76a62a4e64a4851384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/svgpart-18.08.0.tar.xz">svgpart-18.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>eaf8e92d3a8185ac3188ed3d7b856ea26e670d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/sweeper-18.08.0.tar.xz">sweeper-18.08.0</a></td>
   <td align="right">359kB</td>
   <td><tt>787c97988d85e784f2178d2576aef067d26ce3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/syndication-18.08.0.tar.xz">syndication-18.08.0</a></td>
   <td align="right">155kB</td>
   <td><tt>cee586a2efbbf60d6d69b00072186831f32f80f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/umbrello-18.08.0.tar.xz">umbrello-18.08.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2a406f4c5d52e47cfbff8478bbdc0659eb3194ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.0/src/zeroconf-ioslave-18.08.0.tar.xz">zeroconf-ioslave-18.08.0</a></td>
   <td align="right">38kB</td>
   <td><tt>a4d8ee8694ed5b5a3f4e466be1ab7b6206d4781e</tt></td>
</tr>

</table>
