<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-20.04.3.tar.xz">akonadi-20.04.3</a></td>
   <td align="right">1547 kB</td>
   <td><tt>1f8d9193b2fa586225b96e642b548a8793d0a117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-calendar-20.04.3.tar.xz">akonadi-calendar-20.04.3</a></td>
   <td align="right">323 kB</td>
   <td><tt>ce6c66ea7aa40e8c7cce56a564bd6972918a1b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-calendar-tools-20.04.3.tar.xz">akonadi-calendar-tools-20.04.3</a></td>
   <td align="right">219 kB</td>
   <td><tt>0679b81c18256ff4cc6e8d476a3bdb3d89b9050c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadiconsole-20.04.3.tar.xz">akonadiconsole-20.04.3</a></td>
   <td align="right">189 kB</td>
   <td><tt>cf4b59715b07b885f805b625f9f4f5de7081993b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-contacts-20.04.3.tar.xz">akonadi-contacts-20.04.3</a></td>
   <td align="right">384 kB</td>
   <td><tt>d971045847ccac8c03047b6e04865947afab3d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-import-wizard-20.04.3.tar.xz">akonadi-import-wizard-20.04.3</a></td>
   <td align="right">428 kB</td>
   <td><tt>e9d6de70be0c2a3123788ecb7f29546a4145ca58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-mime-20.04.3.tar.xz">akonadi-mime-20.04.3</a></td>
   <td align="right">129 kB</td>
   <td><tt>58168c02ac71942bf7fbb64626dd40a55c2b34ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-notes-20.04.3.tar.xz">akonadi-notes-20.04.3</a></td>
   <td align="right">24 kB</td>
   <td><tt>a888ddd2c571719c4192054c1d925453ccd36d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akonadi-search-20.04.3.tar.xz">akonadi-search-20.04.3</a></td>
   <td align="right">81 kB</td>
   <td><tt>1ade1a9923a68927056df655e014b3578c9195f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/akregator-20.04.3.tar.xz">akregator-20.04.3</a></td>
   <td align="right">2144 kB</td>
   <td><tt>69472f3239ac0fed81f452a3144d96875a1a6639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/analitza-20.04.3.tar.xz">analitza-20.04.3</a></td>
   <td align="right">325 kB</td>
   <td><tt>dc8e3816d7779e98a91c8d11076bf32296ec9e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ark-20.04.3.tar.xz">ark-20.04.3</a></td>
   <td align="right">2525 kB</td>
   <td><tt>04c604a6d392318aeddc3703bb6f9a44315b9e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/artikulate-20.04.3.tar.xz">artikulate-20.04.3</a></td>
   <td align="right">1054 kB</td>
   <td><tt>5522681f931fd083b01d85bf382a9ea2bc28a01c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/audiocd-kio-20.04.3.tar.xz">audiocd-kio-20.04.3</a></td>
   <td align="right">477 kB</td>
   <td><tt>2c5693b3dc45deb5085ff564134d1b9bd1ec4fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/baloo-widgets-20.04.3.tar.xz">baloo-widgets-20.04.3</a></td>
   <td align="right">255 kB</td>
   <td><tt>2038c436aa70739ec920bfcb04338ab817182077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/blinken-20.04.3.tar.xz">blinken-20.04.3</a></td>
   <td align="right">2756 kB</td>
   <td><tt>228cef304bda1f92c1fb76137823c82d9203fc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/bomber-20.04.3.tar.xz">bomber-20.04.3</a></td>
   <td align="right">801 kB</td>
   <td><tt>cf1504322f951955ed7e06e4425d8927914ae5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/bovo-20.04.3.tar.xz">bovo-20.04.3</a></td>
   <td align="right">195 kB</td>
   <td><tt>c83c58ea7350c56522e38568ac7d5cc866f99c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/calendarsupport-20.04.3.tar.xz">calendarsupport-20.04.3</a></td>
   <td align="right">636 kB</td>
   <td><tt>28a81fb6df9fda9a784d22fda95b1e0ba8216343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/cantor-20.04.3.tar.xz">cantor-20.04.3</a></td>
   <td align="right">8817 kB</td>
   <td><tt>66ebd8a319b83455011fca81846a0efb9adbcfa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/cervisia-20.04.3.tar.xz">cervisia-20.04.3</a></td>
   <td align="right">1838 kB</td>
   <td><tt>42cefb801300448e7596c5bf5686d274a924dbc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/dolphin-20.04.3.tar.xz">dolphin-20.04.3</a></td>
   <td align="right">4686 kB</td>
   <td><tt>57bbf999e12bbe9601e9d4f2ed121550f7033ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/dolphin-plugins-20.04.3.tar.xz">dolphin-plugins-20.04.3</a></td>
   <td align="right">208 kB</td>
   <td><tt>093002c56a3f2416c19114b2fc5af18742841784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/dragon-20.04.3.tar.xz">dragon-20.04.3</a></td>
   <td align="right">1319 kB</td>
   <td><tt>c013bab7b5e9f59140140ae30e18c56343404830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/elisa-20.04.3.tar.xz">elisa-20.04.3</a></td>
   <td align="right">1376 kB</td>
   <td><tt>dbe6f623d5befeede5cc9065de9d840d58393272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/eventviews-20.04.3.tar.xz">eventviews-20.04.3</a></td>
   <td align="right">433 kB</td>
   <td><tt>bfb6b0f335a58e6bb4d6faaa4083704cd72bc21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ffmpegthumbs-20.04.3.tar.xz">ffmpegthumbs-20.04.3</a></td>
   <td align="right">26 kB</td>
   <td><tt>676fb8aebe49a71419fd8106f9f8a33e14ccaf20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/filelight-20.04.3.tar.xz">filelight-20.04.3</a></td>
   <td align="right">646 kB</td>
   <td><tt>044cbe8a48f9ed7719d3d01e37a28844502a9104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/granatier-20.04.3.tar.xz">granatier-20.04.3</a></td>
   <td align="right">1898 kB</td>
   <td><tt>10bfd16fc502abfa1d1a5eb67d4a0476615fe63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/grantlee-editor-20.04.3.tar.xz">grantlee-editor-20.04.3</a></td>
   <td align="right">108 kB</td>
   <td><tt>fc03bca5ce34d9212c547075d334ea430d63955f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/grantleetheme-20.04.3.tar.xz">grantleetheme-20.04.3</a></td>
   <td align="right">53 kB</td>
   <td><tt>e52d439ad4b64cfcf3ba94f6db85d40100dba1c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/gwenview-20.04.3.tar.xz">gwenview-20.04.3</a></td>
   <td align="right">5497 kB</td>
   <td><tt>95799bea003d7947c9d0a1cf1ef64288a0bfb88c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/incidenceeditor-20.04.3.tar.xz">incidenceeditor-20.04.3</a></td>
   <td align="right">537 kB</td>
   <td><tt>ac94c2227f026fcad87c9fd294838c30a2ea6cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/juk-20.04.3.tar.xz">juk-20.04.3</a></td>
   <td align="right">1825 kB</td>
   <td><tt>9b8c944d9eac4a65c6a1f8c18e028c17eb473a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/k3b-20.04.3.tar.xz">k3b-20.04.3</a></td>
   <td align="right">10263 kB</td>
   <td><tt>29f63b8c5412fbbc39a8f56b12fc99ae5d8bb475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kaccounts-integration-20.04.3.tar.xz">kaccounts-integration-20.04.3</a></td>
   <td align="right">64 kB</td>
   <td><tt>8e99822eec1adec1e0ccf74bc2ba1998f1e957c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kaccounts-providers-20.04.3.tar.xz">kaccounts-providers-20.04.3</a></td>
   <td align="right">34 kB</td>
   <td><tt>6eb1ab30971ca2ce7f53d8a3ec5c6665d50ac353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kaddressbook-20.04.3.tar.xz">kaddressbook-20.04.3</a></td>
   <td align="right">2370 kB</td>
   <td><tt>8825482d07de5acc27d9904801b8eb9f6583e744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kajongg-20.04.3.tar.xz">kajongg-20.04.3</a></td>
   <td align="right">4363 kB</td>
   <td><tt>15b4786859ed9e0994e067655dcfdcd51379eacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kalarm-20.04.3.tar.xz">kalarm-20.04.3</a></td>
   <td align="right">1794 kB</td>
   <td><tt>f695a60fbdfb44b0f999ba3f95a9032ad48cb3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kalarmcal-20.04.3.tar.xz">kalarmcal-20.04.3</a></td>
   <td align="right">560 kB</td>
   <td><tt>117474062e7d87c9740464b811b8fc9c27db697b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kalgebra-20.04.3.tar.xz">kalgebra-20.04.3</a></td>
   <td align="right">1131 kB</td>
   <td><tt>49ed386c3a29e681fb58bd656aaa615d624042ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kalzium-20.04.3.tar.xz">kalzium-20.04.3</a></td>
   <td align="right">23975 kB</td>
   <td><tt>fe60c0c4716e494633ae6e0cd5b738197e4021f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kamera-20.04.3.tar.xz">kamera-20.04.3</a></td>
   <td align="right">101 kB</td>
   <td><tt>c5a7bcba910e445c275d50e019e93d66c33a5063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kamoso-20.04.3.tar.xz">kamoso-20.04.3</a></td>
   <td align="right">198 kB</td>
   <td><tt>ba26e7d5764a84a6b06c718a872c53b77455cedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kanagram-20.04.3.tar.xz">kanagram-20.04.3</a></td>
   <td align="right">7836 kB</td>
   <td><tt>6a28ad4e04e64813f2550520e009ab778f148547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kapman-20.04.3.tar.xz">kapman-20.04.3</a></td>
   <td align="right">2467 kB</td>
   <td><tt>cdfb12af7f7d0415648b11dc669b2988835bf403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kapptemplate-20.04.3.tar.xz">kapptemplate-20.04.3</a></td>
   <td align="right">317 kB</td>
   <td><tt>0f163d1d972d2c46c14894095b1afb1adafd5d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kate-20.04.3.tar.xz">kate-20.04.3</a></td>
   <td align="right">5677 kB</td>
   <td><tt>677edc0c968f61b2870b0cc1f24e8b9d5d5499a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/katomic-20.04.3.tar.xz">katomic-20.04.3</a></td>
   <td align="right">1390 kB</td>
   <td><tt>1da0be866adfc02d5fa2c5b8ddfb3af51c934a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kbackup-20.04.3.tar.xz">kbackup-20.04.3</a></td>
   <td align="right">352 kB</td>
   <td><tt>28f5fbe0455ceb69dc59c2f134f44cd816a60198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kblackbox-20.04.3.tar.xz">kblackbox-20.04.3</a></td>
   <td align="right">436 kB</td>
   <td><tt>be25adf9935b381ab051cdb6fa5f6482a372646f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kblocks-20.04.3.tar.xz">kblocks-20.04.3</a></td>
   <td align="right">1861 kB</td>
   <td><tt>eefa3886df5acdbcf2938e869b15f583644e3938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kblog-20.04.3.tar.xz">kblog-20.04.3</a></td>
   <td align="right">71 kB</td>
   <td><tt>5969be2633573fdcdfe91ac55aca0c377fac5b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kbounce-20.04.3.tar.xz">kbounce-20.04.3</a></td>
   <td align="right">3386 kB</td>
   <td><tt>57bedab0970a41f785c1124279ab116429af8cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kbreakout-20.04.3.tar.xz">kbreakout-20.04.3</a></td>
   <td align="right">2226 kB</td>
   <td><tt>4c4a07a4efaad79d92e812643739832c5dfea072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kbruch-20.04.3.tar.xz">kbruch-20.04.3</a></td>
   <td align="right">5475 kB</td>
   <td><tt>bd7774b4440272d133a572db6a386ea5585412f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kcachegrind-20.04.3.tar.xz">kcachegrind-20.04.3</a></td>
   <td align="right">791 kB</td>
   <td><tt>049569794dc9b4fd69e871985dbc7bce90e498ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kcalc-20.04.3.tar.xz">kcalc-20.04.3</a></td>
   <td align="right">364 kB</td>
   <td><tt>8f8247dd6b94f64dcf09b6f31ce59f3c302d558f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kcalutils-20.04.3.tar.xz">kcalutils-20.04.3</a></td>
   <td align="right">311 kB</td>
   <td><tt>5a90d287cfc5d8a02f28de51ca099e3e056f59d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kcharselect-20.04.3.tar.xz">kcharselect-20.04.3</a></td>
   <td align="right">327 kB</td>
   <td><tt>4c60c756862e40a2ea55ace8748b0c0a48f86011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kcolorchooser-20.04.3.tar.xz">kcolorchooser-20.04.3</a></td>
   <td align="right">21 kB</td>
   <td><tt>bfb6bdf750dce910c3f4b2f006008ee6b3cfca67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kcron-20.04.3.tar.xz">kcron-20.04.3</a></td>
   <td align="right">872 kB</td>
   <td><tt>5f69a3c961c87367320fb33c6bb2e6aa1bbae664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdav-20.04.3.tar.xz">kdav-20.04.3</a></td>
   <td align="right">56 kB</td>
   <td><tt>dc12a0e52125d72256060e436852c757a20b6c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdebugsettings-20.04.3.tar.xz">kdebugsettings-20.04.3</a></td>
   <td align="right">63 kB</td>
   <td><tt>0e5577751e9ba150382d7267290acad6f03356ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdeconnect-kde-20.04.3.tar.xz">kdeconnect-kde-20.04.3</a></td>
   <td align="right">420 kB</td>
   <td><tt>6cb04d0cf7d30ec9582204ee216f2c6f6ff52d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kde-dev-scripts-20.04.3.tar.xz">kde-dev-scripts-20.04.3</a></td>
   <td align="right">369 kB</td>
   <td><tt>e3e4dbf6e491f0883bf80423ad615e9ccfd4a862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kde-dev-utils-20.04.3.tar.xz">kde-dev-utils-20.04.3</a></td>
   <td align="right">63 kB</td>
   <td><tt>02a1a2bf61d028a60fa08abfa0e485f1b25b8329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdeedu-data-20.04.3.tar.xz">kdeedu-data-20.04.3</a></td>
   <td align="right">321 kB</td>
   <td><tt>9952b501967b8a573cb61eb8531de48d7c0fd2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdegraphics-mobipocket-20.04.3.tar.xz">kdegraphics-mobipocket-20.04.3</a></td>
   <td align="right">16 kB</td>
   <td><tt>2094127c9ae956052aaa5fbbd5ab08523cd4e48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdegraphics-thumbnailers-20.04.3.tar.xz">kdegraphics-thumbnailers-20.04.3</a></td>
   <td align="right">45 kB</td>
   <td><tt>52d707c81a5a2df85f04b94b30c60bbfafa32937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdenetwork-filesharing-20.04.3.tar.xz">kdenetwork-filesharing-20.04.3</a></td>
   <td align="right">312 kB</td>
   <td><tt>4f6a8543d56ef058f8f730b54d5ccebf2bb41795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdenlive-20.04.3.tar.xz">kdenlive-20.04.3</a></td>
   <td align="right">11026 kB</td>
   <td><tt>6664c029c236f96dfc4483d8575f8cfbc465ae53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdepim-addons-20.04.3.tar.xz">kdepim-addons-20.04.3</a></td>
   <td align="right">2016 kB</td>
   <td><tt>8ad5d1ad760d5b114e67b79d3442471298dd6cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdepim-apps-libs-20.04.3.tar.xz">kdepim-apps-libs-20.04.3</a></td>
   <td align="right">82 kB</td>
   <td><tt>887e08b456678aefdd88f25cf039a6527d98e1c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdepim-runtime-20.04.3.tar.xz">kdepim-runtime-20.04.3</a></td>
   <td align="right">1699 kB</td>
   <td><tt>4ad05a442cbc92e94953e6278e2f16ba42116432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdesdk-kioslaves-20.04.3.tar.xz">kdesdk-kioslaves-20.04.3</a></td>
   <td align="right">36 kB</td>
   <td><tt>ad134a41f3c18e4286eca1fec4d57b15e7707060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdesdk-thumbnailers-20.04.3.tar.xz">kdesdk-thumbnailers-20.04.3</a></td>
   <td align="right">17 kB</td>
   <td><tt>3af3f663466709a403aa123a74cec5bc2f4df181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdf-20.04.3.tar.xz">kdf-20.04.3</a></td>
   <td align="right">451 kB</td>
   <td><tt>a63ee121198c7980ce9fa12a27f65efed100306b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdialog-20.04.3.tar.xz">kdialog-20.04.3</a></td>
   <td align="right">101 kB</td>
   <td><tt>92b91dd59cb6848a2b3ec2d2b89016424af9da3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kdiamond-20.04.3.tar.xz">kdiamond-20.04.3</a></td>
   <td align="right">4584 kB</td>
   <td><tt>dfbb476af87e37fd53228a1d390b0ed88c930137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/keditbookmarks-20.04.3.tar.xz">keditbookmarks-20.04.3</a></td>
   <td align="right">183 kB</td>
   <td><tt>3e4204b936eb2ea145b24ff63ed69e369d23ae87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kfind-20.04.3.tar.xz">kfind-20.04.3</a></td>
   <td align="right">265 kB</td>
   <td><tt>1c005c7d7202bf8965fd9e53fc11cd78899f3b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kfloppy-20.04.3.tar.xz">kfloppy-20.04.3</a></td>
   <td align="right">194 kB</td>
   <td><tt>33c81d6e826aa8e88532fa2507b2716646149895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kfourinline-20.04.3.tar.xz">kfourinline-20.04.3</a></td>
   <td align="right">624 kB</td>
   <td><tt>7acbb61204edb5970785eed5f252cd5a366d56da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kgeography-20.04.3.tar.xz">kgeography-20.04.3</a></td>
   <td align="right">10616 kB</td>
   <td><tt>06f6ed78e54d624cc89adb7693ece5b95a98593d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kget-20.04.3.tar.xz">kget-20.04.3</a></td>
   <td align="right">5115 kB</td>
   <td><tt>a9853655cb841352d5a844678a706fd941008510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kgoldrunner-20.04.3.tar.xz">kgoldrunner-20.04.3</a></td>
   <td align="right">4324 kB</td>
   <td><tt>620ca95f39b4c679d2f84d5c35fbd38ce1c717fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kgpg-20.04.3.tar.xz">kgpg-20.04.3</a></td>
   <td align="right">2725 kB</td>
   <td><tt>5cba52b101580e709c9c9cfc764cc4a17be012e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/khangman-20.04.3.tar.xz">khangman-20.04.3</a></td>
   <td align="right">6944 kB</td>
   <td><tt>6c0504cc909d6b14cee6a4c145d38611b77cc999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/khelpcenter-20.04.3.tar.xz">khelpcenter-20.04.3</a></td>
   <td align="right">3755 kB</td>
   <td><tt>98dd79e7080f6908451a9ff2ef6e606484874abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kidentitymanagement-20.04.3.tar.xz">kidentitymanagement-20.04.3</a></td>
   <td align="right">146 kB</td>
   <td><tt>1de5ee166e1d3565e8b5599ef3439df5760758dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kig-20.04.3.tar.xz">kig-20.04.3</a></td>
   <td align="right">3401 kB</td>
   <td><tt>af6f94695587d499c3f05ff5fefaaf63af778015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kigo-20.04.3.tar.xz">kigo-20.04.3</a></td>
   <td align="right">5104 kB</td>
   <td><tt>caf671aacc5c116f6b7ec266f482347cc83cf584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/killbots-20.04.3.tar.xz">killbots-20.04.3</a></td>
   <td align="right">1146 kB</td>
   <td><tt>e706e44e2fbeb35a194667ab20a8267d85b5cb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kimagemapeditor-20.04.3.tar.xz">kimagemapeditor-20.04.3</a></td>
   <td align="right">1046 kB</td>
   <td><tt>baf11b7eb27898360d7b4cf3ea6173c856b28de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kimap-20.04.3.tar.xz">kimap-20.04.3</a></td>
   <td align="right">116 kB</td>
   <td><tt>0734c7410af4b85cbc1a734309e95110567b6391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kio-extras-20.04.3.tar.xz">kio-extras-20.04.3</a></td>
   <td align="right">603 kB</td>
   <td><tt>f711795ecedb7ee88bb0e22e6b2cf9cc9862ddb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kipi-plugins-20.04.3.tar.xz">kipi-plugins-20.04.3</a></td>
   <td align="right">1604 kB</td>
   <td><tt>307aae00c26d977f2d5e79b360f9bc35f0ae1e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kirigami-gallery-20.04.3.tar.xz">kirigami-gallery-20.04.3</a></td>
   <td align="right">273 kB</td>
   <td><tt>6dcb460e51c28d30f06a7a14f901cacfecf63554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kiriki-20.04.3.tar.xz">kiriki-20.04.3</a></td>
   <td align="right">364 kB</td>
   <td><tt>d72bef157acb9bba8d93cc6d458ed053b98629a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kiten-20.04.3.tar.xz">kiten-20.04.3</a></td>
   <td align="right">11021 kB</td>
   <td><tt>f0b9b2882355e29683c8ebe8a61aa777a192d002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kitinerary-20.04.3.tar.xz">kitinerary-20.04.3</a></td>
   <td align="right">1250 kB</td>
   <td><tt>057b87116e6712488ea1f89726f4aa00fefaa341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kjumpingcube-20.04.3.tar.xz">kjumpingcube-20.04.3</a></td>
   <td align="right">282 kB</td>
   <td><tt>8ecf98d57c933f211eb680b136ae8823e9506af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kldap-20.04.3.tar.xz">kldap-20.04.3</a></td>
   <td align="right">145 kB</td>
   <td><tt>2b0b2efd4157e3c0d09bab89bff1d3bc25cad154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kleopatra-20.04.3.tar.xz">kleopatra-20.04.3</a></td>
   <td align="right">1890 kB</td>
   <td><tt>5794eda370199d4c4391b750bf43e6af0de63a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/klettres-20.04.3.tar.xz">klettres-20.04.3</a></td>
   <td align="right">45735 kB</td>
   <td><tt>fca7cff7ad041a51dad559a43a0d18e8212a2e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/klickety-20.04.3.tar.xz">klickety-20.04.3</a></td>
   <td align="right">1357 kB</td>
   <td><tt>c0eae04d35d4e9293cb60555faa4f45cf5aed05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/klines-20.04.3.tar.xz">klines-20.04.3</a></td>
   <td align="right">1740 kB</td>
   <td><tt>f5bf10e07222f01ab661c6e9b3e6b540d5b47d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmag-20.04.3.tar.xz">kmag-20.04.3</a></td>
   <td align="right">658 kB</td>
   <td><tt>0f5886d7f18227aa5f9dc7246d6fb49d72525928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmahjongg-20.04.3.tar.xz">kmahjongg-20.04.3</a></td>
   <td align="right">3347 kB</td>
   <td><tt>90e69875ea1c4f47983f099b84b3058085659f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmail-20.04.3.tar.xz">kmail-20.04.3</a></td>
   <td align="right">4609 kB</td>
   <td><tt>87640b85e3913e9ff8bf4ab2ed14ae5035ad5822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmail-account-wizard-20.04.3.tar.xz">kmail-account-wizard-20.04.3</a></td>
   <td align="right">154 kB</td>
   <td><tt>b9392be277a544f6f88f2067a7af13dffcef7c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmailtransport-20.04.3.tar.xz">kmailtransport-20.04.3</a></td>
   <td align="right">162 kB</td>
   <td><tt>b2826333bcee3a576fd2e7a6607db568646f401a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmbox-20.04.3.tar.xz">kmbox-20.04.3</a></td>
   <td align="right">24 kB</td>
   <td><tt>5c42640f825f7b4e12b3edbd2239553bc6defaa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmime-20.04.3.tar.xz">kmime-20.04.3</a></td>
   <td align="right">145 kB</td>
   <td><tt>1f9be05bb730675e987ea7e03576ed10bb2e975f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmines-20.04.3.tar.xz">kmines-20.04.3</a></td>
   <td align="right">878 kB</td>
   <td><tt>b6b597291b00c110b571676a9214fb54375c10a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmix-20.04.3.tar.xz">kmix-20.04.3</a></td>
   <td align="right">983 kB</td>
   <td><tt>a2a4802bd08e79c985e2cab732011312eef11ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmousetool-20.04.3.tar.xz">kmousetool-20.04.3</a></td>
   <td align="right">110 kB</td>
   <td><tt>af986cc4163c7b13e94b340ae4f0f8b5b9826b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmouth-20.04.3.tar.xz">kmouth-20.04.3</a></td>
   <td align="right">1918 kB</td>
   <td><tt>bab4e881c5d246faa93c8d8f36560bce259a9e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kmplot-20.04.3.tar.xz">kmplot-20.04.3</a></td>
   <td align="right">2983 kB</td>
   <td><tt>38981e165c5b359f0eb273346fbbaeaceac9ea26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/knavalbattle-20.04.3.tar.xz">knavalbattle-20.04.3</a></td>
   <td align="right">1252 kB</td>
   <td><tt>b2b0279cd2e165956e24508a62ed499887def37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/knetwalk-20.04.3.tar.xz">knetwalk-20.04.3</a></td>
   <td align="right">1229 kB</td>
   <td><tt>47b9d9666adc3fc2c8e62c9264670572ab67a41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/knights-20.04.3.tar.xz">knights-20.04.3</a></td>
   <td align="right">3440 kB</td>
   <td><tt>dcbfa9579c8daffacd187a6b4dd64880d442fa76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/knotes-20.04.3.tar.xz">knotes-20.04.3</a></td>
   <td align="right">313 kB</td>
   <td><tt>1488a86be0dbfb364adb263ce01939a5e8b7f119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kolf-20.04.3.tar.xz">kolf-20.04.3</a></td>
   <td align="right">997 kB</td>
   <td><tt>7c5e055cc7d4b8ff987864339383b222065659ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kollision-20.04.3.tar.xz">kollision-20.04.3</a></td>
   <td align="right">274 kB</td>
   <td><tt>bcef197f06dc0179e6bfc7406db5ee13632ff992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kolourpaint-20.04.3.tar.xz">kolourpaint-20.04.3</a></td>
   <td align="right">5519 kB</td>
   <td><tt>b07fb2a40a4e9614c156a04d3145c53d6ca69b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kompare-20.04.3.tar.xz">kompare-20.04.3</a></td>
   <td align="right">783 kB</td>
   <td><tt>0c53883c1b6be46e6e851b04ef15f5076a7e5b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/konqueror-20.04.3.tar.xz">konqueror-20.04.3</a></td>
   <td align="right">7201 kB</td>
   <td><tt>59993c18b2df7d3b0c3a8eaf646b1fec4c4c798d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/konquest-20.04.3.tar.xz">konquest-20.04.3</a></td>
   <td align="right">644 kB</td>
   <td><tt>f9fb2dc6dfe77ce784a28ba2acc493fc23446c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/konsole-20.04.3.tar.xz">konsole-20.04.3</a></td>
   <td align="right">1146 kB</td>
   <td><tt>2d1ccba586d9fcddf6b48a871153fd6451c21e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kontact-20.04.3.tar.xz">kontact-20.04.3</a></td>
   <td align="right">774 kB</td>
   <td><tt>b279053e4bc62eea408cb4ff0aefb1881a7bbaf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kontactinterface-20.04.3.tar.xz">kontactinterface-20.04.3</a></td>
   <td align="right">32 kB</td>
   <td><tt>3a364494d837cb8e63f60f85f5f19fc8abf62900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kopete-20.04.3.tar.xz">kopete-20.04.3</a></td>
   <td align="right">9152 kB</td>
   <td><tt>a123b1e7ddc077aa8874c2c208ad0297a8c71157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/korganizer-20.04.3.tar.xz">korganizer-20.04.3</a></td>
   <td align="right">2188 kB</td>
   <td><tt>2aec631d156b42304b5fcfbaf00db28d6498001e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kpat-20.04.3.tar.xz">kpat-20.04.3</a></td>
   <td align="right">3495 kB</td>
   <td><tt>bfd1c345a3d45bbd27417aa360cf5380780eac51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kpimtextedit-20.04.3.tar.xz">kpimtextedit-20.04.3</a></td>
   <td align="right">178 kB</td>
   <td><tt>8658ee34f19810e699e4558c05eae740a0b48ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kpkpass-20.04.3.tar.xz">kpkpass-20.04.3</a></td>
   <td align="right">22 kB</td>
   <td><tt>e39f283f756f8857ceecebf320179f7a8c6f95b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kqtquickcharts-20.04.3.tar.xz">kqtquickcharts-20.04.3</a></td>
   <td align="right">25 kB</td>
   <td><tt>0bd14a599a4b98bd6c60bdd15a202bd95951214a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/krdc-20.04.3.tar.xz">krdc-20.04.3</a></td>
   <td align="right">1391 kB</td>
   <td><tt>9b0c9ba961babdcc2a96d0bbea4c6e4fd28d82a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kreversi-20.04.3.tar.xz">kreversi-20.04.3</a></td>
   <td align="right">924 kB</td>
   <td><tt>7dcb27e760ebd594055be7c8d6ec3b8acd19bf49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/krfb-20.04.3.tar.xz">krfb-20.04.3</a></td>
   <td align="right">1246 kB</td>
   <td><tt>090ac6b8ddaec7e96b45d8ecfc9afafabf1851cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kross-interpreters-20.04.3.tar.xz">kross-interpreters-20.04.3</a></td>
   <td align="right">147 kB</td>
   <td><tt>3969551f1ca9fe515a313462c8af40ffa5dcf144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kruler-20.04.3.tar.xz">kruler-20.04.3</a></td>
   <td align="right">244 kB</td>
   <td><tt>f31ceff9f34b6367cc055165dea211084193ef1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kshisen-20.04.3.tar.xz">kshisen-20.04.3</a></td>
   <td align="right">802 kB</td>
   <td><tt>59ec55251db5ea280a9a6a6baa6a230ac7738c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ksirk-20.04.3.tar.xz">ksirk-20.04.3</a></td>
   <td align="right">6827 kB</td>
   <td><tt>c08305147d1f0641f45aeca7213914fd9d95584d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ksmtp-20.04.3.tar.xz">ksmtp-20.04.3</a></td>
   <td align="right">40 kB</td>
   <td><tt>7a497a208ce67022b6947bae9c987d66416ad37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ksnakeduel-20.04.3.tar.xz">ksnakeduel-20.04.3</a></td>
   <td align="right">591 kB</td>
   <td><tt>16dc887e22779cb08de5567640eb59f5a5468c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kspaceduel-20.04.3.tar.xz">kspaceduel-20.04.3</a></td>
   <td align="right">597 kB</td>
   <td><tt>bf74fda6e8a587f91411597ee24cfd7d5e6bbcf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ksquares-20.04.3.tar.xz">ksquares-20.04.3</a></td>
   <td align="right">255 kB</td>
   <td><tt>c9b8fc77edcaed693cd07bbbd26fe35f4e8916a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ksudoku-20.04.3.tar.xz">ksudoku-20.04.3</a></td>
   <td align="right">1616 kB</td>
   <td><tt>11b6b306dddf83bb775cee13e70124f89e67feb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ksystemlog-20.04.3.tar.xz">ksystemlog-20.04.3</a></td>
   <td align="right">1886 kB</td>
   <td><tt>7662941c63b822e5cc4707a25338bd25b52790d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kteatime-20.04.3.tar.xz">kteatime-20.04.3</a></td>
   <td align="right">280 kB</td>
   <td><tt>ef4aa86bc59b3871b3fa1c330a3815ac34c75af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktimer-20.04.3.tar.xz">ktimer-20.04.3</a></td>
   <td align="right">369 kB</td>
   <td><tt>e70f414242c94e382abfc4b98d10450ae88232b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktnef-20.04.3.tar.xz">ktnef-20.04.3</a></td>
   <td align="right">292 kB</td>
   <td><tt>805544058634411dad16a677406fb4f2189021f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktouch-20.04.3.tar.xz">ktouch-20.04.3</a></td>
   <td align="right">4821 kB</td>
   <td><tt>d02cd519c13257ee1fb7ba8f1acda50245099d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-accounts-kcm-20.04.3.tar.xz">ktp-accounts-kcm-20.04.3</a></td>
   <td align="right">255 kB</td>
   <td><tt>6f6843991db231c926f31d20d314775517f6b21a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-approver-20.04.3.tar.xz">ktp-approver-20.04.3</a></td>
   <td align="right">36 kB</td>
   <td><tt>7c160435552197018c7f96d46bad0b4731eaf6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-auth-handler-20.04.3.tar.xz">ktp-auth-handler-20.04.3</a></td>
   <td align="right">45 kB</td>
   <td><tt>bacef72cc4fc8dbbb336e44fcdf42719c14ba623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-call-ui-20.04.3.tar.xz">ktp-call-ui-20.04.3</a></td>
   <td align="right">94 kB</td>
   <td><tt>52749ccf3ced2d7f9ef2b546ff07fe2f2a37a0d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-common-internals-20.04.3.tar.xz">ktp-common-internals-20.04.3</a></td>
   <td align="right">438 kB</td>
   <td><tt>f76c1c5007350726f8e03facbe87927b2637a621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-contact-list-20.04.3.tar.xz">ktp-contact-list-20.04.3</a></td>
   <td align="right">145 kB</td>
   <td><tt>1b8075e2cf9f692a4e40af5695376a1056bb8330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-contact-runner-20.04.3.tar.xz">ktp-contact-runner-20.04.3</a></td>
   <td align="right">41 kB</td>
   <td><tt>d8f81c86a0b1137c2130120e61b3542346ddedc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-desktop-applets-20.04.3.tar.xz">ktp-desktop-applets-20.04.3</a></td>
   <td align="right">42 kB</td>
   <td><tt>4d3724c4958468ed136ee6c7f9d55c5bb8a723e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-filetransfer-handler-20.04.3.tar.xz">ktp-filetransfer-handler-20.04.3</a></td>
   <td align="right">45 kB</td>
   <td><tt>8b90c0346082469c8fa9df22bc089f64ead54c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-kded-module-20.04.3.tar.xz">ktp-kded-module-20.04.3</a></td>
   <td align="right">95 kB</td>
   <td><tt>aafa24de362f0dcc4fd3811a257ad2887583a644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-send-file-20.04.3.tar.xz">ktp-send-file-20.04.3</a></td>
   <td align="right">27 kB</td>
   <td><tt>03eeaecefa390e42df57b975700b1865619011dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktp-text-ui-20.04.3.tar.xz">ktp-text-ui-20.04.3</a></td>
   <td align="right">458 kB</td>
   <td><tt>eb72432ae8359bdf576ad7428324d1ba96920ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/ktuberling-20.04.3.tar.xz">ktuberling-20.04.3</a></td>
   <td align="right">69048 kB</td>
   <td><tt>12c4f81a12ebd6ad68077f262eec079e5585cdc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kturtle-20.04.3.tar.xz">kturtle-20.04.3</a></td>
   <td align="right">1790 kB</td>
   <td><tt>f61c4fd9e08beed61376be1b897971ad571585f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kubrick-20.04.3.tar.xz">kubrick-20.04.3</a></td>
   <td align="right">310 kB</td>
   <td><tt>7f4a87b89ce24f11d87660f8a435c45564a3b3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kwalletmanager-20.04.3.tar.xz">kwalletmanager-20.04.3</a></td>
   <td align="right">751 kB</td>
   <td><tt>96f388dbde59f7253c748a2e22d16e67e768357f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kwave-20.04.3.tar.xz">kwave-20.04.3</a></td>
   <td align="right">6050 kB</td>
   <td><tt>9086f1aab62acde086b6596615df2569e09987d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/kwordquiz-20.04.3.tar.xz">kwordquiz-20.04.3</a></td>
   <td align="right">4079 kB</td>
   <td><tt>416a207a83c69519d0fac10a6d7a2890073fc59d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libgravatar-20.04.3.tar.xz">libgravatar-20.04.3</a></td>
   <td align="right">30 kB</td>
   <td><tt>83693aed5f3df5602bcf072a1b29ca3c6fd7816d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkcddb-20.04.3.tar.xz">libkcddb-20.04.3</a></td>
   <td align="right">417 kB</td>
   <td><tt>ced45777f0f58b5bb80d64541adca487ed648ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkcompactdisc-20.04.3.tar.xz">libkcompactdisc-20.04.3</a></td>
   <td align="right">86 kB</td>
   <td><tt>efd1f32a5e0ff15ba6bf2736beda8438ef752406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkdcraw-20.04.3.tar.xz">libkdcraw-20.04.3</a></td>
   <td align="right">40 kB</td>
   <td><tt>1dce2d96211938b0e1934cce2e367531cc81a8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkdegames-20.04.3.tar.xz">libkdegames-20.04.3</a></td>
   <td align="right">6234 kB</td>
   <td><tt>98953a932f922b82f45d0dd83f2140a0b36f5155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkdepim-20.04.3.tar.xz">libkdepim-20.04.3</a></td>
   <td align="right">325 kB</td>
   <td><tt>2120696f4f0ba92e0d6fde0d5cd554a24a32482c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkeduvocdocument-20.04.3.tar.xz">libkeduvocdocument-20.04.3</a></td>
   <td align="right">202 kB</td>
   <td><tt>84ff411699ab481a0eca3acf653c6d60c02ad3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkexiv2-20.04.3.tar.xz">libkexiv2-20.04.3</a></td>
   <td align="right">63 kB</td>
   <td><tt>6dc2b219d1ca6af82a367e31c11b6875fa547c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkgapi-20.04.3.tar.xz">libkgapi-20.04.3</a></td>
   <td align="right">234 kB</td>
   <td><tt>9aa90dfeecdb9a2bc11ab56ed9103e1a2f6350c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkgeomap-20.04.3.tar.xz">libkgeomap-20.04.3</a></td>
   <td align="right">147 kB</td>
   <td><tt>250a21eacd4305c429ad4bfa7833f3c12f803d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkipi-20.04.3.tar.xz">libkipi-20.04.3</a></td>
   <td align="right">101 kB</td>
   <td><tt>79b0aebbaf026d60bf30337dbf2b8f87c8de10dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkleo-20.04.3.tar.xz">libkleo-20.04.3</a></td>
   <td align="right">342 kB</td>
   <td><tt>7730cbbe9e943caa8aa0e7a9abd14fcb2e9c7860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkmahjongg-20.04.3.tar.xz">libkmahjongg-20.04.3</a></td>
   <td align="right">1645 kB</td>
   <td><tt>15059b4987440a41fcc0e849a9209084c8c248b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libkomparediff2-20.04.3.tar.xz">libkomparediff2-20.04.3</a></td>
   <td align="right">166 kB</td>
   <td><tt>67e8ee59cf1b5bc6694ccfbacda680015a5a9cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libksane-20.04.3.tar.xz">libksane-20.04.3</a></td>
   <td align="right">140 kB</td>
   <td><tt>b7a7ccf6c2626471e4fe6f6a54b6191bbca8126c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/libksieve-20.04.3.tar.xz">libksieve-20.04.3</a></td>
   <td align="right">542 kB</td>
   <td><tt>485893a07e97c57219bb010a05429af6218c5c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/lokalize-20.04.3.tar.xz">lokalize-20.04.3</a></td>
   <td align="right">1678 kB</td>
   <td><tt>5b4fbb0127bf40bcd7e4b5e61662226f147704b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/lskat-20.04.3.tar.xz">lskat-20.04.3</a></td>
   <td align="right">1191 kB</td>
   <td><tt>f6d1f7b2ffc2bcccb6a8c2ff464b735c027910d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/mailcommon-20.04.3.tar.xz">mailcommon-20.04.3</a></td>
   <td align="right">690 kB</td>
   <td><tt>9e653e8cb371e828e4937eb8eb2f778f41051cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/mailimporter-20.04.3.tar.xz">mailimporter-20.04.3</a></td>
   <td align="right">527 kB</td>
   <td><tt>d0f334cd1d9f457211c187f578c610834f023d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/marble-20.04.3.tar.xz">marble-20.04.3</a></td>
   <td align="right">50977 kB</td>
   <td><tt>9e0c4a560096b3d22ccd08a2038eb77fdfaca719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/mbox-importer-20.04.3.tar.xz">mbox-importer-20.04.3</a></td>
   <td align="right">32 kB</td>
   <td><tt>4c219e8375f0ba38f55425ea6e3008f7f163bda2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/messagelib-20.04.3.tar.xz">messagelib-20.04.3</a></td>
   <td align="right">10265 kB</td>
   <td><tt>a2117d76b3c1c2b5f2d1d776c509e2e64efaf4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/minuet-20.04.3.tar.xz">minuet-20.04.3</a></td>
   <td align="right">26955 kB</td>
   <td><tt>8f6674dd8dba277828da816d5b0833e89d46f6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/okular-20.04.3.tar.xz">okular-20.04.3</a></td>
   <td align="right">7066 kB</td>
   <td><tt>61ab0378257bf3e966dcaafcaee5bbf521ea4a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/palapeli-20.04.3.tar.xz">palapeli-20.04.3</a></td>
   <td align="right">2023 kB</td>
   <td><tt>c6c8e9041e3b10e2f8ef0feb5e44e32e65ba2186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/parley-20.04.3.tar.xz">parley-20.04.3</a></td>
   <td align="right">8631 kB</td>
   <td><tt>8e44e022d97ad4f5c8c09d762f6f5608ac9324cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/picmi-20.04.3.tar.xz">picmi-20.04.3</a></td>
   <td align="right">1328 kB</td>
   <td><tt>dd08a2281b6a21b47d6ddee41d1a7f474cfa8f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/pimcommon-20.04.3.tar.xz">pimcommon-20.04.3</a></td>
   <td align="right">287 kB</td>
   <td><tt>d5098ed2e5755d785a4137621b1efe11c6219c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/pim-data-exporter-20.04.3.tar.xz">pim-data-exporter-20.04.3</a></td>
   <td align="right">271 kB</td>
   <td><tt>74738c5a659ac82820ac49b7b43d2448bb7341a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/pim-sieve-editor-20.04.3.tar.xz">pim-sieve-editor-20.04.3</a></td>
   <td align="right">442 kB</td>
   <td><tt>005671c0c58493764b015a4d2b8a333c517f8a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/poxml-20.04.3.tar.xz">poxml-20.04.3</a></td>
   <td align="right">42 kB</td>
   <td><tt>7dad51e35ebd94f0e7141a9a3c67018e95659bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/print-manager-20.04.3.tar.xz">print-manager-20.04.3</a></td>
   <td align="right">249 kB</td>
   <td><tt>4565bee89126cd3a6ea7ff3e8c4f16e700a012cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/rocs-20.04.3.tar.xz">rocs-20.04.3</a></td>
   <td align="right">1470 kB</td>
   <td><tt>a908e7a64617029af97f425e477a1549fa98c414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/signon-kwallet-extension-20.04.3.tar.xz">signon-kwallet-extension-20.04.3</a></td>
   <td align="right">10 kB</td>
   <td><tt>46d1beebda67f454c5812bf7b2f361517d5ea988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/spectacle-20.04.3.tar.xz">spectacle-20.04.3</a></td>
   <td align="right">646 kB</td>
   <td><tt>8515c4f4a00d689508be05b150ced69891dba57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/step-20.04.3.tar.xz">step-20.04.3</a></td>
   <td align="right">907 kB</td>
   <td><tt>74f00bb169852b24f7df06fdea605e6ae2d6a300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/svgpart-20.04.3.tar.xz">svgpart-20.04.3</a></td>
   <td align="right">20 kB</td>
   <td><tt>2bf308c7cc01f9ac8ddf90335b9cc0a1cd495584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/sweeper-20.04.3.tar.xz">sweeper-20.04.3</a></td>
   <td align="right">359 kB</td>
   <td><tt>9d6d81bb085c87a9692ed95cd6509ce976d14887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/umbrello-20.04.3.tar.xz">umbrello-20.04.3</a></td>
   <td align="right">5416 kB</td>
   <td><tt>818af1076460c0bba76d61357eb5a36b6875bfd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/yakuake-20.04.3.tar.xz">yakuake-20.04.3</a></td>
   <td align="right">365 kB</td>
   <td><tt>38e12088776457283c68667a0207314982da8ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.3/src/zeroconf-ioslave-20.04.3.tar.xz">zeroconf-ioslave-20.04.3</a></td>
   <td align="right">41 kB</td>
   <td><tt>b074d57386305da901baf2fc3fdb5d1976c9e260</tt></td>
</tr>

</table>
